{% extends "layouts/menu.twig" %}
{% set sidebar_name = "game" %}
{% block content %}
    <div class="row-fluid">
    {% include "game/menu.twig" %}
    <div class="form">
    {{ void(this.widget('bootstrap.widgets.TbDetailView',{
            'data':model,
            'attributes':{
                0:'id',
                1:'name',
                4:{'name':'所属分类','value':model.gameterm.name},
                5:'desc',
                9:'image',
                12:'created_uid',
                13:'modified_uid',
                14:'publish_date',
                15:'created',
                16:'modified',
            },})) 
         }} 
    </div>
  </div>
</div>
{% endblock %}