{% extends "@pp/brand/index.twig" %}
{% set menu_name="广告管理"%}
{% set sidebar_name = "导航条新品管理" %}
{% block content %}
{% include "layouts/notice.twig" %}
<a href="/pp/click/addnew">新建新品</a>
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'id',
                1:'name',
                2:'url',
                3:'created',
                5:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':' {update} {delete}',
                     'buttons':{
                      'update':{'url':'Yii::app()->createUrl("pp/click/updatenew/id/$data->id")'},
                      'delete':{'url':'Yii::app()->createUrl("pp/click/deletenew/id/$data->id")'},
                      }
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}