{% extends "activity/index.twig" %}
{% set menu_name="活动"%}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
      {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':pages,
            'columns':{
                0:{
                  'name':'Id',
                  'value':'$data->page->id'
                },
                1:{
                  'name':"页面名",
                  "value":'$data->page->name',
                },
                2:{
                  "name":"状态",
                  "value":'Page::convertPageStatus($data->page->status)',
                },
                3:{
                	"type":'raw',
                	'value':'CHtml::link("预览",Yii::app()->createUrl("/cms/page/preview",array("id"=>$data->page->id)),
					array( "target"=>"_blank"))',
            	},
            	4:{
            		'type':'raw',
            		'value':'CHtml::link($data->page->status == 0 ? "" : ($data->page->status == 1 ? "发布" : "重新发布"),Yii::app()->createUrl("/cms/page/publish",array("id"=>$data->page->id)))',
            	},
            	5:{
            		'type':'raw',
            		'value':'CHtml::link("修改",Yii::app()->createUrl("/activity/update",array("id"=>$data->page_id)))'
            	}
            },})) 
         }} 
    </div>
</div>
{% endblock %}