{% extends "@pp/brand/index.twig" %}
{% set menu_name="品牌管理"%}
{% set sidebar_name = "品牌列表" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'id',
                1:'name',
                2:'desc',
                3:'created',
                4:'modified',
                5:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':' {update} {delete}'
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}