{% extends "/pay/base.twig" %}
{% set page_title = "充值帮助" %}
{% set nav_name = "help" %}
{% block content %}
    <div class="paymain clearfix">
          {% include "/pay/left.twig"%}
        <div class="pay_right">
          <!-- 网上银行 -->
          <div class="paycontent clearfix" id="method_1">
            <div class="faq_div">
                <h3>1、问：什么是点券？</h3>
              <p>答：点券是1378网站注册用户使用1378网站各种增值服务和游戏的虚拟货币。</p>
              <h3>2、问：点券有什么用？</h3>
              <p>答：可以用来兑换1378网站游戏币及其他后续推出的相关增值服务。</p>
              <h3>3、问：如何获取点券？</h3>
              <p>答：用户可以通过在线充值服务进行点券充值，也可以参加1378的一些活动获得相应的奖励。</p>
              <h3>4、问：人民币充值点券的比例是多少？</h3>
              <p>答：1人民币可以充值1点券，当中1378做活动时也会做更多的优惠比例活动，敬请关注1378运营游戏的活动专题页面。</p>
              <h3>5、问：充值后多长时间可以到账？</h3>
              <p>答：一般网上银行在线充值可立即到账。因为网络可能存在数据延迟等因素，如点券账户更新不及时，建议您在2个小时后之后，看看您的余额是否有变化！如果已经扣款而您没有收到点券的话，我们会根据记录在1个工作日之内进行补送。</p>
              <h3>6、问：点券可以兑换人民币吗？</h3>
              <p>答：不可以。</p>
              <h3>7、问：点券可以赠送吗？</h3>
              <p>答：为了用户的账户安全，现阶段不支持赠送点券。</p>
              
              <p style="color:#333;border-top:1px solid #ccc; "><span class="red">注：</span>请充值时务必确认好您的充值金额准确无误后再进行充值，避免输错金额导致的失误，如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。</p>

              <p style="color:#333">如果您有其他问题，还可以通过在线客服为您解决。<br>
                  在线客服QQ：4007771367<br>
                  在线客服电话：400-808-1367</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
