<div class="pay_left">
            <div class="pic"><img src="{{ App.assets.Url}}/images/pay/juan_logo.png" /></div>
            <span class="ratio">1点券/元</span>
            <p style="text-align:center;">
              您当前可兑换的点券:<span class="red">{{ u.gold }}</span><br>
              <a href="/pay" class="ablue"><img src="{{ App.assets.Url}}/images/pay/dq_btn.png" style="margin:15px 0;"></a>
            </p>
            <p>
              1378点券是1378网站注册用户使用1378网站各种增值服务和游戏币的兑换代币。<br>
            </p>
        </div>