{% extends "/pay/base.twig" %}
{% set page_title = "充值订单" %}
{% block content %}
<div class="paymain clearfix">
          <div class="pay_left">
            <div class="pic"><img src="{{ App.assets.Url}}/images/pay/juan_logo.png" /></div>
            <span class="ratio">1点券/元</span>
            <p>
              您当前可兑换的点券:<span class="red">{{ u.gold }}</span><br>
              <a href="/pay" class="ablue">充值点券</a><br><br>
              1378点卷是1378网站注册用户使用1378网站各种增值服务和游戏币的兑换代币。<br>
            </p>
        </div>
        <div class="pay_right">
          <!-- 网上银行 -->
          <div class="paycontent clearfix" id="method_1">
            <div class="pay_succ">
                <p class="succ error warning">
                    <span class="red">
                        {% if order.pay_status == 1 %}
                            您已支付成功!
                        {% else %}
                            支付失败
                        {% endif %}
                    </span>
                    <br>
                    <a href="/pay" class="ablue">继续支付</a> | <a href="/pay" class="ablue">返回充值首页</a>
                </p>
            </div>
          </div>
        </div>
      </div>
{% endblock %} 
