{% extends "other/index.twig" %}
{% set menu_name="页面"%}
{% set sidebar_name = "新建页面" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
      {% include "other/form.twig" %}
    </div>
</div>
{% endblock %}

