{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="/">Home</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>SHIPPING</dt>
                <dd><a href="/shipping/returns">Returns</a></dd>
                <dd class="cur"><a href="/shipping/insurance">Insurance</a></dd>
                <dd><a href="/shipping/options">Shipping Options</a></dd>
                <dd><a href="/shipping/shippingtime">Shipping Time</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="myorder">
                <div class="title">Insurance</div>
                <div class="content" id="tracking">
                    <p>
                        Shipping insurance is available for all orders whether Economy air mail, or EMS Shipping options. It protects your package if it is damaged or lost while in transit from one destination to another. Buyers can ask compensation from shipping company once your package lost, stolen or damaged if order with insurance. The shipping insurance is optional. If no shipping insurance is purchased, AIAIG.com will not be held accountable for any lost, stolen, or damaged packages
                    </p>

                
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}