{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="/">Home</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>SHIPPING</dt>
                <dd><a href="/shipping/returns">Returns</a></dd>
                <dd><a href="/shipping/insurance">Insurance</a></dd>
                <dd><a href="/shipping/options">Shipping Options</a></dd>
                <dd class="cur"><a href="/shipping/shippingtime">Shipping Time</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="myorder">
                <div class="title">Returns</div>
                <div class="content" id="tracking">
                    <p>
                        Your satisfaction is 100% guaranteed at ZDAN. If you are not satisfied with your purchase, you may return it for any reason as long as you follow the instructions below. If you send an email in regards to your return. Please include the order# along with any products being returned. All refunds take approximately 7-10 days to be processed from the date received.</p>
 
 <p>If you'd like to exchange your product for something else, Please contact our customer service online at first time. The best thing to do is to return your item for a full refund and place a new order online for replacement item(s) at the same time and request a REFUND for the item(s) that returned. Placing the new order now just ensures that you'll get it quickly, and that it won't go out of stock.</p>
 
 <p>1.     Items must be returned within 7 days from the date of arrival.</p>
 <p>2.     Items must be in their ORIGINAL condition and not worn, undamaged packaging, Clothing must be clean and unwashed with all tags attached – no pet hair, human hair, smoke odors, or makeup stains.</p>
 <p>3.      Returns by mail must include the order number, name and address. Otherwise they will not be accepted. The additional explanation notice with the package will help the case to process faster.</p>
 <p>4.      Shipping fees are non-refundable, unless an item is damaged or defective, or it is our error for shipment.</p>
 <p>5.      If you would like an exchange for a different size/style, please request a refund for all returning item(s). Then, place a NEW order online at your earliest convenience for any replacement item(s). This is the fastest and easiest way to handle exchanges and to make sure we have your size/style in stock.</p>
 <p>6.      All refunds take approximately 7-10 days to be processed depending on the backlog.
                    </p>

                
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}