{% extends "game/index.twig" %}
{% set menu_name="广告统计"%}
{% set sidebar_name = "概况" %}
{% block content %}
<section id="main1">
  <div class="page-header">
    <h2>广告链接列表</h2>
  </div>
  <div class="row-fluid">
  {{ void(this.widget('bootstrap.widgets.TbGridView',{
	  'id':'order-grid',
	  'type':'bordered condensed',
	  'dataProvider':dataProvider,
	  'columns':[
	       'name',
	       'description',
	   {
	      'name': '链接',
	      'value':'$data->outerLink()'
	   },
	   {
	      'name': '短链接',
	      'value':'$data->shortLink()'
	   },
	     {
		 'class':'bootstrap.widgets.TbButtonColumn',
		 'template':'{view}'
	     }
	  ]
  })) }}
  </div>
</section>


{% endblock %}
