{% extends "@pp/brand/index.twig" %}
{% set menu_name="商品管理"%}
{% set sidebar_name = "商品列表" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                1:'name',
                2:'batch_number',
                3:{
                  'name':"logo",
                  'value':"CHtml::image($data->logo,'',array('width'=>'100','height'=>'100'))",
                  'type':'html',
                  'filter':false,
                },
                4:'shop_price',
                5:'status',
                6:'quantity',
                7:'order',
                8:{
                  'name' :'is_new',
                  'type' :'raw',
                  'value' :'Product::convertProductIsNew($data->is_new)',
                },
                9:{
                  'type':'raw',
                  'value':'CHtml::link($data->is_new == 0 ? "标记为新品" : "取消新品",Yii::app()->createUrl("/pp/product/changenew",array("id"=>$data->id)))',
                },
                10:{
                  'name' :'is_recommond',
                  'type' :'raw',
                  'value' :'Product::convertProductIsRecommond($data->is_recommond)',
                },
                11:{
                  'name' :'is_recommond_mans',
                  'type' :'raw',
                  'value' :'Product::convertProductIsRecommond($data->is_recommond_mans)',
                },
                12:{
                  'name' :'is_recommond_womens',
                  'type' :'raw',
                  'value' :'Product::convertProductIsRecommond($data->is_recommond_womens)',
                },
                13:{
                  'type':'raw',
                  'value':'CHtml::link($data->is_recommond == 0 ? "推荐到首页" : "取消推荐",Yii::app()->createUrl("/pp/product/changerecommond",array("id"=>$data->id)))',
                },
                14:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':' {update}'
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}
