{% extends "@pp/brand/index.twig" %}
{% set menu_name="商品管理"%}
{% set sidebar_name = "商品列表" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'id',
                1:'name',
                2:'rank',
                3:'batch_number',
                4:'quantity',
                5:'total_price',
                6:'shop_price',
                7:'status',
                8:'created',
                9:'modified',
                10:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':' {update}'
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}