/* 全局style */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
	input,button,select,textarea{outline:none; vertical-align:middle}
	li{list-style:none}
	img{border:none}
	textarea{resize:none}
	body,input,textarea{font-size:12px;font-family:\5b8b\4f53,Verdana,Arial}
	body{color:#41464C;background:#fff;word-break:break-all;word-wrap:break-word;text-align:center;}
	
	/* clear float */
	.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
	.clearfix{zoom:1;}
	
	/* link style */
	a:link,a:visited{color:#005588;text-decoration:none;outline:none}
	a:hover,a:active{color:#f60}
	
/* admin css */
	.header{background:url(../images/bg_top.png) repeat-x left top;}
	.banner{background:url(../images/top_ban.jpg) no-repeat left;height:98px;}
	.topbar{background:url(../images/bg_bar.jpg) repeat-x;height:32px;border-top:1px solid #33729D;border-bottom:3px solid #4B6F91;}
	.topbar .date{float:left;width:45%;height:32px; line-height:32px; background:url(../images/ico_date.png) no-repeat 12px center; text-align:left;color:#7B878E;padding-left:32px;}
	.topbar .user{float:right;width:45%;height:32px; line-height:32px;text-align:right;color:#7B878E;padding-right:32px;}
	.footer{}
	.main{background:url(../images/bg_left.png) repeat-y left top;height:auto!important;height:300px;min-height:300px;}
	.left{width:220px;float:left;padding-right:1px;}
	.right{margin-left:222px;text-align:left;}
	/* login */
	.login_l{float:left;width:40%;margin:100px 0; display:inline; background:url(../images/ico_login.png) no-repeat right center; height:135px;}
	.login_r{float:left;width:40%;margin:100px 0; display:inline;padding-left:40px;text-align:left;}
	.login_r h2{color:#00AEFF;font-family:'微软雅黑','黑体';font-size:18px;padding-bottom:10px;}
	.login_r span{color:#949494; display:block;padding-bottom:10px; line-height:26px;font-size:14px;}
	.login_input{border:1px solid #BAD2DF; line-height:24px;padding:0 4px;color:#00AEFF;height:24px; border-radius:2px;}
	.login_btn{border:none; background:url(../images/btn_login.png) no-repeat;width:73px;height:25px;color:#fff;font-size:14px;cursor:pointer;margin-left:56px;}
	
	dl.menu dt{background:#9CD1F9;border-bottom:2px solid #0181C8;padding-left:54px; text-align:left;font-size:14px;color:#053E69;font-weight:700; line-height:33px;margin-bottom:4px;}
	dl.menu dd{line-height:30px;color:#000;padding-left:54px; text-align:left;}
	.nav{background:url(../images/bg_nav.png) repeat-x;line-height:33px;padding-left:20px;text-align:left;color:#75777C;border-bottom:1px solid #B6CDEC;}
	.content{padding:20px;}
	.admin_list{margin:10px 0;border-top:1px solid #B1CBDC;border-left:1px solid #B1CBDC;}
	.admin_list td{border-bottom:1px solid #B1CBDC;border-right:1px solid #B1CBDC;height:27px; }
	.admin_list thead td{background:url(../images/bg_th.png) repeat-x;text-align:center;color:#384D58;}
	.admin_list tbody td{color:#414044;padding:0 4px;}
	.add_tab{margin:10px 0;}
	.add_tab td{padding:4px;font-size:14px;color:#7B878E;}
	.add_tab td span{font-size:12px;}
	.admin_input{border:1px solid #D5DEE3;height:20px; line-height:20px;padding:0 4px;border-radius:2px;}
	.add_btn{border:none; background:url(../images/btn_login.png) no-repeat;width:73px;height:25px;color:#fff;font-size:14px;cursor:pointer;}
	
	
	.tool1
	{
			position: fixed;
			_position: absolute;
			top: 0px;
			background:url(../images/foot_bg.png) repeat-x top;height:30px;font-family:'微软雅黑','黑体';width:100%;
			line-height:30px;
	}
	.tool2
	{
			background:url(../images/foot_bg.png) repeat-x top;height:30px;font-family:'微软雅黑','黑体'; width:100%;
			line-height:30px;
	}
	.tool1 a,.tool2 a{margin:0 5px;}
	
