{% extends "manager/index.twig" %}
{% set menu_name="管理员"%}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
		<h2>用户管理<span class="info">请牢记您的登录密码!</span></h2>
		{% include "layouts/notice.twig" %}
		{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-	form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
    		{{ form.passwordFieldRow(model, "old_password", {'placeholder':'xxxx@mhgame.com'})|raw }}
    		{{ form.passwordFieldRow(model, "new_password", {'placeholder':'xxx'})|raw }}
    		{{ form.passwordFieldRow(model, "password_repeat", {'placeholder':''})|raw }}
		    <div class="control-group">
		      <div class="controls">
		        <button type="submit" class="btn btn-large btn-primary">submit</button>
		      </div>
		    </div>
    	{{ void(this.endWidget()) }}
	</div>
</div>
{% endblock %}