{% extends "game/index.twig" %}
{% set menu_name="联运游戏活动"%}
{% set sidebar_name = "活动列表" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'id',
                1:'name',
                2:
                {
                    'name':'type',
                    'value':'($data->type== 0) ? "其他" : "比赛"',
                    "type":"raw",
                },
                3:'desc',
                4:'time',
                5:
                {
                    'name':'status',
                    'value':'($data->status== 0) ? "开启" : "过期"',
                    "type":"raw",
                },
                6:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':' {update} {delete}'
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}