{% extends "layouts/bbase.twig" %}
{% set title_name = "头像设置" %}

{% block content %}
        
        <div class="user_main_r">
            <div class="title">
                <h3>我的资料</h3>
                <ul class="sub_menu">
                	<a href="/user/profile"><li>基本信息</li></a>
                    <a href="/user/avatar"> <li class="cur">头像设置</li></a>
                    <a href="/user/changepw"><li>密码修改</li></a>
                </ul>
            </div>
            
            <div class="content">
                <div class="ucconfig_content clearfix">
  					<div id="upload_left">
                        <div class="utitle"><b>当前头像</b></div>                          
                        <div class="uc_header_big"><img width="180" height="180" src='{% if u.getAvatar is empty %}{{ App.assets.Url}}/images/user/user_none.jpg{% else %}{{ u.getAvatar }}{% endif %}' /><br>大尺寸头像 180×180像素</div>
                    </div>
                    <div id="upload_right">
                        <div class="utitle"><b>更换头像</b></div>
                        <p>如果你对上传的图片不满意，请<a href="/user/upavatar" class="ablue">点击这里</a>重新上传！</p>
                    </div>
 				 </div>
            </div>
            
        </div>
        
    </div>

<!--MAIN-->


{% endblock %}