{% include "layouts/top.twig" %}
<form method="get" action="/user/resendverifyemail">
<input type="test" value="{{ email }}" name="email" />
<input type="submit" name="" class="sugg_btn"  value="验证邮箱"> 
</form>

