{% extends "layouts/bbase.twig" %}
{% set title_name = "用户帮助" %}
{% set menu_name = "help" %}
{% block content %}
        <div class="user_main_r">
            <div class="title">
                <h3>用户帮助</h3>
                <ul class="sub_menu">
                  <li class="cur" data-tab="help_con1">账号帮助</li>
                    <li data-tab="help_con2">充值帮助</li>
                    <li data-tab="help_con3">领卡指南</li>
                </ul>
            </div>
            <div class="content clearfix">
                <div class="help_box">
                    <div class="help_con" id="help_con1">
                        <div class="word">
                            <p class="wen"><span class="num">01</span><em>问：</em>账号密码忘记，如何找回密码？</p>
                            <p class="da"><em>答：</em>在初期注册账号时，让您填写了安全邮箱，如下图：<br>
                                <img src="images/user/help_pic1.png" /><br>
                                点击登陆界面的忘记密码，填写您在资料中的安全邮箱。我们会给您发送一封修改密码的链接，便可轻松找回密码。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">02</span><em>问：</em>安全邮箱忘记了，如何找回账号密码？</p>
                            <p class="da"><em>答：</em>如果您已经忘记了账号密码，也忘记了安全邮箱，您还可以使用实名认证中已填写的真实姓名或身份证号，进行申诉修改安全邮箱。申诉流程为使用任意个人邮箱发送您在个人资料中填写的真实姓名-身份证号，到邮箱<em>webcs.mhgame.com</em>我们将在7个工作日内给予申诉结果，请关注您的发送邮箱内。
                            </p>
                        </div>
                    </div>
                    <div class="help_con" id="help_con2" style="display:none;">
                        <div class="word">
                            <p class="wen"><span class="num">01</span><em>问：</em>什么是点券？</p>
                            <p class="da"><em>答：</em>点券是1378网站注册用户使用1378网站各种增值服务和游戏的虚拟货币。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">02</span><em>问：</em>点券有什么用？</p>
                            <p class="da"><em>答：</em>可以用来兑换1378网站游戏币及其他后续推出的相关增值服务。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">03</span><em>问：</em>如何获取点券？</p>
                            <p class="da"><em>答：</em>用户可以通过在线充值服务进行点券充值，也可以参加1378的一些活动获得相应的奖励。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">04</span><em>问：</em>人民币充值点券的比例是多少？</p>
                            <p class="da"><em>答：</em>1人民币可以充值1点券，中途1378做活动时也会做更多的优惠比例活动，敬请关注1378运营游戏的活动专题页面。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">05</span><em>问：</em>充值后多长时间可以到账？</p>
                            <p class="da"><em>答：</em>一般网上银行在线充值可立即到账。因为网络可能存在数据延迟等因素，如点券账户更新不及时，建议您在2个小时后之后，看看您的余额是否有变化！如果已经扣款而您没有收到点券的话，我们会根据记录在1个工作日之内进行补送。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">06</span><em>问：</em>点券可以兑换人民币吗？</p>
                            <p class="da"><em>答：</em>不可以。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">07</span><em>问：</em>点券可以赠送吗？</p>
                            <p class="da"><em>答：</em>为了用户的账户安全，现阶段不支持赠送点券。
                            </p>
                        </div>
                    </div>
                    <div class="help_con" id="help_con3" style="display:none;">
                        <div class="word">
                            <p class="wen"><span class="num">01</span><em>问：</em>1378礼包中心是干什么的？</p>
                            <p class="da"><em>答：</em>1378礼包中心是中国最大的棋牌游戏礼包激活码发放平台，在这里，您可以对感兴趣的游戏新手卡礼包和游戏大礼包进行领号和淘号等操作。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">02</span><em>问：</em>领取礼包有什么用？</p>
                            <p class="da"><em>答：</em>游戏礼包为厂家活动所赠，内附金钱、道具或其他独享的好礼。让您在游戏世界玩的更加有乐趣
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">03</span><em>问：</em>领取礼包都需要什么条件？</p>
                            <p class="da"><em>答：</em>只需要登陆1378账号即可。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">04</span><em>问：</em>如果礼包都领取完了 怎么办？</p>
                            <p class="da"><em>答：</em>您可以通过淘号来淘取其他人领了而没有用的号。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">05</span><em>问：</em>什么是淘号？</p>
                            <p class="da"><em>答：</em>所谓淘号，就是在别人领过的卡号中淘取有用的卡号，由于部分用户领取卡号后未及时进行激活，这些卡号都会进入淘号系统，让对此游戏账号有需求的人都能看到。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">06</span><em>问：</em>淘号肯定可以拿到卡号吗？</p>
                            <p class="da"><em>答：</em>我们不得不告诉您，这是需要一些运气的，我们只提供了机会，至于里面是否有能用的号，还需要您亲自检验。我们无法保证任何可得的几率。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">07</span><em>问：</em>为什么我领取的礼包号现在显示被用过了？</p>
                            <p class="da"><em>答：</em>我们所发卡号，保证都是可使用的。应该是您领取卡号后，没有在规定的时间内激活，所以您的卡号自动到了淘号区，被其他玩家淘走并使用，一般3个小时内未激活就会进入淘号区。
                            </p>
                        </div>
                        <div class="word">
                            <p class="wen"><span class="num">08</span><em>问：</em>我领取了礼包卡号，怎么激活？</p>
                            <p class="da"><em>答：</em>首先根据我们的提示复制您领到的卡号，如果找不到的话可以到个人用户中心的“我的存号箱”内查找。复制好卡号后点击我们所设置的“卡号激活”的按钮，按钮链接到该游戏的卡号激活页面，一般页面会有详细的激活方法。如果没有，您可以尝试浏览该游戏的官网查询或联系游戏客服。
                            </p>
                        </div>
                    </div>
                    <div class="help_qq">
                        如果您有其他问题，还可以通过在线客服为您解决。<br>
                        在线客服QQ：4007771367<br>
                        在线客服电话：400-808-1367
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function(){
                    $(".sub_menu li").click(function(){      
                        var curcon = $(this).attr("data-tab");
                        $(".sub_menu li").removeClass("cur");
                        $(this).addClass("cur");
                        $(".help_con").hide();
                        $("#"+curcon).show();
                    });     
                });
            </script>
            
        </div>
        
    </div>

<!--MAIN-->
{% endblock %}