<a href="">重置密码</a>
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
<a href="">重置密码</a>
{{ void(this.endWidget()) }}<!-- form -->
