<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>充值首页</title>
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/user_pay.css"/>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script data-main="js/main" src="js/lib/require.js" type="text/javascript"></script>
<!--[if IE 6]>
<script src="/assets/e4e07b7/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('.paytop,.paymain,.payfoot');
</script>
<![endif]-->
</head>

<body id="paybody">
<!-- TOP -->
<div class="user_top">
    <div class="user_top_con clearfix">
        <div class="user_logo"><h1>充值中心</h1></div>
        <ul class="user_top_nav">
            <li><a href="http://i.1378.com/" target="_blank">个人中心</a></li>
            <li><a href="http://www.1378.com/pay/" target="_blank">充值通道</a></li>
            <li><a href="http://www.1378.com/libao" target="_blank">礼包中心</a></li>
            <li><a href="http://www.1378.com" target="_blank">1378首页</a></li>
        </ul>
        
        <ul class="user_top_info">
            <li><a href="#" class="name">我不是周星星</a></li>
            <li><a href="#" class="n1">消息</a></li>
            <li><a href="http://i.1378.com/user/logout" class="n2">退出</a></li>
        </ul>
    </div>
</div>
<!-- TOP -->

<!--MAIN-->
<div class="paybox">
    <div class="paytop clearfix">
        <div class="paytop_l">我不是周星星 |  您当前的点券：<font class="red">20.00</font></div>        <div class="paytop_r">
            <a href="/pay/" class="paytop_btnl aw">充值首页</a>
            <a href="/pay/list" class="paytop_btnl aw">我的账户</a>
            <a href="/pay/help" class="paytop_btnl aw">充值帮助</a>
        </div>
    </div>

      <div class="paymain clearfix">
    
        <!-- pay code begin --> 
        <div class="pay_mtab">
            <ul class="clearfix">
                <li><a href="#">充值点券</a></li>
                <li class="cur"><a href="#">充值游戏</a></li>
            </ul>
        </div>
        <ul class="payform">
          <li class="clearfix"> <span class="l">请选择充值游戏的方式：</span> 
              <div class="r">
                  <dl class="pay_subnav clearfix">
                      <dd class="cur"><a href="#">人民币直充</a></dd>
                      <dd><a href="#">点券兑换</a></dd>
                  </dl>
              </div> 
          </li>
          <li class="clearfix"> <span class="l">请选择要充值的游戏：</span> 
              <span class="r">
                  <select name="" id="" class="payinput">
                      <option value="0">请选择游戏</option>
                      <option value="0">豪胆德州扑克</option>
                      <option value="0">JOE德州扑克</option>
                      <option value="0">德扑德州扑克</option>
                  </select>
              </span> 
          </li>
          <li class="clearfix"> <span class="l">请输入您的账号：</span> 
              <span class="r"><input class="payinput" value="zhoujiqiu" id="to_account" name="user_id" type="text"/> <em class="red" id="tip_acount"></em></span> 
          </li>
          <li class="clearfix"> <span class="l">请再次输入您的账号：</span>
              <span class="r"><input class="payinput" value="zhoujiqiu" id="to_account_confirm" name="user_id" type="text" /><em class="red" id="tip_acount_confirm"></em></span> 
          </li>
          <li class="clearfix"> <span class="l">请输入充值金额：</span>
            <div class="r">
                <div class="amount_label clearfix">
                    <label><input type="radio" value="" name="" />10元</label>
                    <label><input type="radio" value="" name="" />30元</label>
                    <label><input type="radio" value="" name="" />50元</label>
                    <label><input type="radio" value="" name="" />100元</label>
                    <label><input type="radio" value="" name="" />200元</label>
                    <label><input type="radio" value="" name="" />500元</label>
                    <label><input type="radio" value="" name="" />1000元</label>
                    <label><input type="radio" value="" name="" />2000元</label>
                    <label><input type="radio" value="" name="" />其他</label>
                </div>
                <input id="to_amount" class="payinput" name="Order[amount]" type="text" style="width:80px;" /> 
                <font>请输入5≥的整数</font>
                <em class="red" id="tip_amount"></em>
            </div> 
          </li>
        </ul>
        
        
        <div class="bank">
          <div class="bank_tab">
            <ul class="clearfix">
              <li class="cur" data-method="method_1">网上银行</li>
              <li data-method="method_2">固话/短信/宽带支付</li>
              <li data-method="method_3">骏网一卡通</li>
              <li data-method="method_4">移动/联通/电信(充值卡)</li>
              <li data-method="method_5">Q币卡充值</li>
            </ul>
          </div>

          <!-- 网上银行 -->
          <div class="bank_content clearfix" id="method_1">
            <ul class="bank_list clearfix">
                                     <li><a onclick="document.getElementById('lab_ICBC').checked=true;" href="#linebank">
                          <input checked="checked" type="radio" id="lab_ICBC" value="ICBC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank1.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CMB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CMB" value="CMB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank2.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_ABC').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_ABC" value="ABC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank3.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CCB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CCB" value="CCB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank4.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_BCOM').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_BCOM" value="BCOM" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank5.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_BOC').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_BOC" value="BOC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank6.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_PSBC').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_PSBC" value="PSBC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank7.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CIB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CIB" value="CIB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank8.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CITIC').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CITIC" value="CITIC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank9.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CMBC').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CMBC" value="CMBC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank10.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CEB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CEB" value="CEB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank11.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_NJCB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_NJCB" value="NJCB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank12.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_BOB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_BOB" value="BOB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank13.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_PAB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_PAB" value="PAB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank14.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_BEA').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_BEA" value="BEA" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank15.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_NBCB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_NBCB" value="NBCB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank16.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_SDB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_SDB" value="SDB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank17.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_GDB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_GDB" value="GDB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank18.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_SPDB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_SPDB" value="SPDB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank_spdb.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_BJRCB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_BJRCB" value="BJRCB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank21.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_SHB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_SHB" value="SHB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank22.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_HSB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_HSB" value="HSB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank_hsb.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_HZB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_HZB" value="HZB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank24.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_HXB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_HXB" value="HXB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank26.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CZB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CZB" value="CZB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank_czb.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_GZRCC').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_GZRCC" value="GZRCC" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank_gzrcc.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_GZCB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_GZCB" value="GZCB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank25.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_CBHB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_CBHB" value="CBHB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank30.gif">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_SRCB').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_SRCB" value="SRCB" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/pay/bank/bank29.gif">
                          </a>
                      </li>
                          </ul>
          </div>

          <!-- chongzhika -->
          <div class="bank_content clearfix" id="method_4" style="display:none;">
            <ul class="bank_list clearfix">
                                     <li><a onclick="document.getElementById('lab_unicom').checked=true;" href="#linebank">
                          <input checked="checked" type="radio" id="lab_unicom" value="unicom" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/chn/chn_2.png">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_szx').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_szx" value="szx" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/chn/chn_1.png">
                          </a>
                      </li>
                                    <li><a onclick="document.getElementById('lab_telecom').checked=true;" href="#linebank">
                          <input  type="radio" id="lab_telecom" value="telecom" name="Order[pay_method]" >
                          <img src="/assets/e4e07b7/images/chn/chn_3.png">
                          </a>
                      </li>
                          </ul>
          </div>

        </div>
        <ul class="payform">
          <li class="paysub" data-view="pay">
            <input type="button" data-bind="pay" value="提交订单" name="" class="paybtn" />
            <br />
            <input type="checkbox" name="" checked="checked" id="agreement" />
            我已认真阅读并同意<a href="#" target="_blank">《用户充值协议》</a> <em class="red" id="tip_agreement"></em></li>
        </ul>
  
        
      </div>
      <!-- pay code end -->     
     <script type="text/javascript">
     $(document).ready(function(){
        $("#to_account").focus();
        // check user
        $("#to_account").blur(function(){
            var user = $("#to_account").val();
            var _self = this;
            if(user==''){
              $(this).parent().find("em").html('用户名不能为空！');return false;
            }
            $.get("/pay/checkuser",{username:user}, function(msg){
                if(msg==0){ 
                  $(_self).parent().find("em").html('用户名不存在！'); return false;
                }else{ 
                  $(_self).parent().find("em").html(''); 
                }
            });
        });
        // check user confirm
        $("#to_account_confirm").blur(function(){
            var account = $('#to_account').val();
            var reaccount = $('#to_account_confirm').val();
            if(account != reaccount){
              $(this).parent().find("em").html('请重复您的帐号！');
            }else{
              $(this).parent().find("em").html('');
            }
        });
        // check amount
        $("#to_amount").blur(function(){
            var tt = $('#to_amount');
            if (isNaN(tt.val()))
            {
              $(this).parent().find("em").html('请输入正确的金额！');
            }else{
              $(this).parent().find("em").html('');
            }
        });
        // check agreement
        $("#agreement").click(function(){
            if(!$(this).attr("checked")){
              $(this).parent().find("em").html('必须同意用户充值协议'); 
            }else{
              $(this).parent().find("em").html('');
            }
        });

        // bank tab
        $(".bank_tab li").click(function(){
          var cur = $(this).attr("data-method");
          $(".bank_tab li").removeClass("cur");
          $(this).addClass("cur");
          $(".bank_content").hide();
          $("#"+cur).show();
        });
     });
     </script>
     <!-- pay code end -->     
    </div>
    <div class="payfoot"></div>
</div>

<!--MAIN-->
<!--FOOTER-->
<div class="footer">
            <div class="inner clearfix">
                <div class="flogo"><a href='http://www.1378.com'><img src="/assets/e4e07b7/images/logo.png" width="190" /></a></div>
                <div class="copyright">
                    <div class="fnav"><a href="http://www.1378.com/about.html" target="_blank">关于我们</a> | <a href="http://www.1378.com/contactus.html" target="_blank">联系我们</a> | <a href="http://www.1378.com/business.html" target="_blank">商务合作</a> |<a target="_blank" href="http://i.1378.com/user/feedback">投诉建议</a> |<a href="http://www.1378.com/hr.html" target="_blank"> 招聘信息 </a> </div>
                    <p>Copyright (c) 2012-2014 1378.com, All Rights Reserved. 1378棋牌网 版权所有<br>
                    抵制不良游戏 拒绝盗版 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
                    京ICP备10015385号-9<br>
                    </p>
                </div>
            </div>
        </div>

<!--FOOTER-->

<div class="pay_callback"></div>
</body>
</html>