<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1378我的大礼包</title>
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/user_center.css"/>
</head>

<body>

<!-- TOP -->
<div class="user_top">
	<div class="user_top_con clearfix">
    	<div class="user_logo"><h1>用户中心</h1></div>
        	<ul class="user_top_nav">
            	<li><a href="#">个人中心</a></li>
                <li><a href="#">充值通道</a></li>
                <li><a href="#">礼包中心</a></li>
                <li><a href="#">网站首页</a></li>
            </ul>
            
        	<ul class="user_top_info">
            	<li><a href="#" class="name">段段</a></li>
            	<li><a href="#" class="n1">消息</a></li>
                <li><a href="#" class="n2">退出</a></li>
            </ul>
       
    </div>
</div>
<!-- TOP -->

<!--MAIN-->
<div class="user_mbox clearfix">
    <div class="user_main_l">
        <div class="user_info">
            <a href="#"><img src="images/user/user_tx.jpg" /></a>
            <span class="name"><a href="#">123456789@qq.com</a></span>
        </div>
        <ul class="sidnavlist">
            <li><a href="#" class="sbg1">用户首页</a></li>
            <li><a href="#" class="sbg2">我的资料</a></li>
            <li><a href="#" class="sbg3">游戏中心</a></li>
            <li><a href="#" class="sbg4">我的大礼包</a></li>
            <li><a href="#" class="sbg5">充值记录</a></li>
            <li><a href="#" class="sbg6">用户帮助</a></li>
            <li class="cur"><a href="#" class="sbg7">充值兑换</a></li>
        </ul>
            
    </div>
    
    <div class="user_main_r">
        <div class="title">
            <h3 class="t7">充值中心</h3>
        </div>
        <div class="content clearfix">
        	<p class="cblue">您当前账户余额：<font class="red">220梦幻币</font></p>
            <div class="cbtn clearfix">
            	<a href="#" class="cbtn1">点击充值梦幻币</a>
                <a href="#" class="cbtn2">点击充值游戏币</a>
            </div>
        </div>
        
        <div class="changebox mtop10">
            <div class="title">梦幻币兑换游戏币</div>
            <div class="content">
           		<ul class="set_item2">
                  <li class="clearfix">
                        <span class="data_l">您选择的游戏是：</span>
                        <span class="data_r"><font class="red">豪胆斗地主</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="ablue">重新选择游戏</a></span>
                    </li>
                    <li class="clearfix">
                        <span class="data_l">输入兑换梦幻币金额：</span>
                        <span class="data_r"><input class="data_input" name="" type="text" value="56" style="width:100px;" /> (请输入1≥ 的整数)</span>
                    </li>
                    <li class="clearfix">
                        <span class="data_l">所兑换游戏币数量：</span>
                        <span class="data_r">560000</span>
                    </li>
                    <li class="clearfix">
                        <span class="data_l">&nbsp;</span>
                        <span class="data_r"><input type='submit' class="data_btn" name='' value='确定兑换'/></span>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
</div>
<!--MAIN-->

<!--FOOTER-->
<div class="footer">
    <div class="inner clearfix">
        <div class="flogo"><img src="images/logo_b.png" /></div>
        <div class="copyright">
            <div class="fnav"><a href="http://www.1378.com/about.html" target="_blank">关于我们</a> | <a href="http://www.1378.com/contactus.html" target="_blank">联系我们</a> | <a href="http://www.1378.com/business.html" target="_blank">商务合作</a> |<a target="_blank" href="http://i.1378.com/user/feedback">投诉建议</a> |<a href="http://www.1378.com/hr.html" target="_blank"> 招聘信息 </a> </div>
            <p>Copyright (c) 2012-2014 17w78.com, All Rights Reserved. 一起玩棋牌网 版权所有<br>
            抵制不良游戏 拒绝盗版 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
            京ICP备1000000号-7 文网文[2010]342号<br>
            </p>
        </div>
    </div>
</div>

<!--FOOTER-->


</body>
</html>
