{% extends "homepage/index.twig" %}
{% set menu_name="首页"%}
{% set sidebar_name = "焦点图" %}
{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="grid-view" id="app-grid">
          {% include "layouts/notice.twig" %}
<table class="items table">
  <thead>
    <tr>
      <th id="app-grid_c0"><a href="/block/admin?sort=id" class="sort-link">Id<span class="caret"></span></a></th><th id="app-grid_c1">名称</th><th id="app-grid_c3">&nbsp;</th><th id="app-grid_c4">&nbsp;</th><th id="app-grid_c5" class="button-column">&nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>{{ block.id }}</td>
      <td>{{ block.name }}</td>
      <td><a href="/homepage/build/{{ block.id }}">生成内容</a></td>
      <td>{% if block.html is empty %} 还未生成内容{% else %}已经生成内容{% endif %}</td>
      <td class="button-column"> <a href="/homepage/update/{{ block.id }}" rel="tooltip" class="update" data-original-title="更新"><i class="icon-pencil"></i></a></td>
    </tr>
  </tbody>
</table>
</div> 
    </div>

{% endblock %}