            <div class="login_info clearfix">
                <img src="{{ user.avatar }}" width="62" height="62" class="pic">
                <div class="info">
                    {{ user.nickname}}<br>
                    <a href="http://i.1378.com">用户中心</a> | <a href="http://i.1378.com/user/logout">退出</a><br>
                    点券：<span class="red">{{user.gold}}</span> <a href="/pay">立即充值</a><br>
                </div>
            </div>
            <div class="played">
                <h3>我最近玩过的游戏</h3>
                <div class="content">
                    <dl class="clearfix">
                        <dd><a href="#"><img src="images/webgame/game1.jpg"></a></dd>
                        <dd><a href="#"><img src="images/webgame/game2.jpg"></a></dd>
                        <dd><a href="#"><img src="images/webgame/game3.jpg"></a></dd>
                    </dl>
                </div>
            </div>