<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">

      <li class="hidden-phone"><a href="" role="button">Welcome</a></li>
      <li id="fat-menu" class="dropdown">
        <a href="index.html#" role="button" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i> {{ App.user.name }}
          <i class="icon-caret-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/manager/changepass">Change pass</a></li>
          <li><a tabindex="-1" href="/site/logout">Logout</a></li>
          </ul>
      </li>

    </ul>
    <a class="brand" href="index.html">网页游戏管理后台</a>
  </div>
</div>   
<div id="main-menu">
  <ul class="nav nav-tabs">
    <li class="{% if menu_name == "合作伙伴" %} active{% endif %}">
      <a href="{{ this.createUrl("cpuser/list") }}">
        <i class="icon-user"></i> 
        <span>合作伙伴</span>
      </a>
    </li>
  </ul>
</div>
