{% extends "@pp/subject/index.twig" %}
{% set menu_name="活动管理"%}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {% set nav_name = "create"%}
    {% include "@pp/subject/subject_form.twig" %}
  </div>
</div>
{% endblock %}