{% extends "@cms/page/index.twig" %}
{% set menu_name="页面"%}
{% set sidebar_name = "新建页面" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
      {% include "@cms/page/form.twig" %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            mode: "text/html",
        });
    });
</script>
{% endblock %}

