{% extends "layouts/base.twig" %}
{% block mainbody %}
<div id="sidebar-nav">
    <ul id="dashboard-menu" class="nav nav-list">
       {% for page in pages %}
       <li class=" theme-mobile-hack {% if sidebar_name == item.name %}cur{% endif %}"><a href="{{ this.createUrl("/cms/block/special/",{'page_id':page.id}) }}"><i class="icon-{{ item.icon }}"></i> <span>{{ page.name }}</span></a></li>
       {% endfor %}
    </ul>
</div>
<div class="content">
  {% block content %}
  {% endblock %}
</div>
{% endblock %}