<div class="modright">
    {{ void(this.widget('RecommendWidget')) }}
    {{ void(this.widget('RankWidget',{'type':'1'})) }}
<!--     <div class="hotbox">
        <div class="title">
            <h3 class="bg3">
                最新发放
            </h3>
        </div>
        <div class="content">
            <ul class="rank_list clearfix">
                <li class="clearfix">
                    <span class="num no1">1</span> <span class="name">达人麻将 百元充值礼包</span> <span class="led"><a href="#"><img src="{{ App.assets.Url}}/images/card/led.png" height="19" align="absbottom"></a></span> <span class="led"><a href="#"><img src="{{ App.assets.Url}}/images/card/tao.png"></a></span>
                </li>
            </ul>
        </div>
    </div> -->
</div>