{% extends "layouts/base_with_sidebar.twig" %}
{% set menu_name="合作伙伴"%}
{% set sidebar_name = "创建" %}
{% block content %}
<section id="main1">
  <div class="page-header">
    <h2>添加合作伙伴</h2>
  </div>
  <div class="row-fluid">
    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':false}) %}
    {{ form.textFieldRow(model, "email", {'placeholder':'example@qq.com'})|raw }}
    {{ form.textFieldRow(model, "cpname", {'placeholder':'合作伙伴名称'})|raw }}
    {{ form.textFieldRow(model, "webaddress", {'placeholder':'网址'})|raw }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-large btn-primary">Create</button>
      </div>
    </div>
    {{ void(this.endWidget()) }}
  </div>
</section>
{% endblock %}