{% extends "/layouts/base.twig" %}
{% block content %}
<section id="main1">
  <div class="page-header">
    <h1>添加root</h1>
  </div>
  <div class="row-fluid">
    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':false}) %}
    {{ form.textFieldRow(model, "name", {'placeholder':'名称'})|raw }}
    {{ form.textFieldRow(model, "short_name", {'placeholder':'简称'})|raw }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-large btn-primary">Save</button>
      </div>
    </div>
    {{ void(this.endWidget()) }}
  </div>
</section>
{% endblock %}
