{% extends "@pp/oterm/nav.twig" %}
{% set menu_name="商品分类"%}
{% set sidebar_name = "分类管理" %}
{% block content %}
<div class="nav">
    当前位置：<a href="{{ this.createUrl('oterm/index') }}">root管理</a>>>分类管理
</div>
  <h2>{{ root.name }}</h2>
    <input type="button" class="add_btn" value="新建分类" onclick="javascript:window.location.href='{{ this.createUrl('oterm/create',{'root':root.id})}}'" />
    {% include "layouts/notice.twig" %}

    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':descendants, 
            'columns':{
                0:'id',
                1:{'name':'name','value':'Oterm::str_tree($data->level,$data->name)'},
                2:'short_name',
                3:'description',
                4:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':'{update}',
                     'buttons':{
                        'update':{'url':'Yii::app()->createUrl("pp/oterm/edit",array("id"=>$data->id))'},
                      },
                      'htmlOptions':{'width':'50px'}
                }
            },})) 
         }}
{% endblock %}