{% extends "@cms/block/index.twig" %}
{% set menu_name="模块"%}
{% set sidebar_name = "新建模块" %}
  {% block content %}
    <link rel="stylesheet" href="{{App.GcommonAssets.url}}/js/codemirror/lib/codemirror.css">
<script src="{{App.GcommonAssets.url}}/js/codemirror/lib/codemirror.js"></script>
<script src="{{App.GcommonAssets.url}}/js/codemirror/mode/xml/xml.js"></script>
<style type="text/css">
  .CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
</style>
    <div class="container-fluid">
    <div class="row-fluid">
     {% include "@cms/widget/customBlock/form.twig" %}
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("Block_content"), {
            lineNumbers: true,
            mode: "text/html",
        });
    });
</script>
{% endblock %}