{% extends "@cms/block/index.twig" %}
{% set menu_name="模块"%}
{% set sidebar_name = "新建模块" %}
  {% block content %}
    <div class="container-fluid">
    <div class="row-fluid">
     {% include "@cms/widget/customBlock/form.twig" %}
    </div>
</div>
</div>
{% endblock %}