	
	.baike_header{background:url(../images/baike/header_bg.png) repeat-x bottom;}
	.baike_header .inner{width:980px;margin:0 auto;padding-top:20px;height:74px; position:relative;}
	.baike_header .logo{ float:left; width:231px; height:47px;display:inline; background:url(../images/logo_b.png) no-repeat;}
	.baike_header .logo a{display:block;height:47px; text-indent:-9999px; overflow:hidden;}
	.baike_header .game_h2{float:left;border-left:1px solid #D1D1D1;margin-left:10px;padding-left:10px;font-size:32px;font-family:"微软雅黑";color:#949494;font-weight:normal;}
	.baike_header .game_search{float:right;}
	.baike_header .game_nav{background:url(../images/baike/nav_bg.png) no-repeat top;width:449px;height:34px; line-height:34px;position:absolute;right:0;bottom:6px;color:#4CB0F9;}
	.baike_header .game_nav a{font-size:15px;font-family:"微软雅黑";margin:0 14px;}
	
	.baike_header .search_input{border:1px solid #CBCBCB;padding:2px;height:20px; line-height:20px;color:#C3C3C3;width:202px;}
	.baike_header .search_btn{background:url(../images/baike/main_bg.png) no-repeat right -33px;width:62px;height:26px;border:none;cursor:pointer;}
	
	/* baike type style */
	.baike_type{border:1px solid #ddd;padding:8px 10px 0;}
	.baike_type dl{padding-bottom:8px;}
	.baike_type dl dt{float:left; background:url(../images/baike/main_bg.png) no-repeat;width:60px;height:25px; text-align:left;padding-left:36px; line-height:22px;font-size:14px;font-family:"微软雅黑";color:#fff;}
	.baike_type dl dd{float:left;margin-left:10px; text-align:left; line-height:20px;color:#ddd;width:836px;}
	.baike_type dl dd a{margin:0 4px;}
	.baike_type dl dt.t2{background-position:left -33px;}
	.baike_type dl dt.t3{background-position:left -66px;}
	.baike_type dl dt.t4{background-position:left -97px;}
	
	/* baike list style */
	.baike_box{border:1px solid #ddd;width:748px;}
	.baike_box .baike_search{background:url(../images/baike/main_bg.png) repeat-x left -132px;height:48px;padding:0 12px;}
	.baike_box .baike_search h3{float:left; line-height:48px;color:#fff;font-family:"微软雅黑";font-size:15px;font-weight:400;}
	.baike_box .baike_search .search{float:left;margin-top:10px; display:inline;}
	.baike_box .baike_search .hot{float:left;color:#fff; line-height:48px;margin-left:8px; display:inline;}
	.baike_box .baike_search .hot a:link,.baike_box .baike_search .hot a:visited{color:#A8E0FF}
	.baike_box .baike_input{border:1px solid #CBCBCB;border-right:none;padding:2px;height:23px; line-height:23px;color:#C3C3C3;width:210px;}
	.baike_box .baike_btn{background:url(../images/baike/main_bg.png) no-repeat right top;width:70px;height:29px;border:none;cursor:pointer;color:#fff;font-size:14px;font-weight:700;}
	.baike_box .baike_abc{padding:10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
	.baike_box .baike_abc h3{float:left;font-family:"微软雅黑";font-size:14px;font-weight:400;color:#000;}
	.baike_box .baike_abc .abc{float:left;font-size:14px;}
	.baike_box .baike_abc .abc a{float:left;padding:1px 4px;margin:1px; display:inline;}
	.baike_box .baike_abc .abc a.cur,.baike_box .baike_abc .abc a:hover,.baike_box .baike_abc .abc a:active{background:#00BCF3;color:#fff;}
	.baike_box .baike_tab{background:url(../images/baike/baike_title.png) repeat-x;height:32px;}
	.baike_box .baike_tab li{float:left;border-right:1px solid #dadada; line-height:32px;padding:0 22px; display:inline;font-family:"微软雅黑";font-size:14px;cursor:pointer;}
	.baike_box .baike_tab li.cur{background:url(../images/baike/tab_cur.png) repeat-x top;color:#03A1F9}
	
	.baike_list{padding:5px 12px;}
	.baike_list li{float:left;margin:8px 10px; display:inline;width:161px;height:176px; background:url(../images/baike/baike_border.png) no-repeat right; line-height:20px;}
	.baike_list li.hover{background:url(../images/baike/baike_border.png) no-repeat left;}
	.baike_list li img{border:1px solid #ddd;padding:1px; background:#fff;margin-top:8px;}
	.baike_list li .name{font-size:14px;height:26px; line-height:26px; display:block;font-weight:700;}
	.baike_list li .pt{display:block;color:#888;}
	.baike_list li .link{color:#888;}
	.baike_list li .link a{margin:0 5px;}
	
	/* baike rank style */
	.baike_rank{float:right;width:218px;border:1px solid #ddd; background:#F3F3F3;}
	.baike_rank .title{background:url(../images/baike/main_bg.png) no-repeat left -182px;height:41px;}
	.baike_rank .title h3{font-family:"微软雅黑";font-size:16px;font-weight:400;color:#fff; text-align:left;padding-left:20px; line-height:41px;}
	.baike_rank .content{ background:url(../images/baike/rank_bg.png) no-repeat center top;border:1px solid #fff;}
	.baike_rank ul{padding:5px 8px 0;}
	.baike_rank ul li{padding:7px 5px;_padding:6px 5px;background:url(../images/sline.png) repeat-x bottom;}
	.baike_rank ul li .num{background:url(../images/game/main_bg.png) no-repeat -190px -111px;width:18px;height:18px;text-align:center;font-size:11px;color:#B1B1B1; line-height:18px;float:left;margin-top:20px; display:inline;}
	.baike_rank ul li .pic{float:left;margin-left:10px; display:inline;margin-top:4px;}
	.baike_rank ul li .info{float:left;margin-left:10px; display:inline; line-height:18px; text-align:left;color:#888;}
	.baike_rank ul li .info h4{font-weight:bold;padding-bottom:3px;}
	.baike_rank ul li.top1 .num,.baike_rank ul li.top2 .num,.baike_rank ul li.top3 .num{background-image:url(../images/game/main_bg.png);width:16px;height:28px; line-height:20px;color:#fff;font-weight:bold; display:inline; background-repeat:no-repeat;}
	.baike_rank ul li.top1 .num{background-position:-139px -111px;}
	.baike_rank ul li.top2 .num{background-position:-156px -111px;}
	.baike_rank ul li.top3 .num{background-position:-173px -111px;}
	.baike_rank ul li .name{float:left;margin-left:10px; display:inline;font-size:14px;}
	.baike_rank ul li .ren{float:right;color:#888;}
	
	/* baike content style */
	.baike_position{text-align:left;padding:8px 0;}
	.baike_detail{padding:10px 8px;}
	.baike_detail .pic{float:left;}
	.baike_detail .pic img{display:block;padding:2px;border:1px solid #ddd;}
	.baike_detail .info{float:right;width:406px; text-align:left;}
	.baike_detail .info h3{font-family:"微软雅黑";font-size:16px;font-weight:400;color:#158DE3;}
	.baike_detail .info h3 span{margin-left:30px;font-size:12px;font-family:verdana;color:#555;}
	.baike_detail .info .tag{padding:6px 0;color:#888;}
	.baike_detail .info .tag a{margin:0 5px;}
	.baike_detail .info .client .t{line-height:24px;}
	.baike_detail .info .client .t strong{float:left;font-weight:bold;font-size:14px;}
	.baike_detail .info .client .t span{float:left;color:#888;margin-left:20px;}
	.baike_detail .info .client .more{float:right; background:url(../images/baike/main_bg.png) no-repeat left -274px;width:87px;height:24px;padding-left:6px;color:#fff;}
	.baike_detail .info ul{padding:6px 0;}
	.baike_detail .info ul li{float:left;margin:3px 0px;}
	.baike_detail .info ul li a{display:block;width:100px;height:41px;font-size:14px;font-family:"微软雅黑"; text-align:center; line-height:41px; background:url(../images/baike/main_bg.png) no-repeat -107px -303px;}
	.baike_detail .info ul li a:hover{background:url(../images/baike/main_bg.png) no-repeat left -303px;color:#fff;}
	.baike_detail .info .doing{padding-top:14px;background:url(../images/sline.png) repeat-x top; line-height:20px;}
	.baike_detail .info .doing a{float:left;margin-right:14px; display:inline;background:url(../images/game/main_bg.png) no-repeat;padding-left:16px;}
	.baike_detail .info .doing .d1{background-position:-176px -162px;}
	.baike_detail .info .doing .d2{background-position:-294px -162px;}
	.baike_detail .info .doing .d3{background-position:-423px -162px;}
	.baike_detail .info .doing .d4{background-position:-553px -162px;}
	.baike_content{padding:20px; text-align:left;}
	.baike_content .maoji{padding-bottom:12px;border-bottom:1px solid #ddd;}
	.baike_content .maoji a{float:left; background:url(../images/baike/main_bg.png) no-repeat -311px -313px;width:86px;height:23px; line-height:23px; text-align:center;font-weight:bold;margin-right:14px; display:inline;}
	.baike_content .maoji a:hover,.baike_content .maoji a:active{background:url(../images/baike/main_bg.png) no-repeat -221px -313px;color:#fff;}
	.baike_content .word h4{font-size:14px;color:#000;padding:8px 0; background:url(../images/sline.png) repeat-x bottom;}
	.baike_content .word p{font-size:14px; text-indent:30px; line-height:1.6em;padding:10px 0 16px;}
	
	.about_box{border:1px solid #ddd;}
	.about_box .title{height:30px; line-height:30px;text-align:left;}
	.about_box .title h3{font-size:15px;font-family:'微软雅黑';color:#000;padding-left:12px;font-weight:normal;}
	.about_box .content{background:#fff;overflow:hidden;}
	.about_box ul li{float: left;height:92px;line-height: 20px;overflow: hidden;padding-top: 2px;position: relative;text-align: center;width: 124px;}
	.about_box ul li img{width:100px;height:60px;margin:0 auto; display:block;border:1px solid #ddd;padding:1px;}
	
	/* platform style */
	.platform_box{border:1px solid #ddd;}
	.platform_box .platform_search{background:url(../images/baike/mj_search.png) repeat-x left;height:43px;}
	.platform_box .platform_search h3{float:left;line-height:43px;color:#fff;font-family:"微软雅黑"; width:99px;background:url(../images/baike/search_h3.png) no-repeat left;font-size:15px;font-weight:400; text-align:left; padding-left:14px; display:inline;}
	.platform_box .platform_search .search{float:left;margin-top:7px; margin-left:20px; display:inline;}
	.platform_box .platform_search .hot{float:left;line-height:43px;margin-left:8px; display:inline;}
	.platform_box .platform_search .hot a{margin:0 3px;}
	.platform_box .majiang_input{border:1px solid #CBCBCB;border-right:none;padding:2px;height:23px; line-height:23px;color:#C3C3C3;width:210px;}
	.platform_box .majiang_btn{background:url(../images/baike/search_btn.png) no-repeat right top;width:70px;height:31px;border:none;cursor:pointer;color:#fff;font-size:14px;font-weight:700;}
	.platform_box .platform_abc{border-top:1px solid #ddd;padding:10px;}
	.platform_box .platform_abc h3{float:left;font-family:"微软雅黑";font-size:14px;font-weight:400;color:#000;}
	.platform_box .platform_abc .abc{float:left;font-size:14px;}
	.platform_box .platform_abc .abc a{float:left;padding:1px 4px;margin:1px; display:inline;}
	.platform_box .platform_abc .abc a.cur,.baike_box .baike_abc .abc a:hover,.baike_box .baike_abc .abc a:active{background:#00BCF3;color:#fff;}
	.platform_box .platform_place{border-top:1px solid #ddd;height:34px; line-height:34px; text-align:left; font-size:12px; line-height:34px;padding-left:4px;}
	.platform_box .platform_place a{font-size:12px; margin:0 9px;}
	
	.platform_list{border:1px solid #c6c6c6; padding:10px 12px;}
	.platform_list li{float:left;margin:8px 9px; display:inline;width:140px;line-height:20px; text-align:left;}
	.platform_list li img{margin-top:3px;}
	.platform_list li .name{font-size:14px;height:26px; line-height:26px; text-align:center; display:block;}
	.platform_list li p{color:#888;padding-top:5px;}
	
	/* page style */
	.page{text-align:center;height:22px;padding:20px 0;}
	.page div{display:inline-block;*display:inline;zoom:1;font-family:Tahoma;}
	.c_page{height:20px;display:block;background:#fff;color:#000;text-decoration:none;float:left;line-height:20px;text-align:center;border:1px solid #91958c;padding:0 7px;}
	.page div span{float:left;height:20px;line-height:20px;background:#63B12E;color:#fff;text-decoration:none;text-align:center;margin:0 2px;border:1px solid #45861e;padding:0 7px;}
	.nextpage{float:left;width:50px;height:20px;line-height:20px;background:#f6feec;color:#000;text-align:center;border:1px solid #84a160;}
	.page a{margin:0 2px;}
	.page a:hover{border:1px solid #F60;color:#F60;}
	.page div em{float:left;line-height:20px;margin:0 2px;}
	