	.tuku_header{background:url(../images/tuku/header_bg.png) repeat-x bottom;}
	.tuku_header .inner{width:980px;margin:0 auto;padding-top:20px;height:74px; position:relative;}
	.tuku_header .logo{ float:left; width:231px; height:47px;display:inline; background:url(../images/logo_b.png) no-repeat;}
	.tuku_header .logo a{display:block;height:47px; text-indent:-9999px; overflow:hidden;}
	.tuku_header .tuku_h2{float:left;border-left:1px solid #D1D1D1;margin-left:10px;padding-left:10px;font-size:32px;font-family:"微软雅黑";color:#949494;font-weight:normal;}
	.tuku_header .tuku_search{float:right;}
	.tuku_header .tuku_nav{background:url(../images/tuku/tuku_nav_bg.png) no-repeat top;width:449px;height:34px; line-height:34px;position:absolute;right:0;bottom:5px;color:#FF9460;}
	.tuku_header .tuku_nav a{font-size:15px;font-family:"微软雅黑";margin:0 12px;}
	.tuku_search_input{border:1px solid #CBCBCB;padding:2px;height:20px; line-height:20px;color:#C3C3C3;width:202px;}
	.tuku_search_btn{background:url(../images/tuku/search.png) no-repeat;width:62px;height:26px;border:none;cursor:pointer;}
	
	.tuku_main{padding:0 10px;}
	.tuku_list .title{ background:url(../images/tuku/tuku_title.png) no-repeat;height:48px;}
	.tuku_list .title h3{float:left;font-size:20px;font-family:"微软雅黑";color:#fff; text-align:left;font-weight:normal; line-height:48px; padding-left:76px;}
	.tuku_list .title h3.t1{background:url(../images/tuku/b_mv.png) no-repeat 36px 6px;}
	.tuku_list .title h3.t2{background:url(../images/tuku/b_ss.png) no-repeat 36px 9px;}
	.tuku_list .title h3.t3{background:url(../images/tuku/b_jt.png) no-repeat 36px 14px;}
	.tuku_list .title h3.t4{background:url(../images/tuku/b_yl.png) no-repeat 36px 16px;}
	.tuku_list .title h3.t5{background:url(../images/tuku/b_tc.png) no-repeat 36px 16px;}
	.tuku_list .title .more{float:right; margin:20px 8px 0;color:#c81300; display:inline;}
	.pic_list ul{ list-style:none;margin:0 auto;}
	.pic_list ul li{ float:left; width:134px; margin:10px 5px; display:inline;}
	.pic_list ul li img{padding:1px;border:1px solid #CBDDEB;}
	.pic_list ul li.big{width:371px;display:inline;}
	.pic_list ul li span.name{ display:block;margin-top:5px; font-size:12px; text-align:center;font-family:'宋体'; font-weight:normal;}
	.pic_list ul li.big .name{font-size:14px;font-family:'微软雅黑';color:#000;}