{% extends "block/index.twig" %}
{% set menu_name="模块"%}
{% set sidebar_name = "模块列表" %}
  {% block content %}
  	<div class="container-fluid">
    <div class="row-fluid">
      {% include "layouts/notice.twig" %}
      {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'columns':{
                0:'id',
                1:{
                  'name':"名称",
                  "value":'$data->name',
                },
                2:{
                  'name':'类型',
                  'value':'Block::convertBlockType($data->type)',
                },
                3:{
                  'type':'raw',
                  'value':'CHtml::link("生成内容",Yii::app()->createUrl("/block/build",array("id"=>$data->id)))'
                },
                4:{
                  'value':'$data->html!="" ? "已生成内容" :"还未生成内容"'
                },
                5:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':' {update} {delete}'
                }
            },})) 
         }} 
    </div>
</div>
</div>
{% endblock %}