{% extends "base/main.twig" %}
{% block content %}
<div class="main">
    <div class="position"><a href="/">Home</a></div>
    <div class="cart_list">
        <div class="order_box">
            <div class="title">Forgot Your Password?</div>
            <div class="content">
                <p class="tip">
                    Email has been sent to you ! Reset your password please !
                </p>
                <p class="link">You can <a href="/">Back to Home</a><p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

