{% extends "base/main.twig" %}

{% block content %}

<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="#">Forget Pass</a></div>
    <div class="mright">
        <div class="contact_box">
            <div class="title">Forget Pass</div>
            <div class="email">
                <h3>By Emails</h3>
                a email send to your email!!!
            </div>
            

            <div class="faq">
                <div class="title">FAQ</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

</div>

{% endblock %}

