<h2>游戏管理<span class="info">来创建和管理您的游戏吧</span></h2>
<script src="{{ App.assets.Url }}/js/ckeditor/ckeditor.js" type="text/javascript"></script>
    <ul class="filter nav nav-pills">
      <li {% if nav_name == "create" %} class="active" {% endif %}>
        <a href="{{ this.createUrl('create',{type_id:type_id})}}" data-filter=".element">创建游戏</a>
      </li>
      <li {% if nav_name == "admin" %} class="active" {% endif %}><a href="{{ this.createUrl('admin',{type_id:type_id})}}" data-filter=".sampleFilterOnetrue">管理游戏</a></li>
    </ul>
    <br />
    <br />