<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="{{ App.assets.Url }}/css/zdan.css" rel="stylesheet" type="text/css" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="Shortcut Icon" href="favicon.ico"> 
<link rel="Bookmark" href="favicon.ico">
<script type="text/javascript" src="{{ App.assets.Url}}/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{{ App.assets.Url}}/js/zdan.js"></script>
</head>
<body>
<div class="header clearfix">
	<div class="fl">
        <div class="search">
            <input type="text" name="" value="SEARCH..." class="search_ipt">
            <input type="submit" name="" value="&nbsp;" class="search_btn">
        </div>
        <h1 class="logo"><a href="/"></a></h1> 
    </div>
    <div class="fr">
        <div class="had">FREE SHIPPING ON ALL ORDRES</div>
        <ul class="hnav">
            <li class="i1"><a href="">Live chat!</a></li>
            <li class="i2"><a href="">Sign in</a> | <a href="">Register</a></li>
            <li class="i3"><a href="">View cart</a></li>
        </ul>
    </div>
</div>
<div class="nav">
	<ul class="menu clearfix">
    	<li><a href="#">BRANDS</a>
            <!-- brands menu -->
            <div class="navbox">
                <div class="subnav">BRANDS</div>
                <dl class="nav_brands clearfix">
                    <dd>
                        <a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Diamond Supply Co.</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Diamond Supply Co.</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                    <dd>
                        <a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a>
                        <span><a href="#" title="">Crooks & Castles</a></span>
                    </dd>
                </dl>
                <div class="more"><a href="#" title="">MORE&gt;</a></div>
            </div>
        </li>
        <li><a href="#">MANS</a>
            <!-- mans menu -->
            <div class="navbox">
                <div class="subnav">MANS</div>
                <div class="nav_mans clearfix">
                    <dl class="mans1">
                        <dt>NEW ARRIVALS</dt>
                        <dd><a href="#" title="">Vans 2013 Fall Shirts</a></dd>
                        <dd><a href="#" title="">Beach Towels</a></dd>
                        <dd><a href="#" title="">Obey Snapbacks New</a></dd>
                        <dd><a href="#" title="">Roxy Women 2013 New Boardshorts </a></dd>
                        <dd><a href="#" title="">REBEL 8 Snapbacks</a></dd>
                        <dd><a href="#" title="">Diamond Supply Co. T-Shirts</a></dd>
                        <dd><a href="#" title="">Supreme New Tees</a></dd>
                    </dl>
                    <dl class="mans2">
                        <dt>MENS CLOTHING</dt>
                        <dd><a href="#" title="">T-Shirts</a></dd>
                        <dd><a href="#" title="">Sweaters</a></dd>
                        <dd><a href="#" title="">Polos</a></dd>
                        <dd><a href="#" title="">Hoodies</a></dd>
                        <dd><a href="#" title="">Shirts</a></dd>
                        <dd><a href="#" title="">Jackets</a></dd>
                        <dd><a href="#" title="">Tank Tops</a></dd>
                        <dd><a href="#" title="">Sweatshirts</a></dd>
                        <dd><a href="#" title="">Shorts</a></dd>
                        <dd><a href="#" title="">Sweatpants</a></dd>
                        <dd><a href="#" title="">Board Shorts</a></dd>
                        <dd><a href="#" title="">Jeans</a></dd>
                    </dl>
                    <dl class="mans3">
                        <dt>MENS ACCESSORIES</dt>
                        <dd><a href="#" title="">Hats</a></dd>
                        <dd><a href="#" title="">Shoes</a></dd>
                        <dd><a href="#" title="">Underwears</a></dd>
                        <dd><a href="#" title="">Socks</a></dd>
                        <dd><a href="#" title="">Necklaces</a></dd>
                        <dd><a href="#" title="">Towel</a></dd>
                        <dd><a href="#" title="">Headphones</a></dd>
                    </dl>
                    <div class="mans_ad">
                        <a href="#" title=""><img src="images/test/m1.jpg" width="220" height="140" /></a>
                        <i><a href="#" title="">I LOVE Haters ! Collections</a></i>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="#">WOMENS</a>
            <!-- womens menu -->
            <div class="navbox">
                <div class="subnav">WOMENS</div>
                <div class="nav_mans clearfix">
                    <dl class="womens1">
                        <dt>WOMENS CLOTHING</dt>
                        <dd><a href="#" title="">T-Shirts</a></dd>
                        <dd><a href="#" title="">Sweaters</a></dd>
                        <dd><a href="#" title="">Polos</a></dd>
                        <dd><a href="#" title="">Hoodies</a></dd>
                        <dd><a href="#" title="">Shirts</a></dd>
                        <dd><a href="#" title="">Jackets</a></dd>
                        <dd><a href="#" title="">Tank Tops</a></dd>
                        <dd><a href="#" title="">Sweatshirts</a></dd>
                        <dd><a href="#" title="">Shorts</a></dd>
                        <dd><a href="#" title="">Sweatpants</a></dd>
                        <dd><a href="#" title="">Board Shorts</a></dd>
                        <dd><a href="#" title="">Jeans</a></dd>
                    </dl>
                    <dl class="womens2">
                        <dt>SHOP BY</dt>
                        <dd><a href="#" title="">New Arrivals</a></dd>
                        <dd><a href="#" title="">Brands</a></dd>
                    </dl>
                    <div class="mans_ad">
                        <a href="#" title=""><img src="images/test/m1.jpg" width="220" height="140" /></a>
                        <i><a href="#" title="">I LOVE Haters ! Collections</a></i>
                    </div>
                    <div class="mans_ad">
                        <a href="#" title=""><img src="images/test/m2.jpg" width="220" height="140" /></a>
                        <i><a href="#" title="">I LOVE Haters ! Collections</a></i>
                    </div>
                </div>
            </div>
        </li>
		<li><a href="#">HATS</a>
            <!-- hats menu -->
            <div class="navbox">
                <div class="subnav">hats</div>
                <div class="nav_mans clearfix">
                    <dl class="hats1">
                        <dt>CATEGORIES</dt>
                        <dd><a href="#" title="">Snapbacks</a></dd>
                        <dd><a href="#" title="">59Fifty Fitted</a></dd>
                        <dd><a href="#" title="">Beanies</a></dd>
                        <dd><a href="#" title="">Trucker Hats</a></dd>
                        <dd><a href="#" title="">Flexfit Hats</a></dd>
                    </dl>
                    <dl class="hats2">
                        <dt>BRADNS</dt>
                        <dd>
                            <a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Diamond Supply Co.</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Diamond Supply Co.</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dd>
                            <a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a>
                            <span><a href="#" title="">Crooks & Castles</a></span>
                        </dd>
                        <dt class="more"><a href="#" title="">MORE&gt;</a></dt>
                    </dl>
                    <div class="mans_ad">
                        <a href="#" title=""><img src="images/test/m2.jpg" width="220" height="140" /></a>
                        <i><a href="#" title="">I LOVE Haters ! Collections</a></i>
                    </div>
                </div>
            </div>
        </li>
        <li><a href="#">SALE</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
</div>

{% block content %}
{% endblock %}

<div class="footer clearfix">
    <div class="copyright">
        <div class="search_order">
            <span class="txt">Track Your Orders&gt;&gt;</span>
            <span class="order">
                <input type="text" name="" value="Tracking Numbers" class="email_ipt">
                <input type="submit" name="" value="GO!" class="email_btn">
            </span>
        </div>
        <div class="share">
            <a href="#" title=""><img src="images/share_ico1.png" /></a>
            <a href="#" title=""><img src="images/share_ico2.png" /></a>
            <a href="#" title=""><img src="images/share_ico3.png" /></a>
            <a href="#" title=""><img src="images/share_ico4.png" /></a>
        </div>
        <p>&copy 2005-2014 Zdanstore.com Copyright. All Rights Reserved.</p>
    </div>
    <div class="link">
        <dl>
            <dt>SHOP BY</dt>
            <dd><a href="#" title="">Brand</a></dd>
            <dd><a href="#" title="">Category</a></dd>
            <dd><a href="#" title="">Sale</a></dd>
            <dd><a href="#" title="">New Arrival</a></dd>
            <dd><a href="#" title="">Men's Clothing</a></dd>
            <dd><a href="#" title="">Women's clothing</a></dd>
        </dl>
        <dl>
            <dt>SHIPPING</dt>
            <dd><a href="#" title="">Returns</a></dd>
            <dd><a href="#" title="">Shipping Time</a></dd>
            <dd><a href="#" title="">Order Tracking</a></dd>
            <dd><a href="#" title="">Shipping Options</a></dd>
            <dd><a href="#" title="">Insurance</a></dd>
        </dl>
        <dl>
            <dt>HELP</dt>
            <dd><a href="#" title="">About Us</a></dd>
            <dd><a href="#" title="">F.Q.A.</a></dd>
            <dd><a href="#" title="">Contact Us</a></dd>
            <dd><a href="#" title="">Privacy Policy</a></dd>
        </dl>
    </div>
</div>

</body>
</html>