	body{color:#888; background:url(../images/user/pay_bg2.jpg) no-repeat top #001024;word-break:break-all;word-wrap:break-word;text-align:center;font-family:"微软雅黑";}
	
	a:link,a:visited{color:#707064;text-decoration:none;outline:none;}
	a:hover,a:active{color:#06b7f9;}
	
	/* TOP style*/
	.user_top{ background:url(../images/user/topbg.png) repeat-x; height:49px;}
	.user_top_con{width:980px; margin:0 auto;}
	.user_logo{ float:left;background:url(../images/user/top_logo.png) no-repeat center left;}
	.user_logo h1{ text-align:left; line-height:49px; padding-left:69px; font-size:22px; color:#fff;}
	.user_top_nav{float:left; border-left:1px solid #83d2ff; margin-left:30px; color:#fff;}
	.user_top_nav li{float:left; font-size:14px;  line-height:49px; padding:0 17px; display:inline;color:#fff; }
	.user_top_nav li a:link,.user_top_nav a:visited{ color:#fff; text-decoration:none; outline:none;}
	.user_top_nav li a:hover,.user_top_nav li a:active{color:#E4F5FF;}
	.user_top_info{float:right;}
	.user_top_info li{float:left; font-size:14px;line-height:49px; margin:0 8px; display:inline;}
	.user_top_info li .name{ font-size:18px;}
	.user_top_info li a{display:block;padding-left:30px;background:url(../images/user/top_n.png) no-repeat left; color:#fff;}
	.user_top_info li a:link,.user_top_info li a:visited{ color:#fff;text-decoration:none;outline:none;}
	.user_top_info li a:hover,.user_top_info li a:active{color:#E4F5FF;}
	.user_top_info li a.name{ font-size:18px; background:none;}
	.user_top_info li a.n1{ background-position:0px 16px;}
	.user_top_info li a.n2{background-position:-76px 16px;}
	
	.user_mbox{width:980px;margin:0 auto; margin-top:30px; background:url(../images/user/main_bg.png) repeat-y;}
	.user_main_l{ float:left; width:185px;}
	.user_main_r{ float:right; width:795px;}
	
	.user_info{padding:14px 0px;margin:0 auto;}
	.user_info img{border:1px solid #169be0;}
	.user_info .name{ display:block; margin-top:5px; font-size:14px;}
	
	
	
	.paytop{background:url(../images/user/pay_top_bg.png) no-repeat top; height:64px;width:851px; margin:0 auto; margin-top:20px;}
	.paymain{background:url(../images/user/pay_main.png) repeat-y top; width:840px; margin:0 auto;padding:0 5px 20px 6px;}
	.paymain em{font-style:normal;}
	.payfoot{background:url(../images/user/pay_foot.png) no-repeat top; height:6px; margin-bottom:30px;}
	
	.paytop_l{ float:left; font-size:14px; text-align:left; padding-left:47px; line-height:64px;}
	.paytop_r{ float:right; font-size:14px; margin-top:23px;}
	.paytop_btnl{background:url(../images/user/paytop_btnl.png) no-repeat; width:74px; height:26px;line-height:26px;float:left;margin-right:10px; color:#fff;}
	.paytop_btnr{background:url(../images/user/paytop_btnr.png) no-repeat; width:74px; height:26px;line-height:26px;float:left; text-align:center;color:#fff;font-size:12px; margin-right:50px;}
	
	
	.bankP{font-size:16px; text-align:left; padding:10px 0 10px 47px; color:#045285;}

	.paytab{margin:0 5px;border-top:1px solid #CBCBCB; background:url(../images/pay/tab_bg.png) repeat-x bottom;height:45px;padding-left:75px;}
	.paytab li{float:left;width:111px; text-align:center;font-size:14px;text-shadow:1px 1px #fff; line-height:45px;}
	.paytab li.cur{background:url(../images/pay/tab_cur.png) no-repeat;}
	.paytab li.cur a:link,.paytab li.cur a:visited{color:#359AA6}
	.paycontent{margin:0 5px;background:url(../images/pay/content_bg.png) repeat-x top;height:auto!important;height:500px;min-height:500px;padding:20px;}
	.tline{border-top:1px solid #CBCBCB;}

	.copyright{color:#8B8B8B; line-height:24px;padding-top:20px;}
	
	.pay_title{font-weight:normal;}	
	.paytab .txt{line-height:44px;font-size:14px;color:#8B8B8B;float:left;margin-left:76px;}
	.paytab .paygame{float:left; background:url(../images/pay/input_bg.png) repeat-x;border:1px solid #D8D8D8;border-right:none;height:27px; line-height:27px;width:150px;padding:0 4px;font-size:14px;color:#417698;margin-top:8px; display:inline; text-align:left;}
	.paytab .arrow{float:left; background:url(../images/pay/arrow.png) no-repeat;border:1px solid #d8d8d8;border-left:none;height:27px;width:24px;margin-top:8px; display:inline;}
	.payform li{padding-top:14px;}
	.payform li .l{float:left;width:42%; text-align:right;font-size:14px;color:#4B4B4B; line-height:30px;}
	.payform li .r{float:left;width:50%; text-align:left;margin-left:20px; display:inline;line-height:30px; position:relative;}
	
	.payinput{background:url(../images/user/pay_input.png) repeat-x;border:1px solid #D8D8D8;height:27px; line-height:27px;width:232px;padding:0 4px;font-size:14px;color:#045285;}
	.payform li .price{color:#BD0400; line-height:30px;font-size:14px;}
	.payform .paysub{margin-top:20px; text-align:center;}
	.paybtn{background:url(../images/user/pay_btn.png) no-repeat;width:142px;height:44px;color:#fff;font-size:16px;border:none;margin-bottom:10px;cursor:pointer;font-family:'微软雅黑';}
	.pay_style{margin:0 auto;margin-bottom:20px;border:1px solid #CDCDCD;width:364px;height:32px; line-height:32px; background:#EBEBEB}
	.pay_style span{float:left;padding:0 8px; display:inline; background:#F5F5F5;width:132px;}
	.pay_style ul{float:left;}
	.pay_style ul li{position:relative; float:left;width:107px;border-left:1px solid #CDCDCD;}
	.pay_style ul li .arrow{background:url(../images/pay/arrow.png) no-repeat center;width:100%;height:6px;font-size:0; line-height:0; overflow:hidden; position:absolute; left:0;bottom:-6px; z-index:100;_background:none;}
	.pay_style ul li.cur{background:#fff;}
	.select_game{background:url(../images/pay/select_bg.png) no-repeat;width:230px;height:29px; line-height:29px;padding:0 5px;cursor:pointer;color:#417698; text-align:left; float:left; display:inline;margin-right:6px;}
	.select_menu{position:absolute;top:29px;left:0;width:238px;border:1px solid #D8D8D8; background:#fff; z-index:100;}
	.select_menu a{display:block;width:220px;line-height:24px;padding:0 10px; text-align:left;font-size:14px;}
	.select_menu a:hover{background:#eee;}
	.pay_price{text-align:left;padding:10px 20px;}
	.bank_phone{text-align:left;padding:10px 20px;}
	.phone_price{padding:10px 0;}
	.phone_price label{display:block;margin:8px 0;}
	.phone_price label span{color:#888;}
	.phone_price span.l{float:left;margin-top:8px; display:inline;}
	.phone_price span.r{float:left;margin-left:10px; display:inline;}
	.tel_metyod{margin-left:118px;}
	
	.bank{margin:20px 80px;border:1px solid #D8D8D8;}
	.bank_tab{border-bottom:1px solid #D8D8D8; position:relative;}
	.bank_tab li{float:left;border-right:1px solid #D8D8D8;background:#EBEBEB; line-height:34px;padding:0 12px;color:#8B8B8B;font-size:14px;text-shadow:1px 1px #fff;cursor:pointer;}
	.bank_tab li.cur{background:#fff;color:#417698;margin-bottom:-1px;}
	.bank_content{background:#fff;padding:10px;}
	.none{ display:none;}
	.bank_list li{float:left;margin:8px 0px 8px 20px; display:inline;height:36px;width:140px;}
	.bank_list li input{float:left;margin-top:10px;margin-right:4px; display:inline;}
	.bank_list li a{display:inline-block;}
	.bank_list li img{border:2px solid #fff;float:left;}
	.bank_list li.select img{border:2px solid #f60;}
	
	.errorSummary{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior: url(http://ka.131.com/pie.htc);position:relative; z-index:2;background:#FFFAEE;border:1px solid #FFDD93;padding:6px 10px; line-height:15pt; text-align:left;color:#f00;margin:20px 80px;}
	
	/* pay table style */
	.pay_table{margin:0 auto;margin-top:30px;border-left:1px solid #E6E6E6;border-top:1px solid #E6E6E6;width:800px;}
	.pay_table td,.pay_table th{border-bottom:1px solid #E6E6E6;border-right:1px solid #E6E6E6;padding:8px 4px; background:#fff;}
	.pay_table th{background:url(../images/pay/tb-th.gif) repeat-x bottom #f7f7f7;}
	
	/* --分页-- */
	.page{padding:20px;}
	.paging,.paging a{ font-size:12px; color:#666; text-align:center;line-height:16px;}
	.paging{ margin:20px auto ;}
	.paging span{ margin:0 5px; color: #06C}
	.paging_page a,.paging_page span{ display: inline-block; padding:2px 4px; border:1px solid #CCC; height:14px; width:42px;  }
	.paging_page span{ color:#FFF; background-color:#09F;margin-right:4px; }
	.paging_page a:hover{       }
	.paging a:hover{color:#f60; }
	span.paging_number,a.paging_number{ width:16px;}
	
	/* open dialog style */
	#TB_window{width:500px;}
	.tb_content{text-align:left;padding:10px;}
	.tb_close{position:absolute;top:6px;right:10px; background:url(../images/user.png) no-repeat left -80px;width:17px;height:18px;cursor:pointer;}
	.tb_title{padding:6px 0;color:#2C70C0;font-size:15px;font-family:'微软雅黑';font-weight:400; text-align:center;}
	.tb_foot{margin-top:10px;border-top:1px solid #E4E4E4;padding:8px 0; text-align:center;}
	.dialogBtn{background:url(../images/dialogBtn.png) no-repeat;width:74px;height:27px;color:#186EB1;font-family:'微软雅黑';font-size:14px;cursor:pointer;border:none;margin:0 5px;}
	.dialogBack{background:url(../images/dialogBack.png) no-repeat;width:74px;height:27px;color:#666;font-family:'微软雅黑';font-size:14px;cursor:pointer;border:none;margin:0 5px;}
	.dialogLong{background:url(../images/user/tm1_icons.png) no-repeat left -726px;width:118px;height:23px;color:#62C5D8;font-family:'微软雅黑';font-size:14px;cursor:pointer;border:none;margin:5px 5px 5px 0;}
	
	.tb_lingqu{text-align:left;color:#666; line-height:22px;padding-left:80px;height:auto !important;height:80px;min-height:80px;font-family:'微软雅黑';}
	.tb_content .succ{background:url(../images/right_ico.png) no-repeat 10px 2px;}
	.tb_content .error{background:url(../images/error_ico.png) no-repeat 10px 2px;}
	.tb_content .warning{background:url(../images/warning_ico.png) no-repeat 10px 2px;}
	.tb_content .upgrade{background:url(../images/upgrade_ico.png) no-repeat 10px 2px;}
	
	.pay_succ{padding:50px 50px 50px 240px; text-align:left;}
	.pay_succ p{text-align:left;color:#666; line-height:24px;padding-left:80px;height:auto !important;height:80px;min-height:80px;font-family:'微软雅黑';font-size:15px;}
	.pay_succ .succ{background:url(../images/right_ico.png) no-repeat 10px 2px;}
	.pay_succ .error{background:url(../images/error_ico.png) no-repeat 10px 2px;}
	.pay_succ .warning{background:url(../images/warning_ico.png) no-repeat 10px 2px;}

	.faq_div{padding:30px;text-align:left;}
	.faq_div h3{color:#000;font-size:14px;}
	.faq_div p{padding:6px 0 20px 24px; line-height:15pt;color:#666;font-size:14px;}

	/* add style 6.16 */
	.pay_mtab{background:url(../images/user/pay_tab_bg.png) repeat-x;height:75px;}
	.pay_mtab li{float:left;width:140px;height:46px;}
	.pay_mtab li a{display:block;height:39px;line-height:39px;border-right:1px solid #D8D8D8;font-size:15px;font-family:'微软雅黑';}
	.pay_mtab li.cur{background:url(../images/user/pay_tab_cur.png) no-repeat;}
	.pay_mtab li.cur a:link,.pay_mtab li.cur a:visited{color:#18A3F9}

	.pay_subnav dd{float:left;width:117px;height:28px;background:url(../images/user/pay_subnav.png) no-repeat right;line-height:28px;margin-right:8px;display:inline;text-align:center;}
	.pay_subnav dd.cur{background:url(../images/user/pay_subnav.png) no-repeat left;text-align:left;padding-left:8px;width:109px}

	.amount_label{width:320px;}
	.amount_label label{float:left;width:80px;margin:1px 0;display:inline;}