	.login_top{width:894px;margin:0 auto;padding:10px 0;}
	.login_top h1{background:url(../images/user/logo.png) no-repeat;width:218px;height:70px;float:left;}
	.login_top p{float:right;color:#888; line-height: 70px;}
	.login_top p a{margin:0 4px;}

	.login_main{background:#fff;border-top:1px solid #E3E3E3;border-bottom:1px solid #fff;font-family:"微软雅黑";}
	.mbg{background:url(../images/user/m_bg.jpg) repeat-x top;}
	.login_box{width:892px;margin:0 auto;position: relative;}
	.login_pic{float:left;display:inline;margin-bottom:20px;}
	.login_form{float:right;margin-right:32px;margin-top:36px;display:inline;text-align:left;padding:12px 30px;border:1px solid #ddd;}
	.login_form h3{font-size:16px;color:#00B0EE;padding-bottom:5px;font-weight:400;}
	.login_form li{padding-top:12px;}
	.login_form li span{display:block;padding-bottom:8px;font-size:14px;color:#4D4D4D;}
	.login_input{background:url(../images/user/login_input.png) repeat-x;height:29px;line-height:29px;border:1px solid #A2C4CE;padding:0 5px;width:236px;}
	.login_btn{background:url(../images/user/login_btn.png) repeat-x;height:28px;border:1px solid #E87B0E;color:#fff;cursor:pointer;width:246px;font-size:14px;margin-top:8px;}
	.login_form .login_link{padding:20px 0;color:#666;}

	.other_login{padding:8px 0;border-top:1px solid #ddd;}
	.other_login h4{font-size:12px;margin-bottom:8px;font-weight:400;}

	.reg_box{width:892px;margin:0 auto;margin-top:20px;margin-bottom:20px;border:1px solid #ddd;position:relative;padding-bottom:20px;height:auto!important;min-height:400px;height:400px;background:#fff;}
	.reg_pic{position: absolute;right:30px;bottom:10px;}
	.reg_txt{float:right;color:#666;margin-right:52px;margin-top:80px;display:inline;font-size:14px;}
	.reg_txt img{margin-top:12px;}
	.reg_form{float:left;margin-left:62px;margin-top:46px;display:inline;text-align:left;}
	.reg_form h3{font-size:16px;color:#00B0EE;padding-bottom:5px;font-weight:400;padding-left:50px;}
	.reg_form li{padding-top:18px;}
	.reg_form span{float:left;width:120px;text-align:right;line-height:31px;font-size:14px;}

	.reg_form span.login_span{float:left;color:#f00;font-size:12px;text-align:left;width:150px;margin-left:5px;display:inline;}
	.reg_form li p{margin-left:120px;}
	.reg_btn{background:url(../images/user/reg_btn.png) repeat-x;height:56px;border:none;color:#fff;cursor:pointer;width:142px;margin-left:120px;font-family:"微软雅黑";font-size:22px;}
	.reg_form .login_input{float:left;}
	.reg_form #yw0{float:left;}
	.reg_form span.login_form{float:left;color:#f00;font-size:12px;text-align:left;width:150px;margin-left:5px;display:inline;}
	.reg_form span.login_span{float:left;color:#f00;font-size:12px;text-align:left;width:150px;margin-left:5px;display:inline;}
	.reg_form li p{margin-left:120px;}
	.reg_btn{background:url(../images/user/reg_btn.png) repeat-x;height:56px;border:none;color:#fff;cursor:pointer;width:142px;margin-left:120px;font-family:"微软雅黑";font-size:22px;}
	.reg_form .login_input{float:left;}
	.reg_form #yw0{float:left;}

	.reg_info{padding-left:80px;padding-top:86px;text-align:left;}
	.reg_info .succ{background:url(../images/user/succ_ico.png) no-repeat left center;padding:10px 0 10px 110px;font-family:"微软雅黑";font-size:14px;}
	.reg_info p{line-height:26px;}

	.login_footer{background:#fff;border-top:4px solid #D8D8D8;padding:20px;line-height:1.8em;font-family:"微软雅黑";font-size:12px;color:#666;}
	
	.slogin_main{background:url(../images/user/slogin_bg.jpg) no-repeat center top;}
	.slogin_box{width:726px;margin:0 auto;padding:150px 0;}
	.slogin_btn1{background:url(../images/user/slogin_btn.png) no-repeat left;width:303px;height:191px;float:left;}
	.slogin_btn2{background:url(../images/user/slogin_btn.png) no-repeat right;width:303px;height:191px;float:right;}