	body{background:url(../images/user/bg.jpg) no-repeat center 50px #bde5ff;word-break:break-all;word-wrap:break-word;text-align:center;font-family:"微软雅黑";}
	
	a:link,a:visited{color:#fff;text-decoration:none;outline:none;}
	a:hover,a:active{color:#E4F5FF;}
	.imgborder3{border:1px solid #dfdbda;padding:3px;}
	
	/* TOP style*/
	.user_top{ background:url(../images/user/topbg.jpg) repeat-x; height:50px;}
	.user_top_con{width:980px; margin:0 auto;}
	.user_logo{ float:left;background:url(../images/user/top_logo.png) no-repeat center left;}
	.user_logo h1{ text-align:left; line-height:49px; padding-left:69px; font-size:22px;color:#fff;}
	.user_top_nav{float:left; border-left:1px solid #83d2ff; margin-left:30px;}
	.user_top_nav li{float:left; font-size:14px;  line-height:49px; padding:0 17px; display:inline;}
	.user_top_info{float:right;}
	.user_top_info li{float:left; font-size:14px;line-height:49px; margin:0 8px; display:inline;}
	.user_top_info li .name{ font-size:14px;}
	.user_top_info li a{ display:block;padding-left:30px;background:url(../images/user/top_n.png) no-repeat left;}
	.user_top_info li a.name{ font-size:14px; background:none;}
	.user_top_info li a.n1{ background-position:0px 16px;}
	.user_top_info li a.n2{background-position:-76px 16px;}
	
	.user_mbox{width:980px;margin:0 auto; margin-top:68px;margin-bottom:30px; background:url(../images/user/main_bg.png) repeat-y;height:auto!important;min-height:600px;height:600px;}
	.user_main_l{ float:left; width:185px;}
	.user_main_r{ float:right; width:795px;}
	
	.user_info{padding:14px 0px;margin:0 auto;}
	.user_info img{border:1px solid #169be0;}
	.user_info .name{ display:block; margin-top:5px; font-size:14px;}
	
	.sidnavlist{ background:url(../images/user/line_bg.png) repeat-x bottom;}
	.sidnavlist li{ background:url(../images/user/line_bg.png) repeat-x top;}
	.sidnavlist li a{ display:block;font-size:14px; height:34px; line-height:34px; text-align:left;padding-left:80px; background:url(../images/user/l_n.png) no-repeat; overflow:hidden}
	.sidnavlist li a.sbg1{background-position:44px 10px;}
	.sidnavlist li a.sbg2{background-position:44px -26px;}
	.sidnavlist li a.sbg3{background-position:44px -62px;}
	.sidnavlist li a.sbg4{background-position:44px -98px;}
	.sidnavlist li a.sbg5{background-position:44px -134px;}
	.sidnavlist li a.sbg6{background-position:44px -170px;}
	.sidnavlist li a.sbg7{background-position:44px -206px;}
	.sidnavlist li.cur{background:#006ca3;}
	.sidnavlist li.cur a{background:url(../images/user/l_n_cur.png) no-repeat;}
	.sidnavlist li.cur a.sbg1{background-position:44px 10px;}
	.sidnavlist li.cur a.sbg2{background-position:44px -26px;}
	.sidnavlist li.cur a.sbg3{background-position:44px -62px;}
	.sidnavlist li.cur a.sbg4{background-position:44px -98px;}
	.sidnavlist li.cur a.sbg5{background-position:44px -134px;}
	.sidnavlist li.cur a.sbg6{background-position:44px -170px;}
	.sidnavlist li.cur a.sbg7{background-position:44px -206px;}
	
	.user_main_r .title{ background:url(../images/user/rnav_bg.png) repeat-x; height:42px;}
	.user_main_r .title h3{ float:left;background:url(../images/user/rtitle_bg.png) no-repeat left; font-size:16px; color:#045285; text-align:left; margin-left:28px; padding-left:27px; line-height:42px; font-weight:normal;}
	.user_main_r .content{ background:url(../images/user/rcont_bg.png) repeat-x; padding:10px 28px;}
	.user_main_r .content h4{ text-align:left; font-size:14px; color:#000;}
	
	.datalist li{padding:2px 0;line-height:24px;}
	.datalist li.nobg{ background:none;}
	.datalist li dl{height:24px;}
	.datalist li dt{float:left;width:100px;text-align:right;margin-right:12px;display:inline;color:#333;}
	.datalist li dd{ float:left;text-align:left;}
	.datalist li dd.l{ width:120px;text-align:left;color:#555555;}
	.datalist li dd span{color:#888;font-family:"verdana";}
	
	.gamepiclist li{float:left; width:344px; margin:20px 5px; display:inline;}
	.gamepicbox{width:332px; border:1px solid #d2d2d2; padding:4px;}
	.gamepicbox .pic{float:left; width:142px;}
	.gamepicbox .info{ float:right; width:176px; margin-left:6px; display:inline;}
	.gamepicbox .info .name{float:left; display:inline-block;text-align:left;font-size:14px; color:#009eff;}
	.gamepicbox .info .time{display:block;font-size:12px; text-align:left; color:#888888; margin-top:10px; line-height:24px; display:inline;}
	.ka_btn a{float:left; display:block; height:27px; margin-top:10px; padding:0 3px; display:inline;}		
	.ka_btn .ka_btn1{background:url(../images/card/card_tao.png) no-repeat; width:65px; height:27px; font-size:14px; line-height:27px; text-align:center; color:#fff;}
	.ka_btn .ka_btn2{background:url(../images/card/card_btn.png) no-repeat; width:65px; height:27px;font-size:14px; line-height:27px; text-align:center; color:#fff;}
	
	.hotgiftlist{padding:10px 0;}
	.hotgiftlist li{ float:left; margin:0px 13px; display:inline;}
	.hot_gift .pic{float:left; width:155px;position:relative;}
	.sbtn{position:absolute; bottom:2px; right:3px; background:url(../images/user/t_lh.png) no-repeat; width:39px; height:19px; line-height:19px; font-size:12px;}
	
	
	
	/* 我的资料 */
	.sub_menu{ float:left; margin-left:50px; margin-top:9px; display:inline;}
	.sub_menu li{ float:left; width:83px; height:33px; color:#555; font-size:14px; line-height:33px;margin:0 10px;display:inline;cursor:pointer;}
	.sub_menu li.cur{ background:url(../images/user/unav_cur.png) no-repeat bottom; color:#000;}
	
	.databox{ margin-top:10px;}
	.set_item2{padding:20px}
	.set_item2 li{margin:10px auto; padding-left:20px;}
	.data_l{ float:left; width:118px; text-align:right; height:29px; line-height:29px; font-size:14px; color:#555555;}
	.data_r{ float:left; width:250px; text-align:left; line-height:29px;font-size:14px; color:#555555; padding-left:36px; display:inline;}
	.data_input{background:url(../images/user/login_input.png) repeat-x;height:29px;line-height:29px;border:1px solid #A2C4CE;padding:0 5px;width:236px;}
	.data_btn{float:left; background:url(../images/user/qrtj.png) no-repeat; width:113px; font-size:16px; height:36px; line-height:36px; text-align:center; margin-top:20px; display:inline;color:#fff;font-family:"微软雅黑";cursor:pointer;border:none;}
	.se_data{ width:79px; height:27px; border:1px solid #7f9db9; line-height:27px; padding:3px;}
	.form_error,.login_span{float:left;line-height:29px;color:#f00;}
	
	.ucconfig_content{ margin:40px 0;}
	.uploadtooltip{color:#888;padding-bottom:10px;}
	.u_submit{ background:url(../images/user/card_tao.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height: 27px;line-height: 27px;margin-right:20px;width:65px;}
	.u_cancel{ background:url(../images/user/card_btn.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height: 27px;line-height: 27px;margin-right:20px;width:65px;}

	/* 上传头像 */
	#Canvas { position: relative; border:2px solid #888888; overflow:hidden; cursor:pointer; width: 250px; height: 250px; }
	#bar { width: 211px; height: 18px; background-image: url(../images/user/track.gif); background-repeat: no-repeat; position: relative; }
	.child { width: 11px; height: 16px; background-image: url(../images/user/grip.gif); background-repeat: no-repeat; left: 0; top:3px; position: absolute; left:100px; }
	#IconContainer { position:relative; left:0px; }
	#IconContainer img { FILTER:alpha(opacity=40); opacity:0.6; background-color:#fff; }
	#ImageDragContainer { border: 1px solid #333; cursor: pointer; position: relative; overflow: hidden; z-index:1; }
	.uploadtooltip { color:#888; padding-bottom:10px; }
	#upload_left { float:left; width:300px; text-align:left; margin-left:20px; display:inline; }
	#upload_right { float:right; width:350px; text-align:left; margin-right:20px; display:inline; }
	#upload_left .utitle, #upload_right .utitle { text-align:left; padding:20px 0 6px 0; border-bottom:1px solid #eee; margin-bottom:20px; }
	#upload_right p { color:#888; padding-bottom:8px; }
	#upload_tip { text-align:left; padding:5px; margin:30px 0; background:#FFFEEC; border:1px solid #F6DCA9; color:#FF7903; }
	.uc_header_big { padding-bottom:10px; color:#888; float:left; margin-right:10px; display:inline; width:180px; text-align:center; }
	.uc_header_small { padding-bottom:10px; color:#888; float:left; margin-right:10px; display:inline; width:82px; text-align:center; }
	.uc_header_big img, .uc_header_small img { border:1px solid #ccc; margin-bottom:5px; }
	.smallbig{cursor:pointer;}

	/* error style */
	.alert-error{margin:10px 0px;padding:8px;line-height:20px;text-align:left;color:#f00;border:1px solid #f0e0b5;background:#fffaee;}
	.alert-error p{color:#000;padding:0;}
	.alert-error ul li{padding:0;}

	/* 充值记录 */
	.user_main_r .title h3.t4{float:left;background:url(../images/user/cz.png) no-repeat left; font-size:16px; color:#045285; text-align:left; margin-left:28px; padding-left:27px; line-height:42px; font-weight:normal;}
	
	.cz_tou{padding:20px 10px;height:32px; width:583px;}
	.mpay{ display:block;background:url(../images/user/cz_btn1.png) no-repeat; width:111px; height:32px; line-height:32px; font-size:14px;border: medium none; color:#fff;cursor: pointer; margin-right:20px;}
	.npay{ display:block;background:url(../images/user/cz_btn2.png) no-repeat;border: medium none;color:#fff;cursor: pointer; margin-right:20px;width:111px; height:32px; line-height:32px;font-size:14px; }
	.cz_note{display:block; float:right; text-align:right; font-size:14px; line-height:32px; color:#4a4a4a;}
	
	.notebox{margin-left:14px; margin-bottom:400px;border:1px solid #cfcfcf; border-right:none;}
	.notxt{width:141px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#555555;border-right:1px solid #cfcfcf;}
	.noteN{width:141px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#b6b6b6;border-top:1px solid #cfcfcf; border-right:1px solid #cfcfcf;}
	
	/* 我的大礼包 */
	.user_main_r .title h3.t3{ float:left;background:url(../images/user/lb.png) no-repeat left; font-size:16px; color:#045285; text-align:left; margin-left:28px; padding-left:27px; line-height:42px; font-weight:normal;}
	.Numbox{margin:20px 0px;}
	.Numbox li{background:url(../images/user/rline_bg.png) repeat-x bottom; padding-bottom:11px; vertical-align:middle;position:relative;}
	.chx{padding:0 20px;} 
	
	.chx h3{height:20px; margin-bottom:10px;}
	.chx h3 em{ font-style:normal;}
	.ga_name{ float:left;font-size:16px; color:#272727; text-align:left; padding-right:30px; display:inline;}
	.ga_num{ float:left; font-size:14px; color:#9f9f9f; text-align:left;}
	.chxdel{ display:block; float:right;background:url(../images/user/deleteh.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:21px;line-height:21px;margin-right:20px;width:68px;font-family:"微软雅黑"; margin-top:10px;}
	
	.chx .chx_btn{height:24px}
	.chbtn1{ float:left; display:block;background:url(../images/user/chx_btn1.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:24px;line-height:24px;margin-right:12px;width:70px;font-family:"微软雅黑"; display:inline;}
	.chbtn2{float:left;display:block;background:url(../images/user/chx_btn2.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:24px;line-height:24px;margin-right:12px;width:70px;font-family:"微软雅黑";display:block;display:inline;}
	.chbtn3{float:left;display:block;background:url(../images/user/chx_btn3.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:24px;line-height:24px;margin-right:12px;width:70px;font-family:"微软雅黑";display:inline;}
	.chbtn4{float:left;display:block;background:url(../images/user/chx_btn4.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:24px;line-height:24px;margin-right:20px;width:86px;font-family:"微软雅黑";display:inline;}
	.chxP{ float:left; display:block;text-align:left; font-size:12px; line-height:24px; color:#555;}
	.del{position:absolute;width:15px;height:15px;line-height:15px;border:1px solid #dedede;right:20px;top:10px;cursor:pointer;}
	.del:link,.del:active{color:#555;}
	
	
	
	/* 游戏中心 */
	.user_main_r .title h3.t2{ float:left;background:url(../images/user/yx.png) no-repeat left; font-size:16px; color:#045285; text-align:left; margin-left:28px; padding-left:27px; line-height:42px; font-weight:normal;}
	
	.cg_title{ border-bottom:1px solid #cdcccc; padding:14px 0;}
	.cg_title .l{ float:left; width:167px; font-size:14px; color:#1c1c1c; text-align:left;margin-left:12px; display:inline;}
	.cg_title .r{ float:left; width:272px;font-size:14px; color:#1c1c1c; text-align:left;}
	
	.glist li{ background:url(../images/user/rline_bg.png) repeat-x bottom; padding:14px 0;}
	.glist li dl{ height:25px; color:#1c1c1c;text-align:center;}
	.glist li dt{float:left;width:167px;text-align:left;margin-left:12px;display:inline; font-size:14px;color:#1c1c1c; display:inline; line-height:25px;}
	.glist li dd{ float:left;text-align:left;font-size:14px;}
	.glist li dd.l{ width:272px;text-align:left;color:#848484;font-size:14px; line-height:25px;}
	.glist li dd.m{width:203px;text-align:left;font-size:14px;}
	
	.likegiftlist li{float:left; width:154px; margin:20px 14px; display:inline; vertical-align:middle;}
	.likegiftlist li .pic{height:119px;}
	.likegiftlist li .name{display:block;text-align:center; font-size:14px; color:#555; height:24px; line-height:24px;}
	.game_btn{margin-top:5px;}
	.gamebtn1{background:url(../images/user/gamebtn4.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:27px;line-height:27px;margin-right:8px;width:65px;font-family:"微软雅黑";}
	.gamebtn2{background:url(../images/user/gamebtn5.png) no-repeat;border: medium none; color: #FFFFFF;cursor: pointer;height:27px;line-height:27px;width:65px;font-family:"微软雅黑";}
	
	.gamebtn3{ float:left; display:block;background:url(../images/user/gamebtn1.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:25px;line-height:25px;margin-right:8px;width:61px;font-family:"微软雅黑"; display:inline;text-align:center;font-size:12px;}
	.gamebtn4{ float:left;display:block;background:url(../images/user/gamebtn2.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:25px;line-height:25px;margin-right:8px;width:61px;font-family:"微软雅黑";display:inline;text-align:center;font-size:12px;}
	.gamebtn5{ float:left;display:block;background:url(../images/user/gamebtn3.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:25px;line-height:25px;width:61px;font-family:"微软雅黑";display:inline; text-align:center; font-size:12px;}
	
	/* 充值兑换 */
	.user_main_r .title h3.t7{ float:left;background:url(../images/user/change.png) no-repeat left; font-size:16px; color:#045285; text-align:left; margin-left:28px; padding-left:27px; line-height:42px; font-weight:normal;}
	.cblue{padding-left:30px;font-size:14px; text-align:left;color:#00a8fd; height:20px; line-height:20px;}
	.cbtn{padding-left:30px;margin-top:10px;}
	.cbtn1{float:left;display:block;background:url(../images/user/changebtn1.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:34px;line-height:34px;margin-right:23px;width:145px;display:inline;text-align:center;font-size:16px;}
	.cbtn2{float:left;display:block;background:url(../images/user/changebtn2.png) no-repeat; border: medium none; color: #FFFFFF;cursor: pointer;height:34px;line-height:34px;width:145px;display:inline;text-align:center;font-size:16px;}
	
	.changebox{margin:0px 10px;}
	.changebox .title{height:40px;border:1px solid #dbe2e8; border-bottom:none; font-size:14px; text-align:left;line-height:40px; color:#161616; padding-left:20px; background:#e4edfb;}
	.changebox .content{background:#fff;border:1px solid #dbe2e8;padding:20px;}
	.changebox .content .data_l{width:150px;}
	.chgame{font-size:12px; color:#00A8FD; padding-left:5px;}
	
	.changelist{border-top:1px solid #dbe2e8; border-left:1px solid #dbe2e8;}
	.changelist ul{list-style:none; margin:0 auto;}
	.changelist li{float:left;border-right:1px solid #dbe2e8; border-bottom:1px solid #dbe2e8; padding:10px 0px; width:257px; display:inline;}
	.changelist li a span{ display:block; font-size:16px;text-align:center; color:#000; height:28px; line-height:28px;}

	/* 新增样式07-01 */
	.uc_game{width:738px;margin:0 auto;margin-top:10px;}
	.uc_game h4{background:url(../images/user/utitle1.png);line-height:33px;text-align:left;font-size:14px;font-weight:400;padding-left:10px;color:#000}
	.uc_game .uc_con{border:1px solid #E0E0E0;border-top:none;}
	.play_list{padding:10px;}
	.play_list li{float:left;margin:5px 12px;display:inline;height:64px;overflow:hidden;width:119px;}

	.uc_active{border:1px solid #E0E0E0;border-top:none;width:736px;margin:0 auto;padding-bottom:10px;}
	.active_box h4{background:url(../images/user/utitle2.png);line-height:34px;text-align:left;font-size:14px;font-weight:400;padding-left:10px;color:#000}
	.active_box ul{padding:0 10px;background:#fff;}
	.active_box ul li{float:left;margin:8px;display:inline;border-radius:8px;border:1px solid #E3E3E3;background:url(../images/user/ucon_bg.png) repeat-x #fff bottom;padding:10px;width:320px;height:118px;}
	.active_box ul li .pic{float:left;width:156px;}
	.active_box ul li .pic:link,.active_box ul li .pic:visited{color:#333;}
	.active_box ul li .pic span{display:block;margin-top:6px;text-align:center;}
	.active_box ul li .info{float:right;display:inline;width:150px;line-height:18px;text-align:left;}
	.active_box ul li .date{display:block;margin-top:6px;color:#7B9DB0}

	.uc_gift{border:1px solid #E0E0E0;border-top:none;width:736px;margin:0 auto;margin-bottom:20px;}
	.uc_gift h4{background:url(../images/user/utitle2.png);line-height:34px;text-align:left;font-size:14px;font-weight:400;padding-left:10px;color:#000}

	.footer{background:url(../images/user/footer_pic.jpg) no-repeat center top;height:184px;padding:0;border:none;}
	.footer .inner{padding-top:30px;}
	.footer .copyright{float:none;border:none;text-align:center;width:100%;}

	/* help style */
	.user_main_r .bz h3{ float:left;background:url(../images/user/help_ico.png) no-repeat left;}
	.help_box{padding:30px;text-align:left;}
	.help_box .word{margin-bottom:20px;font-size:14px;font-family:verdana;}
	.help_box .word em{font-style:normal;color:#f60;}
	.help_box .wen{background:url(../images/user/help_num.png) no-repeat left;line-height:30px;color:#333;font-weight:700;}
	.help_box .wen span{color:#689da5;display:inline-block;width:44px;text-align:center;font-size:12px;}
	.help_box .da{line-height:22px;padding:5px 0 5px 44px;}
	.help_qq{padding-left:44px;font-size:14px;color:#333;line-height:24px;border-top:1px solid #eee;padding-top:20px;}