<h2>用户管理<span class="info">来创建和管理您的管理员吧</span></h2>
<ul class="filter nav nav-pills">
  <li class="active">
    <a href="{{ this.createUrl('create')}}" data-filter=".element">创建管理员</a>
  </li>
  <li><a href="{{ this.createUrl('admin')}}" data-filter=".sampleFilterOnetrue">管理管理员</a></li>
</ul>