{% extends "/layouts/base.twig" %}
{% block sidenav %}
{% set active_nav_name = "list"%}
{% include "/page/sidenav.twig" %}
{% endblock %}
{% block content %}
<section id="main1">
<div class="page-header">
  <h1>页面列表</h1>
</div>
<div class="row-fluid">
  {{ void(this.widget('bootstrap.widgets.TbGridView',{
          'id':'order-grid',
          'type':'bordered striped',
          'dataProvider':dataProvider,
          'columns':[
             'id',
             'page_name',
             'domain',
             'path',
             'file',
             'created',
             {'name':'状态','value':'$data->status == 0 ? "未发布":($data->status == 3 ? "正在发布" : "已发布")'},

             {
                'name': '操作',
                'value':'CHtml::link($data->status == 0 ? "发布" : "重新发布",Yii::app()->createUrl("page/push",array("id"=>$data->id)))',
                'type':'raw'
             },
          ]
  })) }}
<div>
</section>
{% endblock %}