{% extends "game/index.twig" %}
{% set menu_name="联运管理"%}
{% set sidebar_name = "游戏类型" %}
{% block content %}
<div class="container-fluid">
  <input type="button" class="add_btn" value="新建类型" onclick="javascript:window.location.href='{{ this.createUrl('cpuser/term')}}'" />
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'id',
                1:'name',
                3:'created',
                4:'modified',
            },})) 
         }} 
  </div>
</div>
{% endblock %}