{% extends "game/index.twig" %}
{% set menu_name="联运管理"%}
{% set sidebar_name = "游戏分类" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {% set nav_name = "create"%}
    {% include "cpuser/term_form.twig" %}
  </div>
</div>
{% endblock %}