    /* mod_left style */		
	.mod_left{ float:left; width:205px;}
	.down_btn{ height:89px;}
	.gamebox .title{ padding-left:8px; text-align:left;}
	.gamebox .content{background:#910000; margin:0 5px; border:1px solid #dc2020; padding:5px;}

	.gamebox dl{background:url(../images/mod_line.png) no-repeat bottom; width:181px; padding-bottom:8px;}
	.gamebox dl dt{height:14px; line-height:14px; padding-top:7px;}
	.gamebox dl dt .chess{padding-left:2px;}
	.gamebox dl dt .more{ font-size:12px;font-family:"宋体"; color:#ffea00; padding}
	.gamebox dl dd{height:18px; margin-top:7px;}
	.gamebox dl dd .pai{float:left; width:18px; height:18px;}
	.gamebox dl dd .name{float:left; text-align:left;font-family:"微软雅黑","黑体"; font-size:12px; padding-left:7px; display:inline;}
	.gamebox dl dd a:link,.gamebox dl dd a:visited{color:#FFC5C5;}
	.gamebox dl dd a:hover,.gamebox dl dd a:active{color:#FDD600;}

	/* mod_right style */
	.mod_right{ float:left; margin-left:8px; width:759px;}
	.newsbox{ margin-top:8px;}
	.fhbanner {width:420px; height:216px; position:relative; overflow:hidden;}
	.fhbanner .bannerImg{width:420px; height:216px;overflow:hidden;}
	.fhbanner .bannerImg li{width:420px; height:216px;overflow:hidden;position:absolute;left:0;top:0;}
	.bannerImg li {width: 420px; height: 216px; position: absolute; left: 0; top: 0;}
	.bannerImg .smask {z-index: -1; filter: alpha(opacity = 0); -moz-opacity: 0; opacity: 0; zoom: 1;}
	.bannerImg img {width: 420px; height: 216px; overflow: hidden;}
	.bannerNum {display: block; overflow: hidden; position: absolute; right: 15px; bottom: 10px; z-index: 11;}
	.bannerNum li {background:#fff; width: 16px; height:16px; line-height: 16px; color: #333; text-align: center; float: left;margin:0 2px;display: block; position: relative; z-index: 12; cursor: pointer;}
	.bannerNum li.cur{background:#f00; color: #fff; cursor: pointer;}

	
	/* news style */
	.news{ float:right; width:329px; height:214px; border:1px solid #b31400;}
	.news_title{ border:1px solid #ff0000; background:url(../images/news_title.png) repeat-x; height:27px; line-height:27px; overflow:hidden;border-bottom:none}
	.news_title ul{ list-style:none; margin:0 auto; padding-left:2px;}
	.news_title li{ width:80px; float:left;font-family:"宋体"; font-size:14px; font-weight:bold; margin-right:10px; display:inline;cursor:pointer;}
	.news_title li.cur{width:80px; background:#fff; height:26px; margin-top:2px;color:#B31400}
	.news_content{padding:10px 14px;}
	.news_list li{font-size:14px; text-align:left; color:#333333;font-family:"宋体"; line-height:24px;}
	.news_list li span{ float:right;font-size:12px; color:#888888; padding-right:7px; display:inline;}
	
	/* btn style */
	.btnbox{ margin-top:7px;}
	.btn_list li{ float:left; width:180px; height:55px;display:inline; padding-right:13px;}
	.btn_list li.nopadding{padding:0;}

	.modbox{ margin-top:7px;}
	.modbox .mtitle{background:url(../images/box_title.png) no-repeat; height:31px; line-height:31px;}
	.modbox .mtitle h3{ float:left;font-size:15px;font-family:"微软雅黑"; text-align:left; padding-left:17px; font-weight:normal;}
	.modbox .mtitle .more{ float:right; background:url(../images/more.png) no-repeat; width:48px; height:17px; margin-right:14px; margin-top:7px; display:inline;}
	.modbox .mcontent{ border:1px solid #9b0103; width:757px; border-top:none;}
	
	/*.activity{width:543px;}*/
	.activity_list li{ float:left;width:160px; margin:17px 14px; display:inline;}
	.activity_list li h4{ display:block; text-align:left; font-size:14px;font-family:"微软雅黑"; font-weight:normal;padding-top:5px; color:#333333;}
	.activity_list li .time{display:block; text-align:left; padding-top:2px; font-size:12px; color:#8a8a8a;}
	
	.result{ float:right; width:213px;margin-top:1px; border-left:1px solid #d7d7d7;}
	.result .ctitle{ height:26px; line-height:26px; font-size:14px; color:#333; text-align:center;font-family:"微软雅黑";}
	.result .c_content{ background:url(../images/rea_content.png) repeat-x; padding:5px 1px;}
	#matchArea{height:150px; overflow:hidden;}
	.result_p{ padding:8px 17px 3px; color:#484848; text-align:left; line-height:16px;}
	
	.gift_list li{ float:left; margin:14px 20px 8px; width:148px; display:inline; position:relative;}
	.gift_list li a .pic{ width:146px; height:146px; position:relative; overflow:hidden;}
	.gift_list li a span.mark{ position:absolute; top:121px; left:2px; width:144px; height:25px; background:url(../images/gift_mark_bg.png) repeat-x;font-family:"微软雅黑"; text-align:center; font-size:14px;  line-height:25px;}
	
	.gift_list li .old_price{ display:block; text-align:left; margin-left:5px; padding-top:5px; color:#333333;text-decoration:line-through;font-family:"微软雅黑"; }
	.gift_list li .change{display:block; text-align:left; margin-left:5px; padding-top:5px; color:#333333;font-family:"微软雅黑"; }
	
	.player_list li{ float:left; margin:14px 14px; width:123px; display:inline;}
	.player_list li .player{ display:block; text-align:center; padding-top:5px;color:#333333;font-family:"微软雅黑"; }
	
	.send{ margin-top:16px; text-align:left; color:#555555;font-family:"宋体";}
	/* download style */
	.side_btnlist li{ padding-bottom:3px;}
	.side_btnlist li.nopadding{ padding:0;}
	
	.common_title{ background:url(../images/download/line_bg.png) repeat-x bottom; }
	.common_title h3{background:url(../images/title_bg.png) no-repeat left center;padding:3px 0 3px 12px; text-align:left;font-size:14px; font-weight:normal;font-family:"微软雅黑";line-height:22px;}
	.problem_list li{ background:url(../images/download/pro_libg.png) no-repeat left;text-align:left;font-size:14px;line-height:24px;padding-left:8px;margin-left:3px;font-family:"宋体";}
	.pic_list li{padding:7px 0;}
	.pic_list .imgborder2{border:1px solid #750000;padding:1px;background:#ffffff;}
	.pic_list li h4,.pic_list li span{display:none;}
	
	.game_load{ width:759px; height:217px; margin-top:7px; background:url(../images/download/big_tu.jpg) no-repeat; position:relative;}
	.load{ float:right; position:absolute;width:254px; top:23px; right:24px;}
	.load h2{ font-size:20px; text-align:center;font-family:"微软雅黑";}
	.load p{ font-size:12px; color:#ffffff; text-align:left; padding-left:16px;font-family:"微软雅黑"; line-height:22px; margin-top:11px;}
	.load_btn{height:51px; width:170px; background:url(../images/download/load_btn.png) no-repeat;font-size:20px;font-family:"微软雅黑"; float:left; margin-top:10px; margin-left:48px; display:inline; padding-left:53px; text-align:left; line-height:51px;}
	
	.hotgame_list li{float:left; width:73px; margin:14px; padding:0 12px; display:inline;}
	.hotgame_list li .name{display:block;font-size:12px;font-family:"微软雅黑";color:#333333; padding-top:2px; margin-left:5px;}
	
	.allgame{ padding:14px 15px;}
	.allgame .title{ background:url(../images/title_bg.png) no-repeat left center;font-size:14px;color:#c10100;font-family:"微软雅黑"; text-align:left;padding:3px 12px;}
	.allgame .content{padding:0px 14px; width:670px;}
	.gameslist li{background:url(../images/download/gameslist_libg.png) repeat-x bottom; padding:5px 2px;float:left;margin:0 20px;display:inline;width:280px;}
	.gameslist li .name{float:left; width:140px; text-align:left; font-size:12px; color:#333333;}
	.gameslist li .lj{float:left;width:42px; text-align:left; color:#888;}
	.gameslist li .lj a{ color:#ff6600;}
	.gameslist li .empty{ float:left; width:177px;}
	
	
	/*  新闻页  */
	.news_tab{background:url(../images/news/new_bg.png) repeat-x  bottom; height:28px; width:759px;padding-left:2px;}
	.news_tab li{background:url(../images/news/news_tab.png) no-repeat left bottom;float:left;color:#333333;font-family:"微软雅黑"; font-size:14px;margin-right:5px;display:inline;}
	.news_tab li a{display:block;line-height:26px;background:url(../images/news/news_tab.png) no-repeat right bottom;margin-left:14px;padding-right:14px;}
	.news_tab li.cur{background:url(../images/news/news_tab.png) no-repeat left top;color:#e10000;}
	.news_tab li.cur a{background:url(../images/news/news_tab.png) no-repeat right top;line-height:28px;}
	.news_tab li a:link,.news_tab li a:visited{color:#333;}
	.news_tab li.cur a:link,.news_tab li.cur a:visited{color:#f00;}
	.news_tab ul{float:left;}
	.news_tab .more{float:right;line-height:28px;padding-right:10px;display:inline;}
	
	.new_list {margin:16px 43px 0;width:670px; }
	.new_list li{ background:url(../images/download/gameslist_libg.png) repeat-x bottom; padding:7px 5px;text-align:left; font-size:14px; color:#333333;}
	.new_list li a:link,.new_list li a:visited{ color:#333333;}
	.new_list li a:hover,.new_list li a:active{ color:#f60;}
	.new_list li span{ float:right; color:#555; display:inline;font-size:12px;}
	
	/* page style */
	.page{text-align:center;height:22px;padding:20px 0;}
	.page div{display:inline-block;*display:inline;zoom:1;font-family:Tahoma;}
	.c_page,.page a{height:20px;display:block;background:#fff;color:#000;text-decoration:none;float:left;line-height:20px;text-align:center;border:1px solid #b0b0b0;padding:0 7px;}
	.page div span{float:left;height:20px;line-height:20px;background:#dc2020;color:#fff;text-decoration:none;text-align:center;margin:0 2px;border:1px solid #910000;padding:0 7px;}
	.page a{margin:0 2px; color:#000;}
	.page a:hover{border:1px solid #F60;color:#F60;}
	.page div em{float:left;line-height:20px;margin:0 2px; color:#000000;}
	
	/*  新闻内页  */
	.article{ background:url(../images/news/new_bg.png) repeat-x top; width:759px; margin-top:10px;}
	.article h1{ font-size:24px;font-family:"微软雅黑"; margin-top:11px; text-align:center; color:#000; font-weight:normal; padding-top:20px;}
	.article .author{display:block;font-size:12px; line-height:24px; margin-top:5px; text-align:center; color:#555555;}
	.article .author span{margin-right:20px;}
	.article_con{font-size:14px;padding:12px 30px;line-height:22px; color:#333;text-align:left;}
	.article_con p{ margin:20px 10px; text-indent:2em;}
	
	
	/*  活动专题  */
	.activitys{padding:11px;}
	.project_list li{ width:712px; background:url(../images/download/gameslist_libg.png) repeat-x bottom; padding:15px 0;}
	.project_l{ width:162px;float:left; margin-left:4px; display:inline; position:relative;}
	.project_l .pic{ position:absolute; top:2px; left:2px;}
	.project_r{ float:left; width:518px; margin-left:15px; display:inline; font-size:12px; color:#333; text-align:left; line-height:18px;}
	.project_r h4{ font-size:14px; text-align:left; color:#000;font-family:"微软雅黑";}
	.project_r h4 a:link,.project_r h4 a:visited{color:#000;}
	.project_r h4 a:hover,.project_r h4 a:active{color:#f60;}
	.project_r .time{ color:#888888;}
	.project_r .pro_btn{ background:url(../images/activity/enjoy_btn.png) no-repeat left; width:70px; height:25px; line-height:25px; text-align:center;}
	
	/*  充值中心  */
	#pay{padding:1px;font-size:14px;margin-top:5px;}
	.pay_nav li{height:35px;background:url(../images/pay/pay_navbg.png) repeat-x bottom;}
	.pay_nav li a{display:block;line-height:35px;text-align:left;padding-left:12px;color:#ffbeb8;font-family:"微软雅黑";}
	.pay_nav li a:link,.pay_nav li a:visited{color:#ffbeb8;text-decoration:none;outline:none;}
	.pay_nav li a:hover,.pay_nav li a:active{color:#f60;}
	.pay_nav li.cur{background:url(../images/pay/pay_navbg.png) no-repeat left top;color:#fff;}
	
	#pay_guide li{ font-size:12px; text-align:left; color:#ffbeb8; line-height:24px;}
	#pay_guide li a:link,#pay_guide li a:visited{color:#ffbeb8;text-decoration:none;outline:none;}
	#pay_guide li a:hover,#pay_guide li a:active{color:#f60;}
	
	
	/* pay style */
	.pay_content{padding:30px 20px; text-align:left; color:#000;}
	.pay_content .pay_info{line-height:1.7em;font-size:14px;color:#555; text-indent:28px;padding:10px 0;}
	.pay_form{padding:20px 60px;font-size:14px;}
	.pay_form .title{padding-bottom:8px; display:block; color:#000;}
	.pay_form .item label{padding:5px 0; display:block; color:#000;}
	.pay_form .pay_submit{padding:12px 0; display:block;}
	.pay_tip{padding:10px 0; line-height:22px;border-top:1px solid #CBD8DC;margin-top:10px;}
	.pay_btn1{background:url(../images/pay/pay_btn1.png) repeat-x;height:25px;border:1px solid #ff0000;cursor:pointer;color:#fff;font-size:14px;font-weight:bold;padding:0 20px;margin-right:20px; width:77px; text-align:center;}
	.pay_btn2{background:url(../images/pay/btn2.png) repeat-x;height:25px;border:1px solid #D5D9DB;cursor:pointer;color:#555;font-size:14px;font-weight:bold;padding:0 20px; width:77px; text-align:center;}
	 
	.pay_p{font-size:12px; color:#000; text-align:left; line-height:20px; padding-bottom:5px;}
	.show_btn{float:left;}
	.soon_btn{ float:left; margin-left:30px; display:inline;}

	/* help style */
	#mhelp{background:#fff;padding:10px;}
	#mhelp .cnav{text-align:left;color:#555;background:url(../images/news/new_bg.png) repeat-x bottom;padding:2px 0 12px;}
	.modhelp{padding:20px 30px;}
	.modhelp h2{text-align:left;font-size:20px;font-family:"微软雅黑";color:#000;padding:0 0 12px;font-weight:400;}
	.help_nav{margin-bottom:16px;padding-left:20px;}
	.help_nav li{float:left;width:211px;height:61px;margin-right:120px;display:inline;}
	.help_nav li a{display:block;height:61px;}
	.help_nav li.n1{background:url(../images/help/ico.jpg) no-repeat left top;}
	.help_nav li.n2{background:url(../images/help/ico.jpg) no-repeat -247px top;}
	.help_nav li.n3{background:url(../images/help/ico.jpg) no-repeat right top;margin:0;}
	.help_content{border:1px solid #D5870E;padding:0 14px;position:relative;_zoom:1}
	.help_content .arrow1{position:absolute;width:22px;height:11px;font-size:0;line-height:0;overflow:hidden;background:url(../images/help/arrow1.png);left:110px;top:-12px;}
	.help_content h3{text-align:left;font-size:16px;font-family:"微软雅黑";color:#000;padding:12px 0 12px;font-weight:400;}
	.help_content h3.t2{border-top:1px solid #dedede;margin-top:20px;}
	.service1 dl{float:left;margin-left:42px;border-right:1px solid #dedede;text-align:left;display:inline;padding-right:42px;height:220px;}
	.service1 dl.noborder{border:none;padding:0;}
	.service1 dl dt{font-size:14px;font-family:"微软雅黑";color:#333;padding-left:36px;line-height:32px;margin-bottom:5px;}
	.service1 dl dt.n1{background:url(../images/help/ico2.png) no-repeat left top;}
	.service1 dl dt.n2{background:url(../images/help/ico2.png) no-repeat left -32px;}
	.service1 dl dt.n3{background:url(../images/help/ico2.png) no-repeat left -64px;}
	.service1 dl dt.n4{background:url(../images/help/ico2.png) no-repeat left -96px;}
	.service1 dl dd a{display:block;line-height:22px;padding-left:36px;}
	.service1 dl dd a:link,.service1 dl dd a:visited{color:#555;}
	.service1 dl dd a:hover,.service1 dl dd a:active{color:#f60;}
	.service1 .problem_list{padding-left:36px;}
	.service1 .problem_list li{margin-left:0; line-height: 22px;font-size:12px;}
	.service1 .problem_list li a{padding-left:0;}
	.service1 p{margin-left:36px;width:220px;}
	.service1 dl dd p a{float:left;display:inline;width:110px;margin-left:0;}
	.service2{padding-bottom:20px;}
	.service2 dl{float:left;margin:0 35px;text-align:left;width:180px;display:inline}
	.service2 dl dt a,.service2 dl dt{display:block;height:62px;}
	.service2 dl dt.n1{background:url(../images/help/ico.jpg) no-repeat left bottom;}
	.service2 dl dt.n2{background:url(../images/help/ico.jpg) no-repeat -265px bottom;}
	.service2 dl dt.n3{background:url(../images/help/ico.jpg) no-repeat right bottom;}
	.service1 p.fl,.service1 p.fr{width:120px;}
	.service2 .problem_list{padding:4px;font-size:12px;}
	.service2 .problem_list li{font-size:12px;}
	.service2 a.apink:link, .service2 a.apink:visited{color:#555;}
	.service2 a.apink:hover, .service2 a.apink:active{color:#f60;}
	.service2 dd p{text-align:center;padding:20px 0;font-size:15px;font-family:"微软雅黑";color:#333;}

	/* suggestion style */
	.sugg_content{border:1px solid #A7C1D8;position:relative;_zoom:1}
	.sugg_content .arrow2{position:absolute;width:22px;height:11px;font-size:0;line-height:0;overflow:hidden;background:url(../images/help/arrow2.png);right:110px;top:-12px;}
	.sugg_search{background:url(../images/help/search_bg.png) repeat-x;height:62px;color:#000;}
	.sugg_search .fl{margin:15px 0 0 20px;display:inline;}
	.sugg_search span{float:left;margin-right:4px;}
	.sugg_search span.name{background:url(../images/help/search_ico.png) no-repeat left center;padding-left:26px;line-height:24px;font-size:14px;color:#333;font-family:"微软雅黑";}
	/*.sugg_search span.sel{margin-top:6px;}*/
	.search_ipt{background:#fff;border:1px solid #B7B8B7;padding:4px;height:22px; line-height: 22px;margin-right:4px;}
	.search_btn{background:url(../images/help/search_btn.png) no-repeat center;width:82px;height:26px;cursor:pointer;border:1px solid #D38026;}
	.tiwen{background:url(../images/help/tiwen.png) no-repeat;width:142px;height:40px;float:right;margin:12px 30px 0 0;display:inline;}

	.sugg_list{padding:10px 20px;}
	.sugg_list li{padding:12px 0;background:url(../images/qq_line.png) repeat-x bottom}
	.sugg_list li .word{float:left;width:708px; line-height:1.6em;text-align:left;font-size:14px;color:#333;}
	.sugg_list li .a1{color:#555}
	.sugg_list li .a2{padding:3px 5px;border:1px dotted #E6DAAC;background:#FEFFF0;color:#F35E31;margin-top:6px;}
	.sugg_list li .name{color:#00A1FF;}
	.sugg_list li .date{float:right;color:#888;line-height:1.6em}

	.sugg_form{margin:0 20px 20px;border:1px solid #CBCBCB;}
	.sugg_form h3{font-size:16px;color:#f00;font-family:"微软雅黑"; text-align:left;padding:10px;}
	.form_div li{padding:8px 0;}
	.form_div li .item1{font-size:14px;color:#333;float:left;width:180px; line-height:26px;text-align:right;}
	.form_div li .item2{float:left;margin-left:12px; display:inline; text-align:left;}
	.sugg_ipt{border:1px solid #D1D1D1;background:url(../images/help/sugg_ipt.png) repeat-x;padding:4px 4px;}
	.sugg_btn{background:url(../images/submit_btn1.png) repeat-x;padding:0 10px;height:23px;color:#fff;font-size:14px;font-weight:700;border:1px solid #FF0000;cursor:pointer;}
	.cancel_btn{background:url(../images/cancel_btn.png) repeat-x;padding:0 14px;height:23px;color:#555;font-size:14px;font-weight:700;border:1px solid #BCBCBC;cursor:pointer;margin-left:12px;}

	/* 密保卡 style */
	.usermod{padding:20px 30px;}
	.mibaoka{font-size:14px;}
	.mibaoka h3{color:#000;text-align:left;font-family:"微软雅黑";font-weight:400;}
	.mibaoka .tip{padding:10px 30px;text-align:left;color:#555;line-height:1.6em;}
	.mibaoka .mibaoka_nav{text-align:center;padding:40px 0;}
	.mibaoka .mibaoka_nav img{margin: 0 40px;}
	.mibaoka .foot{border-top:1px solid #D4D4D4;padding:10px 30px; text-align:left;color:#555;font-size:12px;line-height:1.5em;}
	.mibaoka_form{padding:20px 30px;}
	.mibaoka_form dt{color:#000;text-align:left;padding-bottom:10px;}
	.mibaoka_form dd{padding:6px 0;}
	.mibaoka_form dd .item1{float:left;width:180px;text-align:right;color:#333;line-height:26px;}
	.mibaoka_form dd .item2{float:left;margin-left:12px;display:inline;color:#333;line-height:26px;text-align:left;}
	.succ{padding:20px 0; text-align:center;color:#58C608;}
	.succ p{padding:12px 0;}
	.user_error{padding-left:62px;margin:30px;background:url(../images/user/error_ico.png) no-repeat left top;height:auto!!important;height:80px;min-height:80px;}
	.user_error p{color:#f00;line-height:1.6em;text-align:left;}
	.rebtn1{cursor:pointer;background:url(../images/user/rebtn.png) no-repeat left top;width:136px;height:31px;border:none;font-size:12px;color:#fff;font-weight:700;margin-top:8px;}
	.rebtn2{float:left;background:url(../images/user/rebtn.png) no-repeat right top;width:136px;height:31px;border:none;font-size:12px;color:#fff;font-weight:700;margin-top:8px;display:inline;margin-left:30px;line-height:31px;}
	.user_succ{padding-left:62px;margin:30px;background:url(../images/user/succ_ico.png) no-repeat left top;height:auto!!important;height:50px;min-height:50px;}
	.user_succ p{color:#7FBF34;line-height:1.6em;text-align:left;}

	/* game info */
	.gamehelp{padding:20px 10px;background:url(../images/news/new_bg.png) repeat-x top;}
	.game_tab ul{float:right;}
	.game_tab li{float:left;width:97px;height:24px;margin:0 5px;display:inline;}
	.game_tab li a{display:block;height:24px;}
	.game_tab li.t1 a{background:url(../images/news/gametabs.png) no-repeat left top;}
	.game_tab li.t2 a{background:url(../images/news/gametabs.png) no-repeat -111px top;}
	.game_tab li.t3{width:119px;}
	.game_tab li.t3 a{background:url(../images/news/gametabs.png) no-repeat -222px top;}
	.game_tab li.t4 a{background:url(../images/news/gametabs.png) no-repeat right top;}
	.game_word{padding:20px 5px;line-height:1.6em;font-size:14px;text-align:left;color:#333;}
	.game_h3{background:url(../images/news/game_titlebg.png) center top;padding:8px 0;}
	.game_h3 h3{background:url(../images/title_bg.png) no-repeat left center;float:left;line-height:16px;color:#BC0707;font-family:"微软雅黑";font-weight:400;padding-left:10px;font-size:15px;}
	.game_h3 .gotop{background:url(../images/news/gotop.png) no-repeat;width:54px;height:19px;float:right;}
	.game_con{padding:2px 8px 24px 10px;}