    <div class="htop">
        <div class="inner clearfix">
            <span class="mhlogo"></span>
            <p class="site"><a href="http://www.fhgame.com">[金华站]</a> <a href="/">[怀化站]</a></p>
            <p class="link">
                <a href="javascript:void(0)" onclick="setHome('http://www.fhgame.com');" class="apink">设为首页</a> | <a href="javascript:void(0)" onclick="addFavorite();" class="apink">加入收藏</a> | <a href="/help.html" class="apink">帮助中心</a>
            </p>
        </div>
    </div>
    <div class="common_top clearfix">

	<!-- top -->
            <div class="top_banner">
                <div class="top_content clearfix">
                    <div class="top_logo">
                        <h1>
                            <a href="/">凤凰山庄 棋牌游戏</a>
                        </h1>
                    </div>
                </div>
            </div><!-- top -->
    <!-- MENU -->
            <!-- MENU -->
            <div class="menu">
            	<ul class="menu_content">
                	<li><a href="/">官网首页</a></li>
                    <li {% if menu_name == "pay" %} class="nobg" {% endif %}><a href="/download.html">游戏下载</a></li>
                    <li {% if menu_name == "pay" %} class="cur" {% endif %}><a href="{{ this.createUrl('/prepaid/pay/type/kuaiqian')}}">账号充值</a></li>
                    <li><a href="/xwgg.html">新闻公告</a></li>
                    <li><a href="http://gift.fhgame.com">礼品中心</a></li>
                    <li {% if menu_name == "question" or menu_name == "userverify" %} class="nobg" {% endif %}><a href="/active.html">活动专区</a></li>
                    <li {% if menu_name == "question" or menu_name == "userverify" %} class="cur" {% endif %}><a href="/help.html">客服中心</a></li>
                </ul>
            </div>