<style type="text/css">
.pic_list li h4,.pic_list li span{display:none;}  
</style>
<div data-block="7" class="mod_left">
<div class="down_btn">
    <a href="http://down.fhgame.com/fhgame/FHGameLobby/FHGameLobby.exe"><img width="205" height="89" src="http://s1.fhgame.com/image/2013/05/down_btn--15cd7--.png"></a>
</div>
<div class="gamebox mtop5">
    <div class="content">
        <ul class="side_btnlist">
            <li>
                <a href="/a/2013-05-07/0011367923831.html"><img width="180" height="55" src="http://s2.fhgame.com/images/download/l_btn--98a94--.png"></a>
            </li>
            <li>
                <a href="/prepaid/pay/type/kuaiqian"><img width="180" height="55" src="http://s2.fhgame.com/images/download/l_btn_pay--94ba0--.png"></a>
            </li>
            <li class="nopadding">
                <a href="http://gift.fhgame.com"><img width="180" height="55" src="http://s2.fhgame.com/images/download/btn_gift--33e56--.png"></a>
            </li>
        </ul>
    </div>
</div>
<div class="gamebox mtop5">
    <div class="content clearfix">
        <div class="common_title">
            <h3>
                常见问题
            </h3>
        </div>
        <div data-block="6">
            <ul class="problem_list">
                <li>
                    <a target="_blank" href="/a/2013-05-07/0011367918910.html" class="apink">帐号封停的原因有哪些？</a>
                </li>
                <li>
                    <a target="_blank" href="/a/2013-05-07/0011367918800.html" class="apink">登录游戏没有游戏列表？</a>
                </li>
                <li>
                    <a target="_blank" href="/a/2013-05-07/0011367918657.html" class="apink">用户名可以进行修改吗？</a>
                </li>
                <li>
                    <a target="_blank" href="/a/2013-05-07/0011367918574.html" class="apink">取银子提示银行密码错误？</a>
                </li>
                <li>
                    <a target="_blank" href="/a/2013-05-07/0011367918159.html" class="apink">登陆的时候提示密码错误</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="gamebox mtop5 mfoot7">
    <div class="content clearfix">
        <div class="common_title">
            <h3>
                最新活动
            </h3>
        </div>
        <ul data-block="31" class="pic_list clearfix">
            <li>
                <a title="玩游戏拿银子" href="/a/2013-05-08/0011367977463.html" target="_blank"><img width="156" height="108" class="imgborder" src="http://s1.fhgame.com/image/2013/05/1--d523f--.jpg"></a>
                <h4>
                    <a title="玩游戏拿银子" href="/a/2013-05-08/0011367977463.html" target="_blank">玩游戏拿银子</a>
                </h4><span class="time">5月17日—5月31日</span>
            </li>
            <li>
                <a title="充值有好礼" href="/a/2013-05-08/0011367978104.html" target="_blank"><img width="156" height="108" class="imgborder" src="http://s1.fhgame.com/image/2013/05/3--a0806--.jpg"></a>
                <h4>
                    <a title="充值有好礼" href="/a/2013-05-08/0011367978104.html" target="_blank">充值有好礼</a>
                </h4><span class="time">5月17日—5月31日</span>
            </li>
            <li>
                <a title="欢乐大抽奖" href="/a/2013-05-08/0011367978466.html" target="_blank"><img width="156" height="108" class="imgborder" src="http://s1.fhgame.com/image/2013/05/5--c104f--.jpg"></a>
                <h4>
                    <a title="欢乐大抽奖" href="/a/2013-05-08/0011367978466.html" target="_blank">欢乐大抽奖</a>
                </h4><span class="time">5月17日—5月31日</span>
            </li>
        </ul>
    </div>
</div>
</div>