<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>500错误</title>
    <style>
        body{background:#fff;margin:0 auto;font-family:"微软雅黑"}
        h1,h2,h3{font-style:normal;font-weight:400;margin:0 auto;padding:0;}
        .box{width:600px;height:300px;position:absolute;left:50%;top:50%;margin-left:-300px;margin-top:-150px;}
        .error{background:url(http://s1.17w78.com/image/2013/07/500--67ea3--.jpg) no-repeat left top;text-align:left;padding-left:150px;}
        h1{font-size:30px;padding-top:50px;}
        h2{padding:10px 0;font-size:24px;color:#ff8400;}
        p{font-size:18px;line-height:22px;color:#888;}
    </style>
</head>
<body>
    <div class="box">
        <div class="error">
            <h1>糟糕！页面无法访问.</h1>
            <h2>F5刷新试试</h2>
            <p>错误代码：500（服务器内部错误）</p>
        </div>
    </div>
</body>
</html>