{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="/">Home</a> &gt; <a href="/help/about">About Us/a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>Help</dt>
                <dd class="cur"><a href="/help/about">About Us</a></dd>
                <dd><a href="/help/faq">F.A.Q</a></dd>
                <dd><a href="/contact">Contact Us</a></dd>
                <dd><a href="/help/privacypolicy">Privacy Policy</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="myorder">
                <div class="title">About Us</div>
                <div class="content" id="tracking">
                    <p>
                        <p>Our Goal</p>

<p>Welcome to the Zdan Online. Meet your needs is our unceasing pursue. Our main goal is the satisfaction of our customers. We strive to provide you with a pleasant and easy shopping experience by offering the best price, best service, best selection, promptness, and reliability.</p>

<br />
<p>Best Selection</p>

<p>By shopping at ZDAN you have thousands of in-stock items available for your selection. We are one of the best and biggest retailers of clothing gear in the world. We are ready to provide you with all of your apparel needs. If there is ever an item that you are looking for and you don’t find it on our website, contact us via live chat and we will help assist getting the product for you.</p>

<br />
<p>Best Service</p>


<p>Your every purchase at ZDAN enjoy 100% guarantee. And sure high quality customer service is first. We want to help you make right decision for your purchase by providing you thousands of photos and detailed product descriptions. Please do not hesitate to contact Customer Service by phone or email if your question is not satisfied; we hope to make your visit to Zdanonline.com even more enjoyable.</p>


<br />
<p>Best Prices</p>


<p>When you shop at ZDAN, you can be sure you’re getting the best deal. We strive to offer our customers the lowest prices but same perfect products. Because we believe reasonable price would make more loyal customers be satisfied with our website, we try to make a tiny profit on each product and sell more items of them to make even. This business strategy makes both us happy. If you ever find a lower price anywhere online, just contact us through live chat and request a price match.</p>

                    </p>

                
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}