{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="/user/">My Account</a> &gt; <a href="/user/setting">Account Settings</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>Help</dt>
                <dd><a href="/help/about">About Us</a></dd>
                <dd class="cur"><a href="/help/faq">F.A.Q</a></dd>
                <dd><a href="/contact">Contact Us</a></dd>
                <dd><a href="/help/privacypolicy">Privacy Policy</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="myorder">
                <div class="title">F.A.Q</div>
                <div class="content" id="tracking">
                       <p>1.    Do you ship to Brazil?</p>
<p>A:Yes. We ship worldwide. We have years shipping experience to Brazil. We know how to make packages to be arrived in your hands safer without extra taxes.</p>
 
<p>2. Are your products genuine?</p>
<p>A: We never evade the genuine issue, being honest to every customer is our service goal.
All of our products are from professional manufacturer with export-class quality. They are strictly tested and selected by our quality inspection departments. We only select top quality products for our customers. So it is meaningless to argue more about the genuine or not. Even if we guarantee 100% genuine, you will not fully trust. The point is weather you are satisfied with our products and service. To see is to believe. You need to test our real quality by your own eyes. If you don’t satisfy with it, no worry, we have Return Policy. You can return it to us for refund. We believe you can figure out the quality from our detail pictures, they are 100% real shooting (if you want to see more detail pictures, just contact our customer service).</p>
 
<p>3. Can you ship packages as gift with value under $50?</p>
<p>A: Yes. All packages would be shipped out as gift and marked the value under $50 to avoid taxes from local customs. We also print out INVOICE for items more than 3 along with your package.</p>

<p>4. When will my order ship?</p>
<p>A:We do our best to process orders as quickly as possible. In stock items usually take 1-3 days to be shipped out from our warehouse. Packing time may vary depending on the type of item you purchased because of our several large warehouses. Please keep your shipping address the same with your address in your PayPal account. There could be a delay if shipping information is inaccurate, or if billing and shipping addresses are different.</p>

<p>5. How will I know that my order has shipped?</p>
<p>A:As soon as your order has been shipped, one shipping confirmation email would be sent to you specifying your order tracking number and a link to where you can track your shipment. Click on the tracking link and enter your tracking number to determine the delivery status of your order.</p>
 
<p>6.What happens if the items I receive are damaged?</p>
<p>A:We set the highest standards for care and shipment of our products. and customer satisfaction is of the upmost importance. However, if you receive a damaged item from a defect in materials, the fastest solution is to notify our Customer Service online or contact us.
You must provide detailed information regarding the defects and keep the original product packaging as it was received. We will repair or replace your item free of charge after damaged confirmation, upon inspection, that the damage is due to a manufacturing defect and has not been worn or used. Please allow us 2-3 business days to finish solution.</p>
 
<p>7. How do I make changes to or cancel my order?</p>
A:If you wish to make changes or cancel your order after the order has been submitted, the fastest way is to notify our Customer Service online or contact us. We will make every effort to do as your request.</p>
 
<p>8. When can I track my order?</p>
A:At ZDAN we will upload tracking code on website and send to you in 12hours once your package is shipped out. However, it may take up to 3-4 days for tracking code activation and shipping company needs the time to upload information into website system. That means you cannot get any shipping information if you track your package immediately. Please be patient to wait and keep tracking.</p>

                
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}