{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="/user/">My Account</a> &gt; <a href="/user/setting">Account Settings</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>Help</dt>
                <dd><a href="/help/about">About Us</a></dd>
                <dd><a href="/help/faq">F.A.Q</a></dd>
                <dd><a href="/contact">Contact Us</a></dd>
                <dd class="cur"><a href="/help/privacypolicy">Privacy Policy</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="myorder">
                <div class="title">Privacy Policy</div>
                <div class="content" id="tracking">
                   <p>How Info Collected</p>

<p>We guarantee all your shopping at ZDAN is safe. All orders on our site are processed on our secure server. Your information is completely protected and will not be shared with anyone else.At  ZDAN, we are committed to protecting your privacy online. Below is a brief overview of the highlights of our Privacy Policy. This will give you a summary sketch about how information is collected from you and how it is used.</p>
<p>When you register and order on our site, your information is collected, such as your name, email address, billing address, shipping address, telephone number, product selections, credit card or other payment information and a password in order to complete your online purchase.</p>


<br />
<p>How Info Used</p>

<p>We guarantee we do not sell or rent your personal information to others.We may use customer information we collect from you only for purposes of filling orders, contacting purchasers to inform them of their order status, and sending promotional information, enhancing the operation of our site. Our computer system protects personal information using advanced firewall technology.</p>

<br />
<p>How Info Protected</p>

<p>We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. When you place orders or access your personal information, we offer the use of a secure server. All sensitive/credit information you supply is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our databases to be only accessed as stated above.</p>


<br />
<p>Cookies</p>

<p>Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>
 
<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Netscape Navigator or Internet Explorer) settings. Each browser is a little different, so look at your browser Help menu to learn the correct way to modify your cookies. If you turn cookies off, you won't have access to many features that make your site experience more efficient and some of our services will not function properly. However, you can still place orders over the telephone by contacting customer service.</p>

<p>We use cookies to help identify you when you visit our store. The cookies contain randomly assigned user identification to welcome you back to our site. The cookies make your use of the site easier, allow you to retrieve an earlier shopping cart, make the site run more smoothly and help us to maintain a secure site. You will be unable to shop on our site without your browser set to accept cookies. We do not disclose your personal account information or any information about your purchases to any other party.</p>
                   </p>

                
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}