{% extends "game/index.twig" %}
{% if root.id == "1" %}
{% set menu_name="游戏管理"%}
{% else %}
{% set menu_name="产品管理"%}
{% endif %}
{% set sidebar_name = "管理分类" %}
{% block content %}
<div class="nav">
    当前位置：<a href="{{ this.createUrl('category/index') }}">root管理</a>>>分类管理
</div>
  <h2>{{ root.name }}</h2>
    <input type="button" class="add_btn" value="新建分类" onclick="javascript:window.location.href='{{ this.createUrl('category/create',{'root':root.id})}}'" />
    

    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':descendants, 
            'columns':{
                0:'id',
                2:{'name':'name','value':'Category::str_tree($data->level,$data->name)'},
                4:'short_name',
                5:'description',
                6:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':'{update}',
                     'buttons':{
                        'update':{'url':'Yii::app()->createUrl("category/edit",array("id"=>$data->id))'},
                      },
                      'htmlOptions':{'width':'50px'}
                }
            },})) 
         }}
{% endblock %}