{% extends "game/index.twig" %}
{% set menu_name="礼包管理"%}
{% set sidebar_name = "礼包管理" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
            <div  class="control-group">
                <label for="Category_name" class="control-label required">code <span class="required">*</span></label>
                <div class="controls">
                    <input type="file" name="csv_up">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">提交</button>
                </div>
            </div>
        {{ void(this.endWidget()) }}<!-- form -->
    </div>
</div>
{% endblock %}