{% extends "game/index.twig" %}
{% set menu_name="礼包管理"%}
{% set sidebar_name = "礼包管理" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'id',
                1:'name',
                2:'created',
                3:'modified',
                4:
                {
                    'name':'status',
                    'value':'($data->status== 0) ? "开启" : "关闭"',
                    "type":"raw",
                },
                5:
                {
                    'name':'status',
                    'value':'($data->status== 0) ? (CHtml::link("关闭",Yii::app()->createUrl("package/updatepackagestatus",array("package_id"=>$data->id)))) : (CHtml::link("开启",Yii::app()->createUrl("package/updatepackagestatus",array("package_id"=>$data->id))))',
                    "type":"raw",
                },
                6:
                {
                    'class':'bootstrap.widgets.TbButtonColumn',
                    'template':' {rules}',
                    'buttons':{
                        'rules':{'url':'Yii::app()->createUrl("package/limit",array("id"=>$data->id))'},
                    }
                },
                7:
                {
                    'class':'bootstrap.widgets.TbButtonColumn',
                    'template':' {view} {update} {delete}',
                    'buttons':{
                        'view':{'url':'Yii::app()->createUrl("package/batch",array("id"=>$data->id))'},
                    }
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}