<a tabindex="-1" href="/user/logout">退出</a>  
<a tabindex="-1" href="/user/recover">重置密码</a>
<!-- <a tabindex="-1" href="/user/changepw">changepw</a> -->
<a tabindex="-1" href="/user/changeemail">修改邮箱</a>
<a tabindex="-1" href="/user/profile">完善注册资料</a>
<a tabindex="-1" href="/user/setusername">name</a>
&nbsp;&nbsp;
<a tabindex="-1" href="/user/register">注册</a>
<a tabindex="-1" href="/user/login">登录</a>{{ username }}