<div>
	<form action="{{ this.createUrl('/question/create')}}" method="post">
		<input type="radio" name="question_type" value="1">安全问题<br>
		<input type="radio" name="question_type" value="2" >登录游戏 <br>
		<input type="radio" name="question_type" value="3" >帐号问题 <br>
		<input type="radio" name="question_type" value="4" >游戏充值问题 <br>
		<input type="radio" name="question_type" value="5" >游戏内容问题 <br>
		<input type="radio" name="question_type" value="6" >帐号安全问题<br>
		<input type="radio" name="question_type" value="7" > 保密卡使用问题 <br>
		<input type="radio" name="question_type" value="8" >礼品中心问题<br>
		<input type="radio" name="question_type" value="9" > 数据异常  <br>
		<input type="radio" name="question_type" value="10" >投诉建议<br>
		<input type="radio" name="question_type" value="11" > 其他问题<br>
		<input type="submit" value="下一步">
	</form>
</div>