{% extends "layouts/base.twig" %}
{% set title_name = "实名认证 - 凤凰山庄" %}
{% block header %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block left %}
{% include "layouts/left.twig" %}
{% endblock %}

{% block content %}
    <div class="mod_right ">
  		<div class="send mfoot10">当前位置：<a href="/" class="ablack">首页</a> > 实名认证</div>
        {% block usernav %}
        {% set nav_name = "userverify" %}
        {% include "layouts/user.twig" %}
        {% endblock %}
        <div class="usermod">
            <div class="mibaoka">
                <h3>实名认证</h3>
                <p class="tip">
                    注：凤凰山庄郑重承诺，您填写的信息只限于凤凰山庄为您提供各种服务，绝不会发放任何广告信息，也绝不会泄<br>
                    露任何您的个人信息。
                </p>
                {% if type == "1" %}
                <div class="user_succ">
                    <p>
                        您的账号已经验证成功!<br>
                        <a href="{{ this.createUrl('/userverify/index')}}" class="ablue">点击此处</a>返回！
                    </p>
                </div>
                {% elseif type == "2" %}
                <div class="user_error">
                    <p>
                        用户名不合法, 请重试！<br>
                        <a href="{{ this.createUrl('/userverify/index')}}" class="ablue">点击此处</a>返回！
                    </p>
                </div>
                {% else %}
                <div class="user_error">
                    <p>
                        用户名首字母不正确, 请重试！<br>
                        <a href="{{ this.createUrl('/userverify/index')}}" class="ablue">点击此处</a>返回！
                    </p>
                </div>
                {% endif %}
                <p class="foot">如果您忘记注册资料，请<a href="" class="ablue">点击这里</a>填写申诉表。</p>
            </div>
        </div>
    </div>
{% endblock %}