{% extends "layouts/base.twig" %}
{% set title_name = "实名认证 - 凤凰山庄" %}
{% block header %}
{% set menu_name = "userverify" %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block left %}
{% include "layouts/left.twig" %}
{% endblock %}

{% block content %}
    <div class="mod_right ">
  		<div class="send mfoot10">当前位置：<a href="/" class="ablack">首页</a> > 实名认证</div>
        {% block usernav %}
        {% set nav_name = "userverify" %}
        {% include "layouts/user.twig" %}
        {% endblock %}
        <div class="usermod">
            <div class="mibaoka">
                <h3>实名认证</h3>
                <p class="tip">
                    注：凤凰山庄郑重承诺，您填写的信息只限于凤凰山庄为您提供各种服务，绝不会发放任何广告信息，也绝不会泄露任何您的个人信息。
                </p>
                <dl class="mibaoka_form">
                    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':true,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
                        {{ form.errorSummary(model)|raw }}
                    <dd class="clearfix">
                        <span class="item1"><span class="red">*</span> 用户名：</span>
                        <span class="item2"><input type="text" name="Userverify[username]" class="sugg_ipt" style="width:180px;"></span>
                    </dd>
                    <dd class="clearfix">
                        <span class="item1"><span class="red">*</span> 密码：</span>
                        <span class="item2"><input type="password" name="Userverify[password]" class="sugg_ipt" style="width:180px;"></span>
                    </dd>
                    <dd class="clearfix">
                        <span class="item1"><span class="red">*</span> 真实姓名：</span>
                        <span class="item2"><input type="text" name="Userverify[realname]" class="sugg_ipt" style="width:180px;"></span>
                    </dd>
                    <dd class="clearfix">
                        <span class="item1"><span class="red">*</span> 身份证号：</span>
                        <span class="item2"><input type="text" name="Userverify[id_num]" class="sugg_ipt" style="width:180px;"></span>
                    </dd>
                    <dd class="clearfix">
                        <span class="item1"><span class="red">*</span> 联系方式：</span>
                        <span class="item2"><input type="text" name="Userverify[tel]" class="sugg_ipt" style="width:180px;"></span>
                    </dd>
                    <dd class="clearfix">
                        <span class="item1">&nbsp;</span>
                        <span class="item2"><input type="submit" name="" class="sugg_btn" value="确认提交"> <input type="submit" name="" class="cancel_btn" value="取消"></span>
                    </dd>
                    {{ void(this.endWidget()) }}
                </dl>
                <p class="foot">说明：根据文化部2010年6月22日发布的《网络游戏管理暂行办法》，用户需使用有效身份证件进行实名注册。如未进行实名注册，将无法进行游戏！</p>
            </div>
        </div>
    </div>
{% endblock %}
