{% extends "game/index.twig" %}
{% set menu_name="测试白名单"%}
{% set sidebar_name = "白名单列表" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    {{ void(this.widget('bootstrap.widgets.TbGridView',{
            'id':'app-grid', 
            'dataProvider':model.search(), 
            'filter':model, 
            'columns':{
                0:'uid',
                3:'created',
                4:'modified',
                5:
                {
                     'class':'bootstrap.widgets.TbButtonColumn',
                     'template':'{update} {delete}',
                }
            },})) 
         }} 
  </div>
</div>
{% endblock %}