<div class="form">
{% include "layouts/notice.twig" %}
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
{{ form.textFieldRow(model, "uid", {'placeholder':''})|raw }}
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">提交</button>
  </div>
</div>
{{ void(this.endWidget()) }}<!-- form -->