{% extends "layouts/base.twig" %}
{% set title_name = "注册资料找回申诉表 - 凤凰山庄" %}
{% block header %}
{% set menu_name = "userverify" %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block left %}
{% include "layouts/left.twig" %}
{% endblock %}

{% block content %}
    <div class="mod_right ">
  		<div class="send mfoot10">当前位置：<a href="#" class="ablack">首页</a> > 注册资料找回申诉表</div>
        {% block usernav %}
        {% set nav_name = "appeal" %}
        {% include "layouts/user.twig" %}
        {% endblock %}
        <div class="usermod">
            <div class="mibaoka">
                <h3>注册资料找回申诉表</h3>
                 {% if type == 1 %}
                <div class="user_succ">
                    <p> 申诉成功！</p>
                </div>
                {% elseif type == 2 %}
                <div class="user_error">
                    <p>
                        申诉失败，请仔细添加信息重新提交！<br/><a href="{{ this.createUrl('/appeal/create') }}" class="ablue">点击此处</a>返回！
                    </p>
                </div>
                {% elseif type == 3 %}
                <div class="user_error">
                    <p>
                        验证码错误！<br/><a href="{{ this.createUrl('/appeal/create') }}" class="ablue">点击此处</a>返回！
                    </p>
                </div>
                 {% endif %}
            </div>
        </div>
    </div>
{% endblock %}