	
		
	.download{ height:67px; border:1px solid #dcdedd; background:url(../images/download_bg.png) repeat-x;}
	.download_l{ float:left; width:620px; background:url(../images/line.png) no-repeat right;}
	.download_r{ float:right; width:357px;}
	.download_l ul{ list-style:none; margin:0 auto; padding-left:20px; padding-top:10px;}
	.download_l ul li{ float:left; width:180px; padding-right:20px; display:inline;}
	.android,.iphone,.ipad{ float:left; width:40px; height:54px;}
	.android{ background-position:0px -152px;}
	.iphone{background-position:-50px -152px; }
	.ipad{background-position:-110px -152px; }
	
	#khd{ float:left; width:120px; font-size:12px; text-align:left; color:#06b7f9; margin-left:5px; font-family:'宋体';}
	.download_btn{ width:57px; height:21px; line-height:21px; font-size:12px; text-align:left;color:#a9a9a9; margin-top:8px; padding-left:20px; float:left;background-position:-190px -164px;}
	
	.search{ float:left; padding-left:17px;padding-top:8px; display:inline;}
	
	
	.game_type{border:1px solid #dcdedd; border-top:none; margin-bottom:10px;}
	.game_type dl{ height:20px; line-height:20px; text-align:center;padding:5px 0;}
	.game_type dt{ float:left; width:68px; height:20px; line-height:18px; text-align:center;margin-left:8px;margin-right:10px; display:inline;}
	.game_type dt a{ font-size:12px; color:#ffffff;}
	.game_type dd{ float:left; height:20px; line-height:18px; text-align:left;}
	.game_type dd.l{ width:830px; height:20px; line-height:18px; text-align:left;color:#cecece;}
	.game_type dd.l a{ font-family:'宋体'; font-size:12px; font-weight:normal; margin:0 2px;}
	.game_type dd.m{width:50px; height:20px; line-height:18px; text-align:right;}
	
	.game_type dt.t1{ background-position:-6px -208px;}
	.game_type dt.t2{ background-position:-6px -240px;}
	.game_type dt.t3{ background-position:-6px -273px;}
	.game_type dt.t4{ background-position:-6px -306px;}
	.game_type dt.t5{ background-position:-6px -339px;}
	
	
	.homegift{ float:left; width:260px;}
	.newsbox{ float:left; width:482px; margin-left:8px; display:inline;border:1px solid #dcdedd;}
	.rankbox{ float:right; width:218px;border:1px solid #dcdedd;}
	
	.commonbox{border:1px solid #dcdedd;}
	.commonbox .ctitle{ height:32px; line-height:32px; border-bottom:1px solid #dcdedd; background:url(../images/box_title1.png) repeat-x;}
	.commonbox .ctitle h3{ float:left;font-size:16px; color:#000000; text-align:left; padding-left:12px; display:inline;font-family:"微软雅黑";font-weight:normal;}
	.commonbox .more{ float:right; font-size:12px;text-align:center;padding-right:5px; display:inline;}
	.commonbox .content{background:url(../images/content_bg.png) repeat-x left top;}
	
	/* gift box style */
	.giftbox{margin:0 auto;}
	.giftbox ul{ list-style:none; margin:0 auto; padding-left:12px;padding-top:14px;}
	.giftbox ul li{ width:240px; margin-bottom:14px;}
	.giftbox .pic{ float:left; background:#fff;}
	.giftbox .name{ float:left; width:112px; font-size:12px; text-align:left;line-height:22px; padding-top:3px; display:inline;margin-left:12px;}
	.giftbox .name h4{color:#000;font-size:14px;}
	.giftbox .lq_btn{ width:96px; height:24px; font-size:12px; color:#538db4; text-align:center; display:block;margin-top:8px;background-position:-276px -162px;}
	
	/* news box style */	
	.news_focus{width:480px; height:210px;padding:1px;overflow:hidden; position:relative;}
	.news_focus .bannerImg{width:550px; position:relative; height:224px; z-index:50; overflow:hidden;}
	.news_focus .bannerImg ul li{position:absolute; left:0; top:0; z-index:0; display:none;}
	.news_focus .bannerImg ul li img{width:480px; height:210px;}
	.news_focus .bannerImg ul li.show{display:block; z-index:10;}
	.news_focus .bannerIndex{position:absolute; z-index:100;right:10px;bottom:10px;}
	.news_focus .bannerIndex ul li{float:left;width:18px;height:18px; line-height:18px;color:#fff; text-align:center;background:#F2F2F2; cursor:pointer;margin:0 3px;}
	.news_focus .bannerIndex ul li.hover{background:#06b7f9;font-weight:700;}
	.news_focus .bannerIndex ul li.hover a:link,.news_focus .bannerIndex ul li.hover a:visited{color:#fff;}
	
	.homenews{background:url(../images/news_content_bg.png) repeat-x top;padding:0 10px;}
	.hotnews{text-align:center;background:url(../images/sline.png) repeat-x bottom;line-height:20px;padding:10px 0 8px 0;color:#888;height:41px;}
	.hotnews h3{font-size:16px;font-family:'微软雅黑';font-weight:normal;}
	.news_list{padding:5px 0;}
	.news_list li{font-size:14px; color:#c8c8c8; background:url(../images/li2_bg.png) no-repeat left;margin:0px 5px;height:24px; line-height:24px;*height:22px;*line-height:22px;}
	.news_list .title{ float:left;text-align:left;margin-left:10px; display:inline;}
	.news_list .date{ float:right;color:#aaaaaa;font-size:12px;}
	
	.news_list a{float:left; text-align:left;padding-left:10px;}
	.news_list span{float:right;}

	/* rank box style */
	.rank_title{height:31px; line-height:31px; font-size:16px; font-family:'微软雅黑'; text-align:left; color:#ffffff; padding-left:32px; border-bottom:1px solid #fffdfe;background-position:-286px -206px;}
	.rank_th{height:30px;background:url(../images/rank_th.png) repeat-x; border-bottom:1px solid #ededed; font-size:12px; color:#656565; text-align:center;}
	.rank_th span{border-right:1px solid #c8c8c8;margin-top:6px; display:inline;}
	.rank_num{width:40px;float:left;}
	.rank_name{width:68px;float:left;}
	.rank_no{width:60px;float:left;}
	.rank_th span.rank_no{border:none;color:#555;}
	.rank_list ul li{height:25px; line-height:25px; color:#fff; overflow:hidden;*height:23px;*line-height:23px;}
	.rank_list .no1{ background-position:-82px -202px;}
	.rank_list .no4{ background-position:-82px -274px;}
	.rank_list .rank_name{text-align:left;}
	.rank_list .rank_no{color:#888;}
	.rank_btn{float:right; width:43px; height:17px; line-height:17px; font-size:12px;margin-top:4px; margin-right:7px; background-position:-380px -164px; display:inline;}
	.rank_bg{background:#efefef;}
	
	/*sgame style*/
	.sgame .mtitle{ height:39px; line-height:39px;margin-bottom:10px;background-position:0px -375px;}
	.app_game .mtitle{ height:39px; line-height:39px;margin-bottom:10px;background-position:0px -417px;}
	.game_active .mtitle{ height:39px; line-height:39px;margin-bottom:10px;background-position:0px -464px;}
	.mmore{float:right; width:75px; height:20px; line-height:20px; font-size:12px; color:#fff; margin-top:11px;margin-right:10px; text-align:left; padding-left:18px; display:inline;}
	.sgame .mmore{background-position:-168px -208px;}
	.app_game .mmore{background-position:-168px -232px;}
	
	.sgame_hot{float:left;width:260px;}
	.sgame_hot ul{ list-style:none; margin:0 auto; padding-left:12px;padding-top:18px;}
	.sgame_hot ul li{padding-bottom:20px;}
	.sgame_hot .pic{ float:left; background:#fff;}
	.sgame_hot .name{ float:left; width:118px; font-size:12px; text-align:left;line-height:21px; padding-top:2px; display:inline;margin-left:12px;}
	.sgame_hot .name h4{color:#000;font-size:14px;}
	
	.sgamebox{float:right; width:708px; border:1px solid #dcdedd;}
	.sgamebox .title{height:33px; background:url(../images/game_bg.png) repeat-x;}
	.sgame_tab{float:left; padding-left:10px; display:inline;width:500px;}
	.sgame_tab li{float:left; width:62px; height:27px; line-height:27px; text-align:center; margin-top:6px; font-weight:bold; display:inline;}
	.sgame_tab li.cur{background:url(../images/game_nav_cur.png) no-repeat;}
	.sgame_new{float:right;font-size:12px; color:#aaaaaa; text-align:right; height:33px; line-height:33px; padding-right:10px; display:inline;}
	.sgame_list ul{padding:10px 8px;}
	.sgame_list ul li{float:left; width:86px; margin:6px 6px; display:inline;height:93px; overflow:hidden;}
	.sgame_list ul li .name{font-size:12px;font-family:'微软雅黑'; color:#333333; text-align:center; height:20px; display:block; line-height:20px;}
	
	/* app_game style */
	.appgame_tab{float:right;}
	.appgame_tab ul{list-style:none; margin:0 auto;}
	.appgame_tab ul li{float:left; width:61px; height:32px; line-height:32px; font-size:14px; color:#333333; text-align:center; border-left:1px solid #dadada;margin-bottom:-1px;}
	.appgame_tab ul li.cur{background:url(../images/phone_cur.png) no-repeat;}
	
	.appgame_hot{float:left;width:260px;}
	.appgame_rank{margin:0 auto; padding:0px 5px;}
	.appgame_rank ul li{background:url(../images/sline.png) repeat-x bottom;text-align:left;font-family:'微软雅黑';height:29px;overflow:hidden;_height:28px;}
	.appgame_rank ul li.top1{height:64px;padding-top:5px;}
	.appgame_rank .pic{float:left; margin-top:6px; display:inline;margin-left:12px;}
	.appgame_rank div.name{ float:left; width:150px; font-size:12px; text-align:left;display:inline;margin-left:15px;margin-top:3px;}
	.appgame_rank span.name{float:left; margin-left:12px;display:inline;line-height:29px;_line-height:28px; overflow:hidden;}
	.appgame_rank .name h4{ text-align:left;font-size:12px;font-family:'微软雅黑';font-weight:normal; color:#555555;}
	.appgame_rank .name p{text-align:left; font-size:12px; line-height:16px;}
	.appgame_rank ul li .no1,.appgame_rank ul li .no4{float:left; width:14px;height:14px;font-size:10px;text-align:center;color:#fff;margin:7px 0 0 5px;background:url(../images/b1.png) no-repeat; display:inline; line-height:14px;}
	.appgame_rank ul li .no1{background-position:-131px -208px;}
	.appgame_rank ul li .no4{background-position:-131px -306px;}
	.appgame_rank ul li.top1 .no1{margin-top:22px;}
	.appgame_rank ul li.nobg{background:none;}
	
	/* game_active style */
	.active_hot{float:left;width:260px;}
	.active_hot ul{ list-style:none; margin:0 auto; padding-top:10px;}
	.active_hot ul li{ margin-bottom:6px;height:86px;}
	.active_hot ul li span{display:block;font-size:12px; text-align:center;margin-top:3px;}
	
	.matchbox{float:right;width:708px; overflow:hidden;}
	.matchbox .content{padding:12px 0 6px;}
	.matchbox .videobox{padding:0 8px;}
	.matchbox .videobox li{float:left;width:150px;margin:0 10px; display:inline; position:relative;}
	.matchbox .play{position:absolute;background:url(../images/play_btn.png) no-repeat;width:21px;height:21px;left:5px;top:80px;}
	.matchbox .name{display:block; line-height:24px;}
	
	.listbox{padding-top:5px}
	.listbox li{float:left;margin-left:22px;width:310px; text-align:left;padding-left:14px;background:url(../images/li2_bg.png) no-repeat left; line-height:22px; display:inline;}

	/* culture style */
	.culturebox .title,.picturebox .title{height:33px; line-height:33px;font-size:18px; font-family:'微软雅黑';  padding-left:48px; text-align:left;color:#ffffff; background-position:0px -516px;}
	.culturebox .title h3,.picturebox .title h3{float:left;font-weight:normal;}
	.culturebox .content{padding-top:5px;}
	.culturebox .commonbox{width:316px;margin-left:13px;float:left;}
	.culture_list{padding:6px 12px;}
	.culture_list ul li{font-size:12px;height:22px;line-height:22px; text-align:left; padding-left:10px; background:url(../images/li2_bg.png) no-repeat left; }
	.culture_list ul li a{float:left;}
	.culture_list ul li span{ float:right;color:#888;}
	
	/* picture style */
	.picturebox .title .more{float:right;text-align:right; font-size:12px;font-family:"verdana"; font-weight:normal; padding-right:11px;}
	.picturebox .title .more a{ padding:2px;}
	.picturebox .content{border:1px solid #dadada; padding:7px;}
	.culpic_list ul{ list-style:none;margin:0 auto;}
	.culpic_list ul li{ float:left; width:184px; margin:3px 5px; display:inline;}
	.culpic_list ul li img{padding:1px;border:1px solid #CBDDEB;}
	.culpic_list ul li.big{width:371px;margin-left:5px; display:inline;}
	.culpic_list ul li span.name{ display:block;margin-top:5px; font-size:12px; text-align:center;font-family:'宋体'; font-weight:normal;}
	.culpic_list ul li.big .name{font-size:14px;font-family:'微软雅黑';}
	
	/*inforbox style*/
	.inforbox{border:1px solid #dadada;}
	.inforbox .title{ height:32px;border-bottom:1px solid #dadada; font-size:14px; line-height:32px; padding-left:12px; text-align:left; font-family:'微软雅黑'; color:#000; font-weight:bold;}
	.inforbox .content{padding:10px 0;}
	.inforbox .content ul{list-style:none; margin:0 auto; padding-left:10px;}
	.inforbox .content ul li{float:left; width:140px;margin:0 10px;display:inline;}
	.inforbox .content ul li .name{text-align:center; font-size:12px; color:#000; display:block;margin:4px 0 8px;}
	.inforbox .content ul li p{text-align:left;color:#888; line-height:18px;}
	.inforregion p{text-align:left; line-height:22px;color:#888;padding:0 12px;}
	.inforregion p span{font-size:14px;color:#000;}

	.friendlink{ border-top:1px solid #dadada;line-height:18px;}
	.friendlink p{padding:5px; text-align:left;color:#888;}
	.friendlink p strong{color:#000;}
	
	/* 高度对齐 */
	.sgamebox,.appgame_hot,.sgame_hot{height:368px; overflow:hidden;}
	.active_hot,.matchbox{height:319px; overflow:hidden;}