/* webgame common top */
.web_top{background:url(../images/webgame/topbg.png) center;height:87px;}
.web_top .inner{margin:0 auto;width:980px;}
.web_top h1{float:left;background:url(../images/webgame/top_logo.png) no-repeat;width:161px;height:61px;margin-top:12px;display:inline;}
.web_top h1 a{display:block;height:61px;text-indent:-9999px;}
.web_top .web_nav{float:left;margin-top:35px;display:inline;margin-left:12px;width:500px;}
.web_top .web_nav li{float:left;margin-left:40px;width:75px;height:31px;line-height:31px;font-size:16px;font-family:"微软雅黑";display:inline;}
.web_top .web_nav li.cur{background:url(../images/webgame/nav_cur.png) no-repeat;}
.web_top .web_nav a:link,.web_top .web_nav a:visited{color:#909fb8}
.web_top .web_nav a:hover,.web_top .web_nav a:active,.web_top .web_nav li.cur a:link,.web_top .web_nav li.cur a:visited{color:#d2e5ff}
.web_top .web_tool{float:right;margin-top:42px;font-family:"微软雅黑";color:#909fb8}
.web_top .web_tool a:link,.web_top .web_tool a:visited{color:#d2e5ff}
.web_top .web_tool a:hover,.web_top .web_tool a:active{color:#fff}
.web_top .web_tool a,.web_top .web_tool span{float:left;margin:0 4px;display:inline;}
.web_top .web_tool .fav_ico{background:url(../images/webgame/tool_ico2.png) no-repeat left center;padding-left:15px;}
.web_top .web_tool .url_ico{background:url(../images/webgame/tool_ico1.png) no-repeat left center;padding-left:17px;}

/* webgame common footer */
.footer{padding:30px 0;line-height:22px;font-family:"微软雅黑";color:#7B7778;background:none;border:none;margin:0;}
.footer .copyright{line-height:22px; text-align:center;width:100%; float:none;border:none;padding:0;}

body{background:url(../images/webgame/bbg.png) repeat-x center 87px #d4dde6;}
.container{margin: 0 auto;text-align:center;}
.container .inner{background:url(../images/lianyun/main_bg.jpg);margin:0 atuo;padding-bottom:30px;}
.ly_top{background:url(../images/lianyun/main_top.jpg) no-repeat center;height:66px;margin:0 auto;width:100%;}
.ly_top .gg_box{float:left;background:url(../images/lianyun/gg_bg.png) no-repeat;width:438px;height:34px;color:#fff;margin-top:15px;margin-left:10px;display:inline;}
.ly_top .share{float:left;margin:4px;}
.ly_top .share span{float:left;padding-top:5px;}
.ly_top p{float:left;text-align:left;margin:0 8px;line-height:33px;color:#767678;}
.ly_top ul{float:right;margin-top:8px;display:inline;margin-right:10px;}
.ly_top ul li{float:left;}
.ly_top ul li a{display:block;background:url(../images/lianyun/nav_btn2.png) no-repeat;width:84px;height:46px;color:#fff;font-size:14px;font-family:"微软雅黑";line-height:46px;}
.ly_top ul li a.no1{background:url(../images/lianyun/nav_btn1.png) no-repeat;width:176px;}
.ly_top ul li a.no2{background:url(../images/lianyun/nav_btn3.png) no-repeat;}
.ly_top ul li a:link,.ly_top ul li a:visited{color:#fff;}

.playbox{border:4px solid #171C22;margin:0 auto;width:980px;padding:1px;background:#2C2F36;height:600px;}
.play_nav{width:1003px;}
.play_nav li{float:left;margin-left:14px;width:233px;height:110px;text-align:left;position:relative;display:inline;}
.play_nav li a{display:block;height:110px;background:url(../images/lianyun/tab_bg.png) no-repeat right;}
.play_nav li.cur a,.play_nav li a:hover{background:url(../images/lianyun/tab_bg.png) no-repeat left;}
.play_nav li img{margin-left:11px;margin-top:18px;}
.play_nav li .mark{position:absolute;left:11px;top:18px;width:212px;height:73px;background:url(../images/lianyun/mark.png);}
.play_nav li.cur .mark{display:none;}

.activebox{margin:0 auto;padding:5px;}
.activebox .title{background:url(../images/lianyun/title1.png) repeat-x;height:39px;}
.activebox .title h3{font-size:14px;color:#fff;font-family:'微软雅黑';text-align:left;padding:0 10px;line-height:36px;font-weight:400;}
.activebox .active{border:1px solid #15181F;background:#e9ecf3;padding:12px;}
.activebox .active li{margin:8px 19px;float:left;display:inline;width:119px;}
.activebox .active li p{height:22px;line-height:22px;}

.activebox .rank{margin:0 auto;width:278px;float:right;border:1px solid #15181F;background:url(../images/lianyun/mark.png);}
.activebox .rank .title{background:url(../images/lianyun/title2.png) no-repeat;height:35px;margin:0;text-align:left;padding:0 10px;color:#fff;line-height:34px;font-family:'微软雅黑';}
.activebox .rank .content{padding:10px 6px;}
.activebox .rank dl dt span{float:left;background:url(../images/lianyun/th_bg.png) no-repeat;width:46px;height:25px;line-height:23px;color:#8F9EB5;}
.activebox .rank dl dt .name{margin-left:20px;}
.activebox .rank dl dt .win{margin-left:80px;}
.activebox .rank dl dd{padding-top:11px;vertical-align:middle;}
.activebox .rank dl dd span{float:left;text-align:left;color:#fff;}
.activebox .rank dl dd .num{width:21px;height:19px;line-height:16px;text-align:center;margin-left:13px;}
.activebox .rank dl dd .name{margin-left:34px;width:135px;line-height:19px;}
.activebox .rank dl dd .win{line-height:19px;}
.activebox .rank dl dd .no1{background:url(../images/lianyun/num_ico.png) no-repeat left top;}
.activebox .rank dl dd .no2{background:url(../images/lianyun/num_ico.png) no-repeat left -27px;}
.activebox .rank dl dd .no3{background:url(../images/lianyun/num_ico.png) no-repeat left -54px;}
.activebox .rank dl dd .no4{background:url(../images/lianyun/num_ico.png) no-repeat left bottom;}


/* 联运首页style */
 	body#index{color:#555555; background:url(../images/lianyun/bg.png) repeat;word-break:break-all;word-wrap:break-word;text-align:center;}
	.imgborder{border:1px solid #136ac1;padding:1px;}
	.footer{ margin:0; border-top:1px solid #cccccc;}
	
	.main{ background:url(../images/lianyun/mainbg.png) repeat-y; width:987px; margin:0 auto; padding:10px 0;}
	.sm{ width:971px; margin:0 auto;}
	
	.GgL{background:url(../images/lianyun/Ggleft.jpg) no-repeat; width:241px; height:127px;}
	.GgR{width:724px;height:127px;}
	
	.GgL .gpic{width:90px; float:left; margin:10px 5px 0 5px; display:inline;}
	.GgL .gtext{float:left; font-size:14px; text-align:left; color:#fff; font-size:14px; line-height:24px; margin-top:10px; display:inline;}
	
	.subnav{background:url(../images/lianyun/subnav.png) no-repeat; height:34px; line-height:34px; width:971px; margin-top:10px;}
	.subnav h3{font-size:12px; font-weight:bold; float:left; padding-left:30px; text-align:left; color:#fff;background:url(../images/lianyun/b.png) no-repeat left 1px; margin-left:5px;display:inline;}
	.subnav .text{font-size:12px; color:#c7ddff; text-align:left; float:left;margin-left:5px; padding:0 8px; display:inline; border:1px solid #3c71cd; border-top:none; border-bottom:none;}
	.subnav .qq{font-size:12px; font-weight:bold; float:left;padding-left:30px; text-align:left;color:#c7ddff;background:url(../images/lianyun/b.png) no-repeat left;}
	.subnav .qq{ background-position:-772px 3px;}
	
	.gameL{float:left;width:250px;}
	.gameR{float:right; width:716px; height:518px; margin-top:5px; display:inline; position:relative;}
	.gLlist li.n1 a{display:block;background:url(../images/lianyun/pic/dezhou.jpg) no-repeat; width:250px; height:60px;}
	.gLlist li.n1 a.cur{ background:url(../images/lianyun/pic/dezhou_cur.jpg) no-repeat;}
	.gLlist li.n1 a:hover{background:url(../images/lianyun/pic/dezhou_cur.jpg) no-repeat;}
	
	.gLlist li.n2 a{display:block;background:url(../images/lianyun/pic/doudizhu.jpg) no-repeat; width:250px; height:60px;}
	.gLlist li.n2 a.cur{ background:url(../images/lianyun/pic/doudizhu_cur.jpg) no-repeat;}
	.gLlist li.n2 a:hover{background:url(../images/lianyun/pic/doudizhu_cur.jpg) no-repeat;}
	
	.gLlist li.n3 a{display:block;background:url(../images/lianyun/pic/aomaha.jpg) no-repeat; width:250px; height:57px;}
	.gLlist li.n4 a{display:block;background:url(../images/lianyun/pic/21.jpg) no-repeat; width:250px; height:60px;}
	.gLlist li.n5 a{display:block;background:url(../images/lianyun/pic/yinsanzhang.jpg) no-repeat; width:250px; height:57px;}
	.gLlist li.n6 a{display:block;background:url(../images/lianyun/pic/zhajinhua.jpg) no-repeat; width:250px; height:57px;}
	.gLlist li.n7 a{display:block;background:url(../images/lianyun/pic/sandayi.jpg) no-repeat; width:250px; height:60px;}
	.gLlist li.n8 a{display:block;background:url(../images/lianyun/pic/majiang.jpg) no-repeat; width:250px; height:57px;}
	.gLlist li.n9 a{display:block;background:url(../images/lianyun/pic/shuiguoji.jpg) no-repeat; width:250px; height:57px;}
	
	.Rpiclist{ width:717px;}
	.Rpiclist li{ float:left;}
	
	.gameR .intobtn{position:absolute; bottom:94px; right:15px; background:url(../images/lianyun/intobtn.png) no-repeat; width:128px; height:45px;}
	.gameR .intobtn a{display:block; font-family:"微软雅黑"; font-size:18px;text-align:center; line-height:45px;}
	
	.gameR .xklist{position:absolute; bottom:2px; left:0;}
	.gameR .xklist li{float:left;text-align:left;background:url(../images/lianyun/k.png) no-repeat; width:232px; height:91px; margin:0 3px; display:inline;}
	.gameR .xklist li img{margin-left:11px;margin-top:10px;cursor:pointer;}
	.gameR .xklist li.cur{background:url(../images/lianyun/k_cur.png) no-repeat;width:232px;}

	.news_focus{width:716px;height:518px;overflow:hidden;}
	.news_focus .bannerImg{width:716px; position:relative; height:518px; z-index:50; overflow:hidden;}
	.news_focus .bannerImg ul li{position:absolute; left:0; top:0; z-index:0; display:none;}
	.news_focus .bannerImg ul li img{width:716px; height:518px;}
	.news_focus .bannerImg ul li.show{display:block; z-index:10;}
	.news_focus .bannerIndex{position:absolute; z-index:100;bottom:8px;left:0;}
	.news_focus .bannerIndex ul li{float:left;text-align:left;border:3px solid #69796F;margin:0 5px;height:50px;display:inline;position:relative;}
	.news_focus .bannerIndex ul li img{cursor:pointer;width:150px;height:50px;display:inline-block;}
	.news_focus .bannerIndex ul li .mark{position:absolute;left:0px;top:0px;width:150px;height:50px;background:url(../images/lianyun/mark.png);}
	.news_focus .bannerIndex ul li.hover .mark{display:none;}
	.news_focus .bannerIndex ul li.hover{border:3px solid #F02E00;}

	.items{ padding-top:10px;}
	.items .rankL{float:left; width:55px;text-align:right; height:25px; line-height:25px; font-size:14px; color:#fff; font-weight:bold;}
	.items .rankR{float:left; padding-left:10px; display:inline;color:#fff; font-size:12px;}
	.rank_input{width:140px; height:25px; line-height:25px; padding:0 5px; color:#555555; border:none; background:url(../images/lianyun/rank_input.png) no-repeat;}
	.input_btn{background:url(../images/lianyun/btn1.png) no-repeat; width:61px; height:24px; border:none;cursor:pointer; float:left; margin-right:8px;margin-top:10px;}
	
		/* card dialog style */
	.dlogin_div td{padding:5px;}
	.glogin_btn,.btn-primary{background:url(../images/card/card_btn.png) no-repeat; width:65px; height:27px; line-height:27px; text-align:center; color:#fff;cursor: pointer;border:none;}
	/*.error_tip{color:#f00;padding:6px;text-align: center;}*/
	.btn-primary{display: block;margin:0 auto;}
	.btn-primary:link,.btn-primary:visited{color:#fff;};