	a.ablue:link,a.ablue:visited{color:#3182B2;text-decoration:none;outline:none;}
	a.ablue:hover,a.ablue:active{color:#06b7f9;}
	
	.news_header{margin:20px 0;}
	.news_header .logo{ float:left; width:231px; height:47px;display:inline; background:url(../images/logo_b.png) no-repeat;}
	.news_header .logo a{display:block;height:47px; text-indent:-9999px; overflow:hidden;}
	.news_h2{float:left;border-left:1px solid #D1D1D1;margin-left:10px;padding-left:10px;font-size:32px;font-family:"微软雅黑";color:#949494;font-weight:normal;}
	.news_search{float:left;margin-left:30px;margin-top:8px; display:inline;}
	
	.news_nav{background:url(../images/news/nav_bg.png) no-repeat;padding:0 10px;}
	.news_nav li{float:left; background:url(../images/news/nav_line.png) no-repeat right;padding:0 16px; display:inline;font-size:14px;font-weight:bold; line-height:37px;_padding:0 12px;}
	.news_nav li a:link,.news_nav li a:visited{color:#fff;}
	.news_nav li a:hover,.news_nav li a:active{color:#fff; text-decoration:underline;}
	
	.news_focus{float:left;padding:2px;border:1px solid #B3C9D8;width:550px;height:300px; overflow:hidden;}
	.news_focus .bannerImg{width:550px; position:relative; height:224px; z-index:50; overflow:hidden;}
	.news_focus .bannerImg ul li{position:absolute; left:0; top:0; z-index:0; display:none;}
	.news_focus .bannerImg ul li img{width:550px; height:224px;}
	.news_focus .bannerImg ul li.show{display:block; z-index:10;}
	.news_focus .bannerIndex{position:relative; z-index:100;}
	.news_focus .bannerIndex ul li{float:left; width:137px; height:76px; text-align:center;background:#F2F2F2; cursor:pointer;}
	.news_focus .bannerIndex ul li img{border:1px solid #D5D5D5;margin-top:9px;padding:2px; background:#fff;width:97px;height:55px;}
	.news_focus .bannerIndex ul li.hover{background:url(../images/news/focus_hover.png) no-repeat center top #C7C7C7;position:relative;}
	.news_focus .bannerIndex ul li.hover{_background:url(../images/news/focus_hover.png) no-repeat center top #C7C7C7; _position:static;}
	.news_focus .bannerIndex ul li.hover img{border:1px solid #FF5A00;}
	
	.news_top{float:right;margin-right:12px; display:inline;width:388px;}
	.news_box .title{background:url(../images/news/news_bg.jpg) no-repeat left top;height:34px; line-height:34px;}
	.news_box .title h3{float:left;font-weight:normal;font-size:15px;font-family:"微软雅黑";color:#000;}
	.news_box .title .more{float:right;}
	.news_list1{padding:4px 0;}
	.news_list1 li{background:url(../images/li2_bg.png) no-repeat left center;padding:3px 0;_padding:2px 0;}
	.news_list1 li a{float:left;padding-left:10px;font-size:14px;}
	.news_list1 li span{float:right;color:#888;font-size:12px;}
	
	.news_box2{float:left;width:260px;}
	.news_box2 .title{background:url(../images/news/news_bg.jpg) no-repeat left -35px;height:34px; line-height:34px;}
	.news_box2 .title h3{float:left;font-weight:normal;font-size:15px;font-family:"微软雅黑";color:#fff;margin-left:10px; display:inline;}
	.news_box2 .title .more{float:right;margin-right:8px; display:inline;}
	.news_box2 .content{background:#EBEBEB;padding:6px;}
	
	.news_box3{border:1px solid #DADADA;}
	.news_box3 .title{background:url(../images/news/news_bg.jpg) no-repeat left -71px;height:32px; line-height:32px;border-bottom:1px solid #DADADA;}
	.news_box3 .title h3{float:left;font-weight:normal;font-size:15px;font-family:"微软雅黑";color:#000;margin-left:10px; display:inline;}
	.news_box3 .title .more{float:right;margin-right:8px; display:inline;}
	
	.img_list1 li{padding-bottom:8px; text-align:center;}
	.img_list2{border-top:1px solid #fff;border-left:1px solid #fff;}
	.img_list2 li{float:left;}
	.img_list2 li img{border-top:1px solid #fff;border-right:1px solid #fff;vertical-align:bottom;}
	.news_list2 li{background:url(../images/news/list_ico2.png) no-repeat left center;height:22px; line-height:22px;padding-left:8px; text-align:left;margin-left:3px;}
	
	.news_info{float:left;margin-left:12px;width:360px;}
	.news_info .hot h4{font-size:15px; text-align:center;font-weight:normal;font-family:"微软雅黑";padding:8px 0 5px 0;}
	.news_info .hot p{text-align:left; line-height:22px;}
	
	.news_gossip{float:right;width:334px;}
	.news_gossip .gossip{padding:8px 12px;}
	.news_gossip .pic{float:left;width:105px;margin-top:6px; display:inline; text-align:center;}
	.news_gossip .pic li{margin-bottom:18px;}
	.news_gossip .pic img{border:1px solid #DADADA;margin-bottom:5px;}
	.news_gossip .news_list2{float:left;margin-left:12px;}
	
	.news_mayou{float:right;width:706px;}
	.mayou_list{padding:8px 4px;}
	.mayou_list ul{ list-style:none;margin:0 auto;}
	.mayou_list ul li{ float:left; width:130px; margin:3px 5px; display:inline;}
	.mayou_list ul li img{padding:1px;border:1px solid #CBDDEB;}
	.mayou_list ul li.big{width:265px;margin-left:5px; display:inline;}
	.mayou_list ul li span.name{ display:block;margin-top:5px; font-size:12px; text-align:center;font-family:'宋体'; font-weight:normal;}
	.mayou_list ul li.big .name{font-size:14px;font-family:'微软雅黑';}
	
	.news_pic .title{background:url(../images/news/pic_title.jpg) no-repeat;height:33px;}
	.news_pic .title h3{float:left;margin-left:48px; display:inline;font-size:16px;font-family:'微软雅黑';color:#fff;font-weight:normal; line-height:33px;}
	.news_pic .more{float:right; background:url(../images/news/pic_more.png) no-repeat;width:77px;height:20px; line-height:20px;margin-right:10px; display:inline; text-align:left;padding-left:16px;margin-top:6px;}
	.news_pic .content{border:1px solid #DADADA;padding:8px 2px;}
	.img_list3 li{float:left;margin:8px 11px;width:140px; display:inline;height:126px;}
	.img_list3 li img{padding:1px;border:1px solid #CBDDEB; vertical-align:bottom}
	.img_list3 li span{display:block;margin-top:5px;}
	
	/* news list style */
	.newslist_box{float:left; width:690px; border:1px solid #cbdde7;}
	.newslist_box .title{background:url(../images/news/new_curbg.png) repeat-x top;height:34px;line-height:34px;text-align:left;font-size:12px;padding-left:10px;font-family:'宋体';color:#1976b9;}
	.newslist_box .content{padding:18px 15px 0px;}
	.news_clist{ background:url(../images/sline.png) repeat-x bottom; margin:10px 20px; padding-bottom:16px;}
	.news_clist li{text-align:left; background:url(../images/news/new_cb.png) no-repeat left; padding-left:14px; line-height:26px;}
	.news_clist li a{float:left;font-size:14px;}
	.news_clist li span{float:right;color:#888;font-size:12px;}
	.news_sidebar{float:right; width:280px;}
	.sidebar_box{border:1px solid #cbdde7;}                   
	.sidebar_box .title{background:url(../images/news/new_h.png) repeat-x; height:29px; line-height:29px;}
	.sidebar_box .title h3{float:left;font-weight:normal;font-size:15px;font-family:"微软雅黑";color:#000;margin-left:10px; display:inline;}
	.sidebar_box .title .more{float:right;margin-right:8px; display:inline;}
	.news_hotlist{ padding:6px 12px;}
	.news_hotlist li{ background:url(../images/news/new_hl.png) no-repeat left; font-size:12px; text-align:left; line-height:24px; padding-left:12px;}
	.bagua_list{ padding:10px 0 13px 5px;}
	.bagua_list li{float:left; width:124px; margin:3px 5px; display:inline;}
	.bagua_list li img{padding:1px;border:1px solid #cedce9;width:120px;height:80px;}
	.bagua_list li span.name{ display:block;margin-top:5px; font-size:12px; text-align:center;font-family:'宋体'; font-weight:normal;}
	.newsline{background:url(../images/sline.png) repeat-x bottom; height:1px; width:260px; margin-left:6px;}
	
	/* news read style */
	.read_head{border-bottom:1px solid #cbccce; padding:20px;}
	.read_head h1{font-size:26px; font-family:"微软雅黑"; text-align:center; color:#000;font-weight:400;}
	.read_head .author{display:block;font-size:12px; line-height:24px; margin-top:5px; text-align:center;}
	.read_content{ font-size:14px;font-family:'宋体'; padding:10px 5px;line-height:22px; text-align:left;}
	.read_content p{ margin:20px 10px; text-align:left;}
	.readlist{ padding:20px 0px;}
	.readlist li{text-align:left; line-height:25px; color:#ff4306;}
	.readlist li a:link,.readlist li a:visited{color:#0e7ae9;text-decoration:none;outline:none;}
	.read_about{border:1px dashed #d9d9d9; border-left:none; border-right:none; padding:13px 15px;}
	.read_about h3{font-size:14px; font-weight:bold; color:#1b74b8; text-align:left; margin:0 0 10px 0;}
	.read_about li{background:url(../images/news/list_ico2.png) no-repeat left; font-size:14px; text-align:left; padding-left:7px; line-height:24px;}
	.read_about li span{font-size:12px; padding-left:14px; color:#888;}
	.readbox{ border:1px solid #cbdfe8; padding:13px 15px; margin:20px 0;}
	.read_tuijian{ float:left; width:370px;}
	.readbox h3{font-size:14px; font-weight:bold; color:#1b74b8; text-align:left; margin:0 0 10px 0;}
	.read_tuijian li{background:url(../images/news/list_ico2.png) no-repeat left center;text-align:left; line-height:24px;height:24px;}
	.read_tuijian li a{float:left;padding-left:12px;font-size:14px;}
	.read_tuijian li span{float:right;color:#888;font-size:12px;}
	
	.read_pic{float:right; width:184px;margin:12px 10px 0; display:inline;}
	.read_pic img{padding:1px;border:1px solid #CBDDEB; display:block;}
	.read_pic span.name{ display:block;margin-top:5px; font-size:12px; text-align:center;font-family:'宋体'; font-weight:normal;}
	
	/* video style */
	.video_position{font-size:12px; text-align:left;}
	.flash_left{float:left; width:634px;}
	.flashbox{border:1px solid #cccccc; padding:10px 8px;}
	.flashbox .title{text-align:center; font-size:18px;font-family:"微软雅黑";}
	
	.sharebox{background:url(../images/news/share_bg.png) no-repeat; height:33px;}

	.share_l{float:left;}
	.share_r{float:left;margin-left:120px;}
	.share_l li{float:left;margin:10px 8px 0;}
	.share_l li .stat{line-height:16px;float:left;margin-left:3px;}
	.share_l .ico_up{background:url(../images/news/share_ico.png) no-repeat; display:block;float:left;height:16px;width:11px;}
	.share_l .ico_down{background:url(../images/news/share_ico.png) no-repeat; background-position:-66px; display:block;float:left;height:16px;width:11px;}
	.share_l .ico_love{background:url(../images/news/share_ico.png) no-repeat; background-position:-126px; display:block;float:left;height:16px;width:13px;}
	.sharebox .share_r{padding-top:8px;}
	.sharebox .share_r .item{float:left;background:url(../images/game/play_icons.png) no-repeat left -396px;height:16px; line-height:16px;padding-left:18px; display:inline;}
	.sharebox .share_r a{float:left;width:16px;height:16px;margin-right:5px;background:url(../images/game/play_icons.png) no-repeat; display:inline;}
	.sharebox .share_r a.qzone{background-position:-1px -216px;}
	.sharebox .share_r a.qweibo{background-position:-1px -246px;}
	.sharebox .share_r a.weibo{background-position:-1px -276px;}
	.sharebox .share_r a.renren{background-position:-1px -306px;}
	.sharebox .share_r a.kaixin{background-position:-1px -336px;}
	.sharebox .share_r a.qq{background-position:-1px -366px;}
	.sharebox .num{float:right;margin-right:10px; line-height:33px;}
	
	.video_info .title{background:url(../images/news/video_s.png) no-repeat; height:15px; text-align:left;padding-left:29px; font-size:12px;font-family:'宋体';}
	.video_info p{line-height:20px; font-size:12px;font-family:'宋体';text-indent:3em;text-align:left;}
	.sidebarbox{float:right; width:330px;border:1px solid #cccccc; padding:2px;}
	.sidebarbox .title{height:73px; font-size:12px; background:url(../images/news/sider_vbg.png) no-repeat;}
	.sidebarbox .title h3{float:left;font-size:14px; text-align:left; padding:8px 7px; display:inline;}
	.sidebarbox .title span.number{float:left;font-size:12px;font-family:'宋体';text-align:left;color:#fff; margin-top:30px;}
	.sidebarbox .title .btn{float:right; background:url(../images/news/btn.png) no-repeat; margin:14px 7px;display:inline;width:141px; height:31px; line-height:31px; text-align:center;font-size:12px;}
	
	.sidebarbox .videobox{margin-top:5px;}
	.sidebarbox .videobox li{float:left;width:150px;margin:5px 7px; display:inline; position:relative;}
	.sidebarbox .play{position:absolute;background:url(../images/play_btn.png) no-repeat;width:21px;height:21px;left:5px;top:80px;}
	.sidebarbox .name{display:block; line-height:24px;}
	
	/* page style */
	.page{text-align:center;height:22px;padding:20px 0;}
	.page div{display:inline-block;*display:inline;zoom:1;font-family:Tahoma;}
	.c_page{height:20px;display:block;background:#fff;color:#000;text-decoration:none;float:left;line-height:20px;text-align:center;border:1px solid #91958c;padding:0 7px;}
	.page div span{float:left;height:20px;line-height:20px;background:#2E6FB1;color:#fff;text-decoration:none;text-align:center;margin:0 2px;border:1px solid #1E5686;padding:0 7px;}
	.nextpage{float:left;width:50px;height:20px;line-height:20px;background:#f6feec;color:#000;text-align:center;border:1px solid #7D9BCD;}
	.page a{margin:0 2px;}
	.page a:hover{border:1px solid #F60;color:#F60;}
	.page div em{float:left;line-height:20px;margin:0 2px;}