body{background:url(../images/webgame/bbg.png) repeat-x center 87px #d4dde6;}
a:link,a:visited{color:#46566b;text-decoration:none;outline:none;}
a:hover,a:active{color:#1c1f2b;}
.web_top{background:url(../images/webgame/topbg.png) center;height:87px;}
.web_top .inner{margin:0 auto;width:980px;}
.web_top h1{float:left;background:url(../images/webgame/top_logo.png) no-repeat;width:161px;height:61px;margin-top:12px;display:inline;}
.web_top h1 a{display:block;height:61px;text-indent:-9999px;}
.web_top .web_nav{float:left;margin-top:35px;display:inline;margin-left:12px;}
.web_top .web_nav li{float:left;margin-left:40px;width:75px;height:31px;line-height:31px;font-size:16px;font-family:"微软雅黑";display:inline;}
.web_top .web_nav li.cur{background:url(../images/webgame/nav_cur.png) no-repeat;}
.web_top .web_nav a:link,.web_top .web_nav a:visited{color:#909fb8}
.web_top .web_nav a:hover,.web_top .web_nav a:active,.web_top .web_nav li.cur a:link,.web_top .web_nav li.cur a:visited{color:#d2e5ff}
.web_top .web_tool{float:right;margin-top:42px;font-family:"微软雅黑";color:#909fb8}
.web_top .web_tool a:link,.web_top .web_tool a:visited{color:#d2e5ff}
.web_top .web_tool a:hover,.web_top .web_tool a:active{color:#fff}
.web_top .web_tool a,.web_top .web_tool span{float:left;margin:0 4px;display:inline;}
.web_top .web_tool .fav_ico{background:url(../images/webgame/tool_ico2.png) no-repeat left center;padding-left:15px;}
.web_top .web_tool .url_ico{background:url(../images/webgame/tool_ico1.png) no-repeat left center;padding-left:17px;}
/* main */
.w_box1{margin-top:20px;}
.w_focus{float:left;width:686px;background:#1c1f2b;height:556px;}
.w_hd{float:left;width:294px;overflow:hidden;}

/* focus */
.focus_box{width:674px;height:550px;overflow:hidden;margin:0 auto;margin-top:6px;}
.bigimg{width:674px;height:453px;overflow:hidden;}
.bigimg ul li{display:none;}
.bigimg ul li img{width:674px;height:453px;}
.bigimg ul .hover{display:block;}
.imginfo span{float:left;cursor:pointer;width:11px;height:19px;text-indent:-999px;background:url(../images/webgame/arrow.png) no-repeat left;margin:38px 7px 0;display:inline;}
.imginfo span.rbtn{float:right;background-position:right;}
.litimg{float:left;width:620px;position:relative;overflow:hidden;margin-top:1px;display:inline;height:94px;}
.litimg ul{position:absolute;top:0;left:0;}
.litimg ul li{float:left;width:143px;height:94px;margin:0 6px;display:inline;text-align:left;}
.litimg ul li.hover{background:url(../images/webgame/focus_cur.png) no-repeat;}
.litimg ul li img{margin-top:6px;width:131px;height:81px;border:1px solid #CACBCC;margin-left:5px;}

/* login */
.w_login{background:url(../images/webgame/login_bg.png) no-repeat;height:178px;font-family:"微软雅黑";font-size:14px;position: relative;overflow: hidden;}
.w_login ul{padding-top:8px;}
.w_login ul li{padding-top:10px;line-height:30px;color:#a6b8ce;vertical-align:middle;}
.w_login ul li .f1{float:left;width:74px;text-align:right;}
.w_login ul li .f2{float:left;margin-left:5px;display:inline;display:inline;}
.w_login ul li a{font-size:12px;margin-left:20px;}
.w_login ul li a:link,.w_login ul li a:visited{color:#77859d}
.w_login .w_input{background:url(../images/webgame/input_bg.png) no-repeat;width:180px;padding:0 4px;border:none;font-size:14px;color:#2e3743;height:30px;line-height:30px;}
.w_btn1{background:url(../images/webgame/login_btn.png);width:93px;height:36px;line-height:34px;font-size:16px;color:#fff;font-family:"微软雅黑";border:none;cursor:pointer}
.w_login p{color:#77859d;padding-top:6px;}

.login_info{padding:10px 20px 0;}
.login_info .pic{float:left;border:1px solid #7488a3;padding:2px;background:#fff;}
.login_info .info{float:left;margin-left:12px;display:inline;text-align:left;font-size:12px;color:#7488a3;line-height:22px;}
.played{padding:10px 10px 5px 20px;}
.played h3{font-size:14px;color:#aebcd2;text-align:left;padding:2px 0;font-weight:400;}
.played dl{padding:5px 0;}
.played dd{float:left;margin-right:6px;width:82px;display:inline;}
.played dd img{width:78px;border:1px solid #7488a3;padding:1px;background:#fff;}
.login_info a:link,.login_info a:visited{color:#33b2fb}
.login_info a:hover,.login_info a:active{color:#a2ddff}

/* match */
.w_match{border-top:1px solid #cdcdcd;background:#91a3b9;text-align:left;}
.w_match .title{height:29px;line-height:29px;padding:0 8px;}
.w_match .title h3{float:left;font-weight:400;font-family:"微软雅黑";font-size:14px;color:#1c1f2b;}
.w_match .title a{float:right;}
.w_match .content{padding:0 8px;}
.w_match .match_box{width:284px;}
.w_match .match_box ul li{margin-bottom:5px;width:264px;height:65px; text-align:left;position:relative;overflow:hidden;vertical-align:middle;}
.w_match .match_box ul li.m1{background:url(../images/webgame/match_bg.png) no-repeat top;}
.w_match .match_box ul li.m2{background:url(../images/webgame/match_bg.png) no-repeat bottom;}
.match_list li .pic{float:left;margin:8px 0 0 8px;display:inline;}
.match_list li .info{float:left;width:118px;margin-left:10px; display:inline;padding:5px 0;color:#FCF0C0;font-family:"微软雅黑";}
.match_list li .info strong{color:#FFB346}
.match_list li.m2 .info strong{color:#C10003}
.match_list li .info h3{color:#3A0000;font-size:12px;padding:2px 0;height:14px;}
.match_list li .bm{float:right;}
.match_list li .star{display:block;margin:8px 4px 0 0;background:url(../images/webgame/star.gif) left;height:16px;}
.match_list li .btn{margin-top:6px;display:block;width:76px;height:30px;line-height:30px;font-family:"微软雅黑";font-size:14px;color:#fff;background:url(../images/webgame/join_btn.png) left;text-align:center;}
.match_list li.m2 .btn{background-position:right;}

/* Tiny Scrollbar */
#scrollbar1 .viewport {width:264px; height: 348px; overflow:hidden; position:relative;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/webgame/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/webgame/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/webgame/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/webgame/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/* hot game list */
.wgame_box{margin-top:4px;}
.wgame_box h3{text-align:left;font-size:15px;font-family:"微软雅黑";color:#404145;padding:8px 0;}
.wgame_box .content{border:1px solid #C5C6CB;background:#fff;}
.wgame_box .tabs{background:url(../images/webgame/title_bg.png) repeat-x top;height:31px;}
.wgame_box .tabs li{float:left;padding:0 40px;display:inline;color:#555;font-weight:bold;line-height:31px;border-right:1px solid #C5C6CB;cursor:pointer;}
.wgame_box .tabs li.cur{background:#fff;border-top:3px solid #000;line-height:28px;}
.wgame_box .list{padding:0 5px 12px;}
.wgame_box .list li{float:left;width:120px;margin:16px 9px 0;display:inline;}
.wgame_box .list li p{line-height:16px;padding-top:4px;color:#888;}
.wgame_box .list li p a{font-weight:bold;}

/* active */
.w_active{border:1px solid #C5C6CB;margin-top:14px;background:#fff;}
.w_active h3{background:url(../images/webgame/title_bg.png) repeat-x bottom;line-height:37px;font-weight:400;height:37px;text-align:left;color:#fff;font-size:15px;font-family:"微软雅黑";padding:0 6px;}
.w_active .content{padding:10px;}
.w_active ul li{float:left;margin:5px 10px;display:inline;width:170px;}
.w_active ul li img{border:1px solid #DAD8DB;padding:3px;width:162px;border-radius:3px;}

/* footer */
.footer{padding:30px 0;line-height:22px;font-family:"微软雅黑";color:#7B7778;background:none;border:none;margin:0;}
.footer .copyright{line-height:22px; text-align:center;width:100%; float:none;border:none;padding:0;}

/* pages */
.page{padding:8px 0;text-align:center;}
.page .holder{display:inline-block;*display:inline;zoom:1;font-family:"微软雅黑";}
.page .holder a{float:left;margin:0 4px;cursor:pointer;display:inline;text-indent:-9999px;background:url(../images/webgame/icon2.png) no-repeat right top;width:12px;height:12px;}
.page a.jp-current{background:url(../images/webgame/icon2.png) no-repeat left top;}
.page a.jp-previous{background:url(../images/webgame/page_arrow.png) no-repeat left;width:6px;}
.page a.jp-next{background:url(../images/webgame/page_arrow.png) no-repeat right;width:6px;}

/* error */
.error_tip{position: absolute;left:0;top:0;font-size:12px;font-family: verdana;background: #77859d;color:#f00;width:100%;display:none;}

/* pop style */
.popbox{font-family:"微软雅黑";width:300px;height:0px;position:fixed;_position:absolute;right:0px;bottom:0;z-index:9999;background:url(../images/webgame/pop_bg.png) repeat-x top #fff;border:1px solid #626262;display:none;}
.popbox .title{padding:6px;}
.popbox .title h3{font-size:14px;font-weight:400;color:#13345a;float:left;}
.popbox .title .close{background:url(../images/webgame/pop_close.png) no-repeat;float:right;width:12px;height:9px;line-height:0;font-size:0;cursor:pointer;}
.popbox .content{padding:2px 10px;text-align:left;}
.popbox p{line-height:24px;color:#333;}
.popbox p span{color:#ff7800;}
.popbox .pop_btn{background:url(../images/webgame/pop_btn.png) no-repeat;width:101px;height:24px;text-align:center;color:#fff;line-height:24px;display:block;margin-top:8px;}