{% extends "game/index.twig" %}
{% set menu_name="用户数据"%}
{% set sidebar_name = "游戏时长" %}
{% block content %}
<section id="main1">
  <div class="page-header">
  	<h2><a href="/user/playtime/1" class="btn {% if id == 1 %} btn-info{% endif %}">昨日数据</a>
  		<a href="/user/playtime/3" class="btn {% if id == 3 %} btn-info{% endif %}">3日数据</a> 
      <a href="/user/playtime/7" class="btn {% if id == 7 %} btn-info{% endif %}">7日数据</a>
  		<a href="/user/playtime/12" class="btn {% if id == 12 %} btn-info{% endif %}">12日数据</a>
  </div>
  <div class="row-fluid">
  	<table class="items table">
<thead>
<tr><th id="app-grid_c0">日期</th>
<th id="app-grid_c0">玩游戏总人数</th><th id="app-grid_c1">玩游戏总时间(小时) </th><th id="app-grid_c2">玩游戏平均时间(分)</th></tr>
</thead>
<tbody>
  	{% for k,v in dataProvider %}
  		<tr class="odd">
    <td>{{ v.date }}</td><td>{{ v.peoples }}</td><td>{{ v.total }} </td><td>{{ v.avg }} </td></tr>
  	{% endfor %}
</tbody>
</table>
  </div>
</section>


{% endblock %}
